.container {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

::after {
    position: absolute;
    content: attr(data-text);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.no-background.slds-spinner_container {
    background: none !important;
}

.center.slds-spinner_container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}