<template>
    <template if:true={showSpinner}>
        <lightning-spinner variant={variant} alternative-text={loadingMessage} size={size} class={cssClass} data-text={loadingMessage}>
        </lightning-spinner>
    </template>
</template>