<!--
  @description       : 
  @author            : Yaneivys Gutierrez
  @group             : 
  @last modified on  : 01-20-2023
  @last modified by  : Yaneivys Gutierrez
-->
<template>
	<lightning-card title={title}>
		<div class="slds-card__body slds-card__body_inner slds-var-m-bottom_large">
			<c-custom-table
				class="customTable"
				table-data={data}
				columns={columns}
			></c-custom-table>
		</div>
	</lightning-card>
</template>