<!-- Display Affiliate Username -->
<template>
    <template if:true={showComponent}>
        <div class="slds-card">
            <div class="slds-form-element slds-m-around_small">
                <label class="slds-form-element__label">Affiliate Username</label>
                <template if:false={containsOlabs}>
                    <div class="slds-form-element__control">
                        <input type="text" id="affiliate" readonly="" placeholder="" class="slds-input" value={affiliateUsername} />
                    </div>
                </template>
                <template if:true={containsOlabs}>
                    <div class="slds-form-element__control" style="color:red">
                        <input type="text" id="affiliate-red" readonly="" placeholder="" class="slds-input" value={affiliateUsername} />
                    </div>
                </template>
            </div>
        </div>
    </template>
</template>