.tooltip {
   position: relative;
   display: inline-block;
   white-space: nowrap !important;
   width: 150px;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
 
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }

.d-flex-row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -ms-flex-pack: justify;
   justify-content: space-between;
   box-sizing: border-box;
}

.card-heading {
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: .625rem;
}

.badge, .badge .fa {
   font-size: .8125rem;
   line-height: 13px;
   line-height: .8125rem;
}
.badge-tertiary {
   color: #212529;
   background-color: #d7d2cb;
}
.badge {
   display: inline-block;
   padding: .25em .4em;
   font-size: 75%;
   font-weight: 500;
   line-height: 1;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: .125rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow 0s ease-in-out;
}
.actionRow{
   line-height: 1.875rem;
   margin-bottom: 10px;
}

.matchName{
   color: #00587C;
   display: inline-block;
   font-size: inherit;
   line-height: 1.25rem;
   font-weight: 600;
}
.matchName :hover{
   text-decoration: underline;
}
.posted-block{
   display: flex;
   -ms-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -ms-flex-pack: start;
   justify-content: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
   margin-bottom: .5rem;
   box-sizing: border-box;
}

.posted-block .label{
   color: #2e1a3d;
   font-size: 10px;
   line-height: 1.5;
   font-weight: 700;
   -ms-flex: 0 0 10%;
   flex: 0 0 10%;
   max-width: 100%;
   padding-right: .625rem;
   flex: 0 0 100%;
   max-width: 35%;
   padding-top: 3px;
}

.posted-block .value{
   color: #000;
   font-size: 12px;
   line-height: 1.5;
   font-weight: 500;
   white-space: normal;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   box-sizing: border-box;
   max-width: 100%;
   word-wrap: break-word;
   word-break: break-word;
}
.posted-block .break-word {
   vertical-align: middle;
   word-wrap: break-word;
   white-space: normal;
   word-break: break-word;
}

.whitelistIcon{
   padding: 3px;
}

.hit-component h3 a {
   display: inline-block;
   font-size: inherit;
   line-height: 1.25rem;
   font-weight: 600
}

.hit-component .card-header {
   padding: .625rem 0
}

.hit-component .card-header h3 {
   display: inline-block;
   padding-right: .625rem;
   margin-bottom: 0
}

.hit-component .card-body .posted-block .label,.hit-component .card-body .posted-info .label {
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 45%
}

.hit-component .card-body .type-alt {
   display: block;
   padding: .3125rem 0
}

.hit-component .posted-item .alert {
   padding: .1875rem .3125rem;
   margin-top: .3125rem
}

.hit-component .alert {
   margin-bottom: .3125rem
}

.hit-component .alert .badge {
   margin: 0 .3125rem
}

.top-badge{
   display: block;
   position: absolute;
   right: 0;
   top: -0.625rem;
   color: #fff;
   z-index: 3;
}
.monitor-status-badge {
   line-height: 13px;
   line-height: .8125rem;
   white-space: normal;
   text-align: left;
   margin: .125rem .3125rem .125rem 0;
   color: #fff;
   margin-left: 6px;
   display: inline-block;
   padding: .25em .4em;
   font-size: 75%;
   font-weight: 500;
   line-height: 1;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: .125rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow 0s ease-in-out;
}
.badge {
   line-height: 13px;
   line-height: .8125rem;
   white-space: normal;
   text-align: left;
   margin: .125rem .3125rem .125rem 0;
   color: #fff;
   margin-left: 6px;
}
.hit-component .badge .badge-text{

}
.badge-added {
   background-color: rgba(0,167,74,.9);
}
.badge-removed {
   background-color: rgba(244,54,76,.9);
}
.badge-updated {
   background-color: rgba(240, 204, 0, 0.9);
}

.hit-component .badge .fa {
   padding-left: .3125rem;
   padding-right: 0
}

.hit-component .tooltip .tooltip-inner {
   font-size: .6875rem
}

.hit-component .custom-input .custom-checkbox .custom-checkbox-label>.custom-checkbox-icon.icon-left {
   margin-right: 0
}

.hit-component .removed-entity {
   cursor: pointer
}

.hit-component .break-word {
   vertical-align: middle;
   word-wrap: break-word;
   white-space: normal;
   word-break: break-word
}

.hit-component .break-word:empty {
   display: none
}

.text-danger {
   color: #f4364c!important;
}

.countries{
   max-height: 68px;
   overflow: overlay;
}

.matchComment{
   color: gray;
   position: relative;
   font-size: smaller;
   padding-left: 4px;
   bottom: 6px;
   cursor: pointer;
}

.matchNamespan{
   cursor: pointer;
}
.commentButton{
   cursor: pointer;
}