<template>
  <div class="card-heading d-flex-row">
    <div class="top-badge">
        <template if:true={match.hasMonitorChanges}>
            <div class={badgeCSSClass}>
                <span class="badgeText">{match.monitorStatus}</span>
            </div>          
         </template>
    </div>
    <div class="badge badge-tertiary">
        {match.entityType}
    </div>
    <div class="checkboxWrapper"> 
        <lightning-input class="slds-p-left_xx-large" 
                        type="checkbox" 
                        data-element="matchCheckbox" 
                        data-id={match.entityId} 
                        label=" " 
                        onchange={selectMatch} checked={match.isSelected}>
        </lightning-input>
    </div>
</div>
<div class="card-persons">
    <div class="hit-component">
        <div class="matchName posted-block">
            <template if:true={match.isInternalHit}>
                <span class="matchNamespan" >{match.name}</span>
            </template>
            <template if:false={match.isInternalHit}>
                <span class="matchNamespan" onclick={openMatchDetailsDialog}>{match.name}</span>
            </template>
             <lightning-icon icon-name="utility:comments" 
             alternative-text="button icon" 
             size="x-small" 
             onclick={openCommentsDialog} 
             class="commentButton slds-m-left_small">
            </lightning-icon>
             <span class="matchComment" onclick={openCommentsDialog}> {match.commentsCount} </span>
            
        </div>
        <template if:false={match.isInternalHit}>
            <div class="matchType posted-block">
                <span class="label">Matched</span>
                <span class="value break-word">{match.amlTypes}</span>
            </div>
            <div class="NameMatchDesc posted-block">
                <span class="label">Relevance</span>
                <span class="value break-word">{match.nameMatchDesc}</span>
            </div>
        </template>
        <template if:true={match.isInternalHit}>
            <div class="matchType posted-block">
                <span class="label">Internal List</span>
                <span class="value break-word">{match.source}</span>
            </div>
            <div class="NameMatchDesc posted-block">
                <span class="label">Notes</span>
                <div class="value break-word internalHitNotes tooltip" title={match.internalHitNotes}>{match.internalHitNotes}
                </div>    
            </div>
            <div class="NameMatchDesc posted-block">
                <span class="label">Id</span>
                <span class="value break-word">{match.internalHitId}</span>
            </div>
        </template>
        <div class="whiteListed posted-block">
            <span class="label">Is Whitelisted</span>
            <span class="value break-word">
                <lightning-icon icon-name={whiteListIconName} title="whitelist-status" size="xx-small" class="whitelistIcon"></lightning-icon>
            </span>
        </div>
        <div class="matchStatus posted-block">
            <span class="label">Match Status</span>
            <span class="value break-word">{match.matchStatus}</span>
        </div>
        <div class="riskLevel posted-block">
            <span class="label">Risk Level</span>
            <span class="value break-word">{match.riskLevel}</span>
        </div>
        <template if:true={match.countries}>
            <div class="riskLevel posted-block">
                <span class="label">Countries</span>
                <span class="value break-word countries">{match.countries}</span>
            </div>
        </template>
        <template if:true={match.dob}>
            <div class="riskLevel posted-block">
                <span class="label">DOB</span>
                <span class="value break-word">{match.dob}</span>
            </div>
        </template>
    </div>
  </div>

  <template if:true={showCommentsDialog}>
    <c-comply-advantage-search-comments search-id={match.searchId}
                                        match-info = {match} 
                                        match-id={match.entityId} 
                                        is-match-comment-dialog={isMatchCommentDialog}
                                        onnewcomment={newCommentHandler} 
                                        onclosecommentsdialog={hideCommentsDialog}>

    </c-comply-advantage-search-comments>
  </template>
  <template if:true={showMatchDetailsDialog}>
    <c-comply-advantage-match-details-component match-detail={match.rawDetail}
                                                onclosematchdetailsdialog={hideMatchDetailsDialog}>
    </c-comply-advantage-match-details-component>
  </template>  
</template>