<template>
  <div if:true={showRecordsList} onclick={onLeave} class="slds-backdrop slds-backdrop_open"></div>
  <div class="slds-form-element">
    <abbr if:true={isRequired} title="required" class="slds-required">*</abbr>
    <label class="slds-form-element__label" for="search-input">{labels.lookupLabel}</label>
    <lightning-helptext if:true={hasHelptext} class="slds-var-m-left_x-small" content={labels.helptext}></lightning-helptext>
    <div class="slds-form-element__control dropdown">
      <div class="slds-combobox_container slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
        <template if:true={selectedValue}>
          <div data-key="pilldiv" class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
            <span class="slds-icon_container slds-icon-standard-account slds-combobox__input-entity-icon" title="object">
              <div class="slds-icon slds-icon_small" aria-hidden="true">
                <lightning-icon icon-name={iconName} size="small"></lightning-icon>
              </div>
            </span>
            <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-id-5" aria-controls="listbox-id-5" role="textbox" readonly value={selectedValue} />
            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" onclick={removeRecordOnLookup}>
              <span class="slds-button__icon" aria-hidden="true">
                <lightning-icon icon-name="utility:close" size="xx-Small" class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"></lightning-icon>
              </span>
            </button>
          </div>
        </template>

        <template if:false={selectedValue}>
          <div data-key="searchdiv" class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
            <input type="text" onfocusin={onFocus} value={searchKey} onkeyup={handleKeyChange} onchange={handleKeyChange} class={searchCssClass} id="search-input" aria-autocomplete="list" aria-controls="listbox-id-2" role="textbox" placeholder={labels.search} autocomplete="off" />
            <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
              <lightning-icon icon-name="utility:search" size="xx-Small" class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"></lightning-icon>
            </span>
          </div>
          <div if:true={showRequired} id="required-message" data-help-message="" role="alert" class="slds-text-color_destructive slds-form-element__help">{labels.required}</div>
          <template if:true={showRecordsList} class="dropdown">
            <div id="listbox-id-2-venu" data-key="dropdownresult" class="slds-show slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid dropdown" role="listbox">
              <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                <template if:true={message} class="slds-p-around_medium">
                  <p class="slds-p-left_small slds-p-top_xx-small slds-p-bottom_xx-small">{message}</p>
                </template>
                <template for:each={recordsList} for:item="record">
                  <li id={record.Id} key={record.Id} data-id={record.Id} data-name={record.Name} onclick={handleRecordSelection} role="presentation" class="slds-listbox__item">
                    <div data-key={record.Id} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                      <span class="slds-media__figure slds-listbox__option-icon">
                        <span class="slds-icon_container">
                          <lightning-icon icon-name={iconName} size="small"></lightning-icon>
                        </span>
                      </span>
                      <span class="slds-media__body">
                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">{record.Name}</span>
                        {record.Description}
                      </span>
                    </div>
                  </li>
                </template>
                <li id="new-record" onclick={createRecord} role="presentation" class="slds-listbox__item">
                  <div class="slds-media__body  slds-media slds-listbox__option slds-listbox__option_plain slds-media_small">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container">
                        <lightning-icon icon-name="utility:add" size="xx-small"></lightning-icon>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      {labels.newRecordLabel}
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
</template>