<template>
	<!-- sldsValidatorIgnoreNextLine -->
 	<lightning-quick-action-panel if:false={isDone}
	 	header="Send to Comply Advantage">
		<div class="slds-is-relative">
			<p class="slds-var-m-bottom_x-small">
				A new search will be created and monitored
				in Comply Advantage. All existing searches
				related to this record will be turned off
				and the new search will be turned on.
			</p>
			<p>
				Are you sure you want to continue?
			</p>

			<lightning-spinner if:true={isLoading}
				alternative-text="Working"
				size="medium"></lightning-spinner>
		</div>
		<div slot="footer"
			class="slds-text-align_center">
			<lightning-button variant="brand"
				label="Continue"
				disabled={isDisabled}
				onclick={handleContinueClick}></lightning-button>

			<lightning-button variant="neutral"
				label="Cancel"
				onclick={handleCancelClick}
				class="slds-var-m-left_small"></lightning-button>
		</div>
	</lightning-quick-action-panel>
	<!-- sldsValidatorIgnoreNextLine -->
	<lightning-quick-action-panel if:true={isDone}>
		<div if:true={isSuccess}
			class="slds-media">
			<div class="slds-media__figure">
				<lightning-icon icon-name="utility:success"
					alternative-text="Success!"
					variant="success"
					title="Success!"
					size="small"></lightning-icon>
			</div> 
			<div class="slds-media__body">
				<h2 class="slds-text-heading_small
						slds-var-m-bottom_xx-small">Success!</h2>
				<p>
					The operation completed successfully.
					A Comply Advantage Search has bee created
					and turned on based and linked to this record.
				</p>
			</div>
		</div>
		<div if:false={isSuccess}
			class="slds-media">
			<div class="slds-media__figure">
				<lightning-icon icon-name="utility:error"
					alternative-text="Error!"
					variant="error"
					title="Error!"
					size="small"></lightning-icon>
			</div> 
			<div class="slds-media__body">
				<h2 class="slds-text-heading_small
						slds-var-m-bottom_xx-small">There was a problem!</h2>
				<p>{message}</p>
			</div>
		</div>
	</lightning-quick-action-panel>
</template>