<!--
  @description       : 
  @author            : OANDA
  @group             : 
  @last modified on  : 02-06-2023
  @last modified by  : Dianelys Velazquez
-->
<template>
	<lightning-card title="Legacy Ticket History" icon-name="standard:call_history">
		<div if:false={error} style="height: 300px;">
			<lightning-datatable
					key-field="Id"
					data={historyList}
					columns={columns}
					hide-checkbox-column>
			</lightning-datatable>
		</div>
		<div if:true={error}
			class="slds-scoped-notification slds-media slds-media_center slds-var-m-around_x-small" role="status">
			<div class="slds-media__figure">
			  <span class="slds-icon_container slds-icon-utility-error" title="error">
				<lightning-icon icon-name="utility:error"></lightning-icon>
				<span class="slds-assistive-text">error</span>
			  </span>
			</div>
			<div class="slds-media__body">
				<p>There was an error parsing Legacy Ticket History field.</p>
				<p>{error}</p>
			</div>
		</div>
	</lightning-card>
</template>