<template>
  <div class="slds-hide" data-id="modal-container">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
      <div class={modalContainerClass}>
        <header class="slds-modal__header">
          <lightning-button-icon class="slds-modal__close" alternative-text="Close" variant="bare" icon-name="utility:close" icon-class="slds-button_icon-inverse" onclick={handleDialogClose}></lightning-button-icon>
          <template if:true={hasHeaderString}>
            <h2 class="slds-text-heading_medium slds-hyphenate header-string" id="modal-heading-01">
              {header}
            </h2>
          </template>
          <template if:false={hasHeaderString}>
            <h2 class="slds-text-heading_medium slds-hyphenate header-slot">
              <slot name="header"></slot>
            </h2>
          </template>
          <p class="slds-m-top_x-small slds-hide" data-id="modal-tagline">
            <slot name="tagline" onslotchange={handeSlotTaglineChange}></slot>
          </p>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          <slot name="content"></slot>
        </div>
        <footer class="slds-modal__footer slds-hide" data-id="modal-footer">
          <slot name="footer" onslotchange={handleSlotFooterChange}></slot>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </div>
</template>