.wide-modal-container {
  max-width: 70% !important;
  width: 70% !important;
}

.medium-modal-container {
  max-width: 55% !important;
  width: 55% !important;
}

.slds-modal {
  z-index: 9011;
}
:host {
  --lwc-zIndexModal: 9010;
}