<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
        <div class="slds-modal__container commentsDialog">
            <header class="slds-modal__header">
                <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeWindow} alternative-text="close"></lightning-button-icon>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{matchInformation.name}</h2>
            </header>
            <div class="slds-modal__content slds-var-p-around_medium"
					id="modal-content-id-1">
                <lightning-tabset variant="scoped">
                    <lightning-tab label="Key Data">
                        <lightning-card class="card" variant="Narrow"  title="Key Information" icon-name="standard:account">
                            <template for:each={matchInformation.keyInfoList} for:item="keyInfo">
                                <div key={keyInfo.id}>
                                    <div class="infoRow">
                                        <span class="label">{keyInfo.label}</span>
                                        <span class="value">{keyInfo.value}</span>
                                    </div>
                                </div>
                            </template>
                        </lightning-card>
                        <lightning-card class="card"
							variant="Narrow"
							title="Listing"
							icon-name="standard:account">
							<template if:true={isLoading}>
								<div class="slds-is-relative
										slds-var-p-around_large">
									<lightning-spinner></lightning-spinner>
								</div>
							</template>
                            <template for:each={sourceList}
								for:item="source">
                                <div key={source.id}
									class="slds-var-m-bottom_large">
                                    <div class="sourceTitleWrapper">
                                        <span class="sourceName">
                                            {source.name}
                                        </span>
                                        <span class="token"
											title={source.category}>{
												source.categoryGroup}</span>
                                    </div>
                                    <template for:each={source.list}
										for:item="sourceField">
                                        <div key={sourceField.id}>
                                            <div class="infoRow">
                                                <span class="label">{
													sourceField.label}</span>
                                                <span class="value">{
													sourceField.value}</span>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </lightning-card>
                    </lightning-tab>
                    <lightning-tab label="Adverse Media">
						<template if:true={isLoading}>
							<div class="slds-is-relative
									slds-var-p-around_large">
								<lightning-spinner></lightning-spinner>
							</div>
						</template>
						<template if:false={isLoading}>
							<div if:false={mediaList.length}
								class="slds-text-align_center
									slds-var-p-around_large">
								No media entries found.
							</div>
						</template>
						<template for:each={mediaList}
                            for:item="mediaSource">
                            <div key={mediaSource.id}
                                class="card">
                                <div class="sourceWrapper">
                                    <h3>
										<lightning-formatted-url
											value={mediaSource.url}
											label={mediaSource.title}
											target="_blank"></lightning-formatted-url>
                                    </h3>
                                </div>
                                <div class="articlePublishedDate">
                                    <span>Published {mediaSource.publishedInfo}</span>
                                </div>
                                <div class="articleSnippet">
                                    <span>{mediaSource.snippet}</span>
                                </div>
                            </div>
                        </template>
                    </lightning-tab>
                </lightning-tabset>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>