.card {
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2), 0 0 2px 0 rgba(0,0,0,.14), 0 2px 4px 0 rgba(0,0,0,.12);
    background-color: #fff;
    padding: .9375rem;
    border: 0;
    margin-bottom: .9375rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .125rem;
}
.infoRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: .5rem;
    box-sizing: border-box;
}

.infoRow .label {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    color: #2e1a3d;
    font-size: .75rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 0;
    padding-right: .625rem;
}

.infoRow .value{
    margin-right: .3125rem;
    color: #000;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0;
    word-wrap: break-word;
    word-break: break-word;
}
.sourceTitleWrapper{
    margin-bottom: 10px;
}
.sourceName{
    color: #00587c;
    line-height: 1.125rem;
    display: inline-block;
    vertical-align: baseline;
    white-space: normal;
    font-size: 14px;
    font-weight: bold;
}

.token {
    color: #e07c5b;
    background-color: #fff;
    font-size: 12px;
    line-height: 13px;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .125rem;
    border: 1px solid #e07c5b;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow 0s ease-in-out;
    margin-left: 10px;
}

.articlePublishedDate {
    display: inline-block;
    color: #333;
    line-height: normal;
    font-size: .75rem;
    font-weight: 400;
}
.articleSnippet{
    color: #000;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    padding: .3125rem 0;
    margin-bottom: 0;
}