.nfchatChatBot .nf-chat-ChatButton {
    max-width: 90px;
    max-height: 90px;
    padding-bottom: 0;
}
.nfchatChatBot .widthWrapper.open-button{
	bottom: 10px !important;
}
.nfchatChatBot .nf-Bottom-Right {
	bottom: 5em !important;
	right: 6em !important;
}
.nfchatChatBot .button-text>.buttontext {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.slds-scope img.nfchatChatButton {
	width: 100px;
}
.nfchatChatBot .button-text {
	z-index: 1500;
	color: #00d37e !important;
}
.rich-card .rich-card-header .nf-arrow-min-width {
	height: 30px;
	line-height: 0;
}
.nfchatChatBotContainer .rich-card-body-image>img {
    width: 90%;
}
.rich-card .rich-card-body .rich-card-body-image {
	margin: auto;
	text-align: center;
}
.nfchatChatBot h1 {
	font-size: 36px !important;
	line-height: 39.6px;
	margin-bottom: 10px !important;
	margin: 0.67em 0;
}
h3.cardTitle {
	color: #02A5E6;
	width: auto !important;
}
h4.slds-text-color--inverse {
	font-size: 1.5em !important;
}
p.slds-float--left.textWrap.slds-badge {
	border-radius: 10px;
	background-color: #02A5E6 !important;
	color: white;
}
li.rich-card {
	box-shadow: 1px 1px 6px #cccccc !important;
}
button.rich-card-footer-button {
	border-radius: 25px !important;
	border: 1px solid #02A5E6 !important;
	color: #02A5E6 !important;
}
button.slds-button.slds-button--brand.floating-cta.elementBackgroundOverride {
	border-radius: 25px;
}
button.slds-button.send-button.slds-button--icon-bare.slds-button--icon-inverse.nfchatChatBotContainerInput {
	border: 0 !important;
}
i.fi-arrow-right.icon-x-large {
	width: auto !important;
}
.nfchatChatBotContainer.slds-docked-composer__body {
	max-height: calc(100% - 133px) !important;
	background-color: white !important;
}
.floating-button-wrapper.proactive {
	visibility: hidden;
}
.slds-scope .slds-avatar_medium, .slds-scope .slds-avatar--medium {
	width: 32px !important;
	height: 32px !important;
}
.uiInput--textarea .textarea, .uiInput--textarea.textarea {
	height: auto !important;
	background-color: rgb(255, 255, 255) !important;
	color: #333 !important;
	border: 1px solid #d4d4d4 !important;
	border-radius: .25rem !important;
	width: 100% !important;
	-webkit-transition: border .1s linear, background-color .1s linear !important;
	transition: border .1s linear, background-color .1s linear !important;
	resize: vertical !important;
	padding: 3px 45px 5px 4px !important;
}
.nfchatChatBot .elementBackgroundOverride {
	background-color: #00214A !important;
	z-index: 99999 !important;
}
.nfchatFloatingMessageInput.floating-message-body {
	color: black !important;
	font-size: 1.4em !important;
}
.floating-message-wrapper.slds-transition-show {
	width: 320px !important;
	height: 160px !important;
	position: fixed !important;
	right: 15px !important;
	bottom: 15px !important;
	top: auto !important;
	z-index: -1 !important;
	visibility: visible !important;
}
.nfchatFloatingMessageInput.floating-message-body {
	padding-top: 15px !important;
}
.slds-float--right.slds-button--brand.slds-badge.textWrap.slds-m-left--x-large {
	border-radius: 10px;
	background-color: #b5b5b5 !important;
}
.nfchatChatBotContainer .rich-card-footer-button:hover {
	background: #02A5E6 !important;
	color: white!important;
}
.floating-message-footer.nfchatFloatingMessageInput {
	padding-bottom: 15px !important;
}
.floating-message-body.nfchatFloatingMessageInput {
	padding-top: 20px !important;
	color: #5f5f5f !important;
}
.floating-message-wrapper.on-screen {
	position: fixed !important;
	bottom: 10px !important;
	right: 10px !important;
}
.iconHeight {
	height: 20px !important;
}
.nfchatChatBotContainer .dotOne, .nfchatChatBotContainer .dotTwo, .nfchatChatBotContainer .dotThree {
	background-color: white !important;
}
.nfchatChatBotContainer .outputRichRecieve a {
	color: white !important;
	font-style: italic !important;
	text-decoration: none !important;
}
.nfchatChatBotContainerInput .nf-send-button {
	bottom: 30px !important;
}
.nfchatChatBotContainer.slds-modal__footer {
	height: 90px !important;
}
.nfchatChatBotContainer .outputRichRecieve a {
	color: #0084ff !important;
	font-style: normal !important;
}
.nfchatChatBotContainer .disabled-quick-reply-button {}
.nfchatChatBotContainer .buttonStyle {
	font-size: 16px;
}
.quick-reply-button-light {
	color: #00a060 !important;
	border-color: #00a060 !important;
}
.quick-reply-button-light:hover {
	background-color: #7fd3b2 !important;
	color: #00804d !important;
	border-color: #00804d !important;
}
.nfchatChatBotContainer .disabled-quick-reply-button {
	background-color: #96c93d73 !important;
	background-color: #ececec !important;
	color: #b9b9b9 !important;
	border-color: #e2e2e2 !important;
}
.nfchatChatBotContainer .selected-quick-reply-button {
	background-color: #00a060 !important;
	color: #000 !important;
	border-color: #000 !important;
}
.nfchatChatBotContainer .quick-reply-button-light {
	padding: 3px 13px 3px 13px !important;
}
.nfchatChatBot footer.elementBackgroundOverride {
	background-color: #e1e2e2 !important;
	margin: 0;
}
.nfchatChatBotContainer .user-message {
	background-color: #bff4df !important;
	color: black !important;
	border: none;
}
.nfchatChatBotContainer .bot-message {
	background-color: #e5e5e5 !important;
	color: black;
}
.nfchatChatBotContainerInput.chatbotContainerWrapper .max-text-limit {
	color: #444444 !important;
}
.nfchatChatBotContainer .rich-card-wrapper {
	width: 115% !important;
}
.nfchatChatBotContainer .rich-card {
	border-radius: 3px !important;
	border: 1px solid #c5c5c5 !important;
	width: 355px !important;
	height: auto !important;
}
.nfchatChatBotContainer .rich-card-body {
	padding: 0 !important;
	height: auto !important;
	width: 100% !important;
}
.nfchatChatBotContainer .rich-card-body-text {
	text-align: left !important;
	width: 100%;
	font-size: 15px;
	border-top: 1px solid #ccc;
	padding: 7px 0 0 0 !important;
	margin-top: 7px;
}

/* ---------------------- NF Cards ---------------------- */
	.nfchatChatBotContainer .nf-card {
	    vertical-align: top !important;
	}
	.nfchatChatBotContainer .nf-cards-container {
	    border-radius: 5px !important;
	    box-shadow: 0 0 5px rgba(0,0,0,0.19) !important;
	    border: 1px solid #ddd !important;
	}
	.nfchatChatBotContainer .nf-card-text {
        word-break: break-word !important;
		word-break: inherit !important;
	}
	.nfchatChatBotContainer .nf-dot {
		border: none !important;
	    background-color: #d5d5d5 !important;
	    box-shadow: none !important;
	}
	.nfchatChatBotContainer .nf-dot-selected {
	    background-color: #00D37e !important;
	}
	.nfchatChatBotContainer .nf-arrow {
		border-color: #00D37e !important;
	}

.nfchatChatBotContainer .nf-notification-image {
    width: 35px !important;
}

.nfchatChatBotContainer .cardTitle {
	font-size: 16px;
}
.nfchatChatBotHeader .slds-live-agent-name {
	font-size: 18px !important;
}
@media only screen and (max-width: 400px) {
	.rich-card-wrapper {
		width: 150% !important;
		margin-left: -90px !important;
		left: 3px !important;
	}
	.nfchatChatBotContainer .nf-cards-container,
    .nfchatChatBotContainer .nf-card {
	    width: 232px !important;
	}
}
@media only screen and (max-width: 720px) {
	.nfchatChatBotContainerInput .nf-send-button {
		bottom: 30px !important;
    	font-size: 85% !important;
	}
}
@media only screen and (max-width: 500px) {
	.nfchatChatBot .floating-button-wrapper {
	    bottom: -15px !important;
    	right: -5px !important;
	}
}

::-webkit-input-placeholder {
	font-size: 16px !important;
}