<template>
    <lightning-card title="Partner Profiles" lwc:if={profiles}>
        <div class="slds-m-around_medium">
            <lightning-datatable
                key-field="id"
                data={profiles}
                columns={columns}
                show-row-number-column
                resize-column-disabled	
                hide-checkbox-column>
            </lightning-datatable>
        </div>
    </lightning-card>
</template>