<!-- Users Queues Management -->
<template>
    <template if:true={hasManageQueuePermission}>
        <lightning-card  variant="narrow"  title="Manage Queues:" icon-name="standard:queue">
            <lightning-dual-listbox class="slds-p-around_small"
                                    disable-reordering
                                    label="Select Queues"
                                    name="queues"
                                    onchange={handleChange}
                                    options={options}
                                    selected-label="Selected Queues"
                                    source-label="Available Queues"
                                    value={values}
            ></lightning-dual-listbox>
            <div slot="footer" >
                <lightning-button class="slds-var-p-around_medium" variant="neutral" label="Cancel" onclick={loadQueues} disabled={queueNotUpdated}></lightning-button>
                <lightning-button class="slds-var-p-around_medium" variant="brand" label="Save" onclick={saveQueue} disabled={queueNotUpdated}></lightning-button>
            </div>
            <template if:true={displaySpinner}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
        </lightning-card>
    </template>
</template>