<template>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <label class="slds-form-element__label" for="comboboxid1">
                {title}
            </label>
            <div class="slds-combobox_container">
                <div class={dropdownClass} aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <input type="text" class="slds-input slds-combobox__input" id="comboboxid1"
                            aria-controls="listbox-id-1" autocomplete="off" role="textbox" placeholder={placeholder}
                            value={selectedvalue} onfocus={handleFocus} />
                        <template if:false={isOpen}>
                            <span
                                class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"
                                    aria-hidden="true">
                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#down"></use>
                                </svg>
                            </span>
                        </template>
                        <template if:true={isOpen}>
                            <a>
                                <span
                                    class="slds-icon_container slds-icon-utility-close slds-input__icon slds-input__icon_right"
                                    style="pointer-events: all;">
                                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"
                                        aria-hidden="true" onclick={closeDropdown}>
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                </span>
                            </a>
                        </template>
                    </div>
                    <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid"
                        role="listbox" onblur={closeDropdown}>
                        <ul class="slds-listbox slds-listbox_vertical" 
                            role="presentation">
                            <template for:each={values} for:item="item">
                                <c-combobox-multi-item key={item.value}
                                    role="option"
                                    item={item}
                                    checked={item.selected}
                                    onchecked={handleOnChecked}
                                    onunchecked={handleOnUnchecked}>
                                </c-combobox-multi-item>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>