<template>
    <template if:true={isLoading}>
        <div class="exampleHolder">
            <lightning-spinner alternative-text="Loading" size="x-small"></lightning-spinner>
        </div>
    </template>
    <template if:false={isLoading}>
        <lightning-card title="Rejection Codes Description">
            <div class="slds-m-around_medium">
                <template if:true={customMetadataList}>
                    <lightning-datatable
                        key-field="Id"
                        data={customMetadataList}
                        columns={columns}
                        hide-checkbox-column="true"
                        column-widths-mode="auto">
                    </lightning-datatable>
                </template>
            </div>
        </lightning-card>
    </template>
    
</template>