<!--
  @description       : 
  @author            : Ariel Niubo
  @group             : 
  @last modified on  : 07-20-2022
  @last modified by  : Ariel Niubo
-->
<template>
	<div class="slds-form-element">
		<lightning-combobox name={name} label={label} value={value} required={required}
			read-only={readOnly} options={options} placeholder={placeholder}
			onchange={handleChange} onfocus={handleFocus}>
		</lightning-combobox>
	</div>
	<template if:true={errorMessage}>
		<div class="slds-has-error">
			<div id="help-text" data-help-text class="slds-form-element__help"
				aria-live="assertive">
				{errorMessage}
			</div>
		</div>
	</template>
</template>