<template >
    <li key={item.value} 
        id={item.value} 
        data-value={item.value}
        class="slds-listbox__item"
        title={item.label} 
        onclick={handleClick}>
        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
            role="option">
            <span class="slds-media__figure slds-listbox__option-icon">
                <template if:true={checked}>
                    <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#check"></use>
                        </svg>
                    </span>
                </template>
            </span>
            <span class="slds-media__body">
                <span class="slds-truncate" title={item.label}>{item.label}</span>
            </span>
        </div>
    </li>
</template>