<!--
  @description       : 
  @author            : William Garcia
  @group             : 
  @last modified on  : 12-15-2022
  @last modified by  : Dianelys Velazquez
-->
<template>
    <div class="slds-is-relative">
        <!-- Text -->
        <lightning-input
            if:true={field.isText}
            type="text"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}>
        </lightning-input>
        <!-- Email -->
        <lightning-input
            if:true={field.isEmail}    
            type="email"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}>
        </lightning-input>
        <!-- Phone -->
        <lightning-input
            if:true={field.isPhone}    
            type="tel"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}>
        </lightning-input>
        <!-- Number -->
        <lightning-input
            if:true={field.isNumber}   
            type="number"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}>
        </lightning-input>
        <!-- Date -->
        <lightning-input
            if:true={field.isDate}    
            type="date"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}>
        </lightning-input>
        <!-- Datetime -->
        <lightning-input
            if:true={field.isDateTime}
            type="datetime"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}>
        </lightning-input>
        <!-- Checkbox -->
        <lightning-input
            if:true={field.isCheck}
            type="checkbox"
            label={field.label}
            value={field.value}
            disabled={field.readOnly}
            onchange={updateDetail}
            data-field-name={field.name}
            data-is-check={field.isCheck}
            checked={field.value}>
        </lightning-input>
        <!-- Textarea -->
        <lightning-textarea
            if:true={field.isTextArea}    
            name={field.name}
            label={field.label}
            value={field.value}
            data-field-name={field.name}
            disabled={field.readOnly}
            onchange={updateDetail}>
        </lightning-textarea>
        <!-- Combobox -->
        <lightning-combobox   
            if:true={field.isPicklist}
            name={field.name}
            label={field.label}
            value={field.value}
            placeholder="Select"
            options={options}
            data-field-name={field.name}
            disabled={field.readOnly}
            onchange={updateDetail}>
        </lightning-combobox>
        <!-- Error -->
        <div class="slds-text-color_error">
            {error}
        </div>
        <!-- Spinner -->
        <lightning-spinner
            if:true={loading}
            alternative-text="Loading"
            size="small">
        </lightning-spinner>
    </div>
</template>