<template>
    <lightning-layout multiple-rows="true" class="slds-box full-height">
        <lightning-layout-item size="1" small-device-size="3" medium-device-size="2" large-device-size="1" class="">
            <div class="left-labels">
                <span class="standardFieldLabel uiPicklistLabel-left form-element__label uiPicklistLabel"
                    data-aura-class="uiPicklistLabel">
                    <span>From</span>
                    <span class="required " title="required">*</span>
                </span>
            </div>
        </lightning-layout-item>
        <lightning-layout-item size="11" small-device-size="9" medium-device-size="10" large-device-size="11"
            class="slds-p-left_small slds-m-bottom_small">
            <c-picklist class="" data-id="from-input" onchange={handleFromChange} options={fromOptions} label="From"
                placeholder="" hidelabel="true">
            </c-picklist>
        </lightning-layout-item>
        <lightning-layout-item size="1" small-device-size="3" medium-device-size="2" large-device-size="1" class="">
            <div class="left-labels">
                <span class="standardFieldLabel uiPicklistLabel-left form-element__label uiPicklistLabel"
                    data-aura-class="uiPicklistLabel">
                    <span>To</span>
                    <span class="required " title="required">*</span>
                </span>
            </div>
        </lightning-layout-item>
        <lightning-layout-item size="11" small-device-size="9" medium-device-size="10" large-device-size="11"
            class="slds-p-left_small slds-m-bottom_small">
            <c-email-recipient-input data-id="to-emails-input" object-api-name="Account" parent-api-name="Name"
                field-api-name="Id" icon-name="standard:account" show-bcc-button=true show-cc-button=true
                onopenbcc={displayBccInput} onopencc={displayCcInput} selected-emails={toAddresses}
                onemailschanged={handletoAddressesChange}>
            </c-email-recipient-input>
        </lightning-layout-item>
        <lightning-layout-item if:true={showCcInput} size="1" small-device-size="3" medium-device-size="2"
            large-device-size="1" class="">
            <div class="left-labels">
                <span class="standardFieldLabel uiPicklistLabel-left form-element__label uiPicklistLabel"
                    data-aura-class="uiPicklistLabel">
                    <span>Cc</span>
                </span>
            </div>
        </lightning-layout-item>
        <lightning-layout-item if:true={showCcInput} size="11" small-device-size="9" medium-device-size="10"
            large-device-size="11" class="slds-p-left_small slds-m-bottom_small">
            <c-email-recipient-input data-id="cc-emails-input" object-api-name="Account" parent-api-name="Name"
                field-api-name="Id" icon-name="standard:account" onemailschanged={handleCcAddressesChange}>
            </c-email-recipient-input>
        </lightning-layout-item>
        <template if:true={showBcc}>
            <lightning-layout-item size="1" small-device-size="3" medium-device-size="2" large-device-size="1" class="">
                <div class="left-labels">
                    <span class="standardFieldLabel uiPicklistLabel-left form-element__label uiPicklistLabel"
                        data-aura-class="uiPicklistLabel">
                        <span>Bcc</span>
                    </span>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="11" small-device-size="9" medium-device-size="10" large-device-size="11"
                class="slds-p-left_small slds-m-bottom_small">
                <c-email-recipient-input data-id="bcc-emails-input" object-api-name="Account" parent-api-name="Name"
                    field-api-name="Id" icon-name="standard:account" onemailschanged={handleBccAddressesChange}>
                </c-email-recipient-input>
            </lightning-layout-item>
        </template>
        <lightning-layout-item size="1" small-device-size="3" medium-device-size="2" large-device-size="1" class="">
            <div class="left-labels">
                <span class="standardFieldLabel uiPicklistLabel-left form-element__label uiPicklistLabel"
                    data-aura-class="uiPicklistLabel">
                    <span>Subject</span>
                    <span class="required " title="required">*</span>
                </span>
            </div>
        </lightning-layout-item>
        <lightning-layout-item size="11" small-device-size="9" medium-device-size="10" large-device-size="11"
            class="slds-p-left_small slds-m-bottom_small">
            <lightning-input data-id="subject-input" type="text" value={emailSubject} onchange={handleSubjectChange} variant="label-hidden"
                placeholder="Enter Subject..." required>
            </lightning-input>
        </lightning-layout-item>

        <lightning-layout-item size="12" small-device-size="12" medium-device-size="12" large-device-size="12" class="">
            <div onkeypress={handleKeyPress} onkeydown={handleKeyDown}>
                <iframe
                    src='/apex/RichInputContainer'
                    height="350px"
                    width="100%"
                    title="POC"
                    style="overflow: hidden;border-radius: 10px; border-width: 1px;"
                ></iframe>
            </div>

        </lightning-layout-item>
        <lightning-layout-item size="12" small-device-size="12" medium-device-size="12" large-device-size="12"
            class="slds-m-top_x-small">
            
            <lightning-input style="float: left;"  type="toggle" label="Include Disclaimer" name="input3" checked={disclaimerToggleValue} onchange={handleDisclaimerToggleChange} disabled={disclaimerToggleDisabled} message-toggle-active="Yes" message-toggle-inactive="No"></lightning-input>
            <lightning-button style="float: right;" class="slds-m-left_small" label="Insert Template" icon-name="utility:insert_template"
                icon-position="left" onclick={openTemplateModal}>
            </lightning-button>
            <lightning-button style="float: right;" label="Preview " icon-name="utility:preview"
                icon-position="left" onclick={openPreviewModal}>
            </lightning-button>
        </lightning-layout-item>       
        <lightning-layout-item size="12" small-device-size="12" medium-device-size="12" large-device-size="12" >
            <lightning-file-upload label="Attach file" name="fileUploader" onuploadfinished={handleUploadFinished}
                multiple>
            </lightning-file-upload>
            <template for:each={files} for:item="file">
                <div key={file.documentId} data-key="pilldiv"
                    class="slds-m-top_xx-small slds-box slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right file-pill"
                    role="none">
                    <div class="slds-icon slds-icon_small" aria-hidden="true">
                        <lightning-icon icon-name="doctype:attachment" size="small"></lightning-icon>
                    </div>
                    <p class="slds-truncate" style="line-height: 1.5rem;max-width:10rem;">
                        {file.name}</p>
                    <div onclick={removeFile} data-key={file.documentId} key={file.documentId} id={file.documentId}>
                        <lightning-button-icon class="slds-m-left_x-small" style="line-height: 1.3rem;"
                            icon-name="utility:close" variant="bare" alternative-text="Settings" title="Settings">
                        </lightning-button-icon>
                    </div>
                </div>
            </template>
        </lightning-layout-item>
        <lightning-layout-item size="4" small-device-size="6" medium-device-size="5" large-device-size="4"
            class="slds-m-top_medium">
            <c-lookup-lwc data-id="related-to-lookup" selected-record-id={currentRecord} selected-value={recordName}
                object-api-name={relatedToSObject} parent-api-name={relatedToSObject} field-api-name="Id"
                icon-name={relatedToIcon} onrecordselection={handleRelatedToSelection} label-override="Related To">
            </c-lookup-lwc>
        </lightning-layout-item>

        <lightning-layout-item size="8" small-device-size="6" medium-device-size="7" large-device-size="8"
            class="slds-m-top_medium">
            <lightning-button class="slds-m-right__large  slds-m-top__large" style="float: right;" label="Send"
                variant="brand" onclick={sendEmail}>
            </lightning-button>
            <template if:true={showSendButtonSpinner}>
                <lightning-spinner alternative-text="" size="medium"></lightning-spinner>
            </template>
        </lightning-layout-item>
    </lightning-layout>

    <c-modal data-id="modal" wide-modal={showPreviewModal}>
        <template if:true={showTemplateModal}>
            <div slot="header">Insert Email Template</div>
            <div slot="content" style="height: 20rem;">  
                <lightning-layout class="slds-align_absolute-center slds-p-bottom_large slds-p-left_small slds-p-right_small">
                    <lightning-layout-item size="4" class="slds-m-right_medium" >
                        <c-picklist class="" data-id="folder-input" onchange={handleTemplateFolderChange} options={templateFolders} label="Template Folder"
                            placeholder="">
                        </c-picklist>
                    </lightning-layout-item>
                    <lightning-layout-item size="8" >
                        <div class="slds-m-top_xx-small" >
                            <c-lookup-lwc  data-id="search-template-lookup" selected-record-id={currentTemplate} selected-value={templateName}
                            object-api-name="EmailTemplate" field-api-name="Id"
                            icon-name="standard:email" onrecordselection={handleTemplateSelection} label-override="Email Template" class="template-search" record-id={recordId}
                            extra-fields={templateSearchExtraFields}  filters={templateLookupFilters}> 
                            </c-lookup-lwc>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
               
                <template if:true={transaltedTemplateFound} >
                    <div class="found-translated-message slds-align_absolute-center slds-text-color_inverse slds-m-around_medium"> 
                        <span>
                            <lightning-icon icon-name="utility:info" variant="warning" size="xx-small"
                                class="translated-info-icon slds-m-right_x-small">
                            </lightning-icon>
                        </span>
                        We found a translated version for this template that meets the Client's preferred language, do you want to use that one instead?
                    </div>
                </template>
            </div>
            <div slot="footer">
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item size="10">
                        <div style="float:left;">

                            <p style="text-align: center;">
                                <span>
                                    <lightning-icon icon-name="utility:warning" variant="warning" size="xx-small"
                                        class="slds-m-right_x-small">
                                    </lightning-icon>
                                </span>
                                Inserting a template will override the current Body and Subject.
                            </p>
                            <p  style="text-align: initial;" class="slds-m-top_small">Client's prefered language: <b>{languagePreference}</b></p>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="2">
                        <div style="float:right;">
                            <lightning-input style="float: right;"  type="toggle" label="Add Signature" name="input3" checked={addSignatureToggleValue} onchange={handleAddSingatureToggleChange} message-toggle-active="Yes" message-toggle-inactive="No"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" class="slds-m-top_medium">

                        <lightning-button disabled={enableMergeBtn} class="slds-m-right_small slds-is-relative"
                            data-id="insertMerge" onclick={insertTemplateMerge} label="Insert" title="Insert"
                            variant="brand">
                            <template if:true={showMergeButtonSpinner}>
                                <lightning-spinner alternative-text="" size="x-small"></lightning-spinner>
                            </template>
                        </lightning-button>
                        <lightning-button if:true={transaltedTemplateFound} disabled={enableMergeBtn} class="slds-m-right_small slds-is-relative"
                            data-id="insertMerge" onclick={insertTranslatedTemplateMerge} label="Insert Translated" title="Insert Translated"
                            variant="brand">
                            <template if:true={showMergeButtonSpinner}>
                                <lightning-spinner alternative-text="" size="x-small"></lightning-spinner>
                            </template>
                        </lightning-button>
                        <lightning-button data-id="modalcancel" onclick={closeTemplateModal} label="Cancel" title="Cancel">
                        </lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </template>
        <template if:true={showPreviewModal}>
            <div slot="header">
                <p>Preview</p>
                
            </div>
            
            <div slot="content" class="slds-align_absolute-center" >  
                <lightning-layout multiple-rows="true" style="border-top: 1px grey; min-width: 800px;" >
                    <lightning-layout-item size="2" class="slds-m-bottom_small slds-p-left_large" small-device-size="6" medium-device-size="3" large-device-size="1" >
                        <div class="left-labels ">
                            <span class="standardFieldLabel uiPicklistLabel-left form-element__label uiPicklistLabel"
                                data-aura-class="uiPicklistLabel">
                                <span>Subject</span>
                            </span>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="10" small-device-size="6" medium-device-size="9" large-device-size="11"
                        class="slds-p-left_small left-labels ">
                        <p><b>{subject}</b></p>
                    </lightning-layout-item>
                    <lightning-layout-item size="12"
                        class="slds-p-left_small slds-m-bottom_small slds-border_top slds-p-top_large">
                        <div style={previewStyle}>
                            <lightning-formatted-rich-text class="preview-body"  value={previewBody}></lightning-formatted-rich-text>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
            <div slot="footer">
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item size="12" class="slds-m-top_medium">

                        <lightning-button class="slds-m-right_small slds-is-relative"
                            data-id="insertMerge" label="Send"
                            variant="brand" onclick={sendEmail}>
                            <template if:true={showSendButtonSpinner}>
                                <lightning-spinner alternative-text="" size="medium"></lightning-spinner>
                            </template>
                        </lightning-button>
                        <lightning-button data-id="modalcancel" onclick={closePreviewModal} label="Cancel" title="Cancel">
                        </lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </template>
    </c-modal>
</template>