.left-labels {
  line-height:  1.875rem;
}
.file-pill {
    display: flex;
    padding: 5px;
    float: left;
    margin-bottom:1px;
    margin-right:1px;
     
}

.found-translated-message {
    padding:0.5rem;
    background:#16325c;
    border-radius: 5px;

}

.translated-info-icon {
    -–sds-c-icon-color-foreground-default :white;
}

.preview-layout {
  min-width: 800px;
}

.template-search {
  width: 75%;
  max-width: 23rem;
}

.img-logo{
  max-width: 200px;
}

:host {
    --sds-c-textarea-sizing-min-height: 12rem;
}

h1 { 
  padding-top: 40px; 
  padding-bottom: 40px; 
  text-align: center; 
  color: #957dad; 
  font-family: 'Montserrat', sans-serif; 
} 

section { 
  padding: 5%; 
  padding-top: 0; 
  height: 100vh; 
} 

.side { 
  margin-left: 0; 
} 

button { 
  margin: 10px; 
  border-color: #957dad !important; 
  color: #888888 !important; 
  margin-bottom: 25px; 
} 

button:hover { 
  background-color: #fec8d8 !important; 
} 

textarea { 
  padding: 3%; 
  border-color: #957dad; 
  border-width: thick; 
} 

.flex-box { 
  display: flex; 
  justify-content: center; 
}