<template>
  <div class="slds-form-element">
    <template if:true={showLabel}>
      <label class="slds-form-element__label" for="combobox-id-7">{label}</label>
    </template>
    <div class="slds-form-element__control">
      <div class="slds-combobox_container">
        <div class={dropdownClass} aria-expanded={showListbox} aria-haspopup="listbox" role="combobox"
          data-id="combobox">
          <div class={inputDivClass} role="none">
            <span if:true={showInputIcon}
              class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_left">
              <lightning-icon variant={selectedVariant} icon-name={selectedIcon} size="xx-small" data-id="input-icon">
              </lightning-icon>
            </span>

            <input onfocus={handleFocus} onclick={handleDropdownTriggerClick} onkeydown={handleInputKeyDown}
              onblur={handleBlur} type="text" class={inputClass} id="combobox-id-7" aria-controls="listbox-id-7"
              autocomplete="off" role="textbox" placeholder={placeholder} readonly value={inputValue}
              disabled={disabled} data-id="picklistInput" />

            <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
              <lightning-icon icon-name={arrowIconName} size="xx-small"></lightning-icon>
            </span>
          </div>

          <div id="listbox-id-7" onmousedown={handleDropdownMouseDown} onmouseup={handleDropdownMouseUp}
            class={dropdownLengthClass} data-id="listbox-div" role="listbox">
            <ul class="slds-listbox slds-listbox_vertical" role="presentation" data-id="ul-node">
              <template for:each={_options} for:item="option">
                <li role="presentation" class="slds-listbox__item" key={option.value}>
                  <div if:true={option.header}
                    class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                    role="presentation">
                    <h3 class="slds-listbox__option-header" role="presentation" title={option.label}>{option.label}</h3>
                  </div>

                  <div if:false={option.header} onclick={handleListItemClick} onmouseenter={handleLiMouseEnter}
                    data-key={option.value} aria-selected="false" aria-checked={option.selected}
                    class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                    <span class="no-pointer-events slds-media__figure slds-listbox__option-icon">
                      <span if:false={customIcons}>
                        <span if:true={option.selected}
                          class="no-pointer-events slds-icon_container slds-icon-utility-check slds-current-color">
                          <lightning-icon class="no-pointer-events" icon-name="utility:check" size="x-small">
                          </lightning-icon>
                        </span>
                      </span>

                      <span if:true={customIcons}>
                        <span if:true={option.iconOption1} class="slds-icon_container">
                          <lightning-icon variant={iconOption1Variant} icon-name={iconOption1Icon} size="xx-small">
                          </lightning-icon>
                        </span>
                        <span if:true={option.iconOption2} class="slds-icon_container">
                          <lightning-icon variant={iconOption2Variant} icon-name={iconOption2Icon} size="xx-small">
                          </lightning-icon>
                        </span>
                      </span>
                    </span>

                    <span class="no-pointer-events slds-media__body">
                      <span class="no-pointer-events slds-truncate" title={option.label}>{option.label}</span>
                    </span>

                    <!-- check mark on the right -->
                    <!-- <span class="no-pointer-events slds-media__figure slds-listbox__option-icon">
                      <span if:true={option.selected} class="no-pointer-events slds-icon_container slds-icon-utility-check slds-current-color">
                        <lightning-icon class="no-pointer-events" icon-name="utility:check" size="x-small"></lightning-icon>
                      </span>
                    </span> -->
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>