.no-pointer-events {
  pointer-events: none;
}

.slds-dropdown {
  max-height: 36vh;
}

.slds-dropdown-trigger .slds-dropdown.dropup {
  top: auto;
  bottom: 100%;
}

.placeholder-color {
  color: rgb(112, 110, 107);
}