<template>
    <lightning-card title="EquifaxDIT Result">
        <div class="slds-box slds-theme_default slds-box slds-border_right slds-border_left">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered"
                aria-label="Example table of Opportunities with vertical borders">
                <tbody>
                    <!-- BEGIN IDENTITY TRUST -->
                    <tr class="slds-line-height_reset slds-theme_shade">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-align_absolute-center"><b>Identity Trust</b></div>
                        </th>
                        <th class="slds-align_absolute-center" scope="col">
                            <div class="slds-truncate"><template if:true={formattedData.Identity_Trust__c}>
                                    <lightning-icon icon-name="utility:success" size="small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Identity_Trust__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="small"></lightning-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Verification</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Identity_Verification__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Identity_Verification__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Identity_Verification_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Resolution</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Identity_Resolution__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Identity_Resolution__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Identity_Resolution_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Risk</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:false={formattedData.Identity_Risk__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:true={formattedData.Identity_Risk__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Identity_Risk_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <!-- END IDENTITY TRUST -->
                    <!-- BEGIN ADDRESS TRUST -->
                    <tr class="slds-line-height_reset slds-theme_shade">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-align_absolute-center"><b>Address Trust</b></div>
                        </th>
                        <th class="slds-align_absolute-center" scope="col">
                            <div class="slds-truncate"><template if:true={formattedData.Address_Trust__c}>
                                    <lightning-icon icon-name="utility:success" size="small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Address_Trust__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="small"></lightning-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Verification</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Address_Verification__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Address_Verification__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Address_Verification_Reasons__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Affiliation</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Address_Affiliation__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Address_Affiliation__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Address_Affiliation_Reasons__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Insights</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Address_Insights__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Address_Insights__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Address_Insights_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <!-- END ADDRESS TRUST -->
                    <!-- BEGIN DOB TRUST -->
                    <tr class="slds-line-height_reset slds-theme_shade">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-align_absolute-center"><b>DOB Trust</b></div>
                        </th>
                        <th class="slds-align_absolute-center" scope="col">
                            <div class="slds-truncate"><template if:true={formattedData.DOB_Trust__c}>
                                    <lightning-icon icon-name="utility:success" size="small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.DOB_Trust__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="small"></lightning-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Verification</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.DOB_Verification__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.DOB_Verification__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.DOB_Verification_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Affiliation</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.DOB_Affiliation__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.DOB_Affiliation__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.DOB_Affiliation_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Insights</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.DOB_Insights__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.DOB_Insights__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.DOB_Insights_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <!-- END DOB TRUST -->
                     <!-- BEGIN SSN TRUST -->
                     <tr class="slds-line-height_reset slds-theme_shade">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-align_absolute-center"><b>SSN Trust</b></div>
                        </th>
                        <th class="slds-align_absolute-center" scope="col">
                            <div class="slds-truncate"><template if:true={formattedData.SSN_Trust__c}>
                                    <lightning-icon icon-name="utility:success" size="small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.SSN_Trust__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="small"></lightning-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Verification</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.SSN_Verification__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.SSN_Verification__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.SSN_Verification_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Affiliation</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.SSN_Affiliation__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.SSN_Affiliation__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.SSN_Affiliation_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Insights</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.SSN_Insights__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.SSN_Insights__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.SSN_Insights_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <!-- END SSN TRUST -->
                     <!-- BEGIN PHONE TRUST -->
                     <!-- <tr class="slds-line-height_reset slds-theme_shade">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-align_absolute-center"><b>Phone Trust</b></div>
                        </th>
                        <th class="slds-align_absolute-center" scope="col">
                            <div class="slds-truncate"><template if:true={formattedData.Phone_Trust__c}>
                                    <lightning-icon icon-name="utility:success" size="small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Phone_Trust__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="small"></lightning-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Verification</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Phone_Verification__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Phone_Verification__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Phone_Verification_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Affiliation</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Phone_Affiliation__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Phone_Affiliation__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Phone_Affiliation_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Insights</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Phone_Insights__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Phone_Insights_Reason__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Address_Insights_Reason__c}
                            </div>
                        </td>
                    </tr> -->
                    <!-- END PHONE TRUST -->
                     <!-- BEGIN EMAIL TRUST -->
                     <!-- <tr class="slds-line-height_reset slds-theme_shade">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-align_absolute-center"><b>Email Trust</b></div>
                        </th>
                        <th class="slds-align_absolute-center" scope="col">
                            <div class="slds-truncate"><template if:true={formattedData.Email_Trust__c}>
                                    <lightning-icon icon-name="utility:success" size="small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Email_Trust__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="small"></lightning-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Verification</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Email_Verification__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Email_Verification__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Email_Verification_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Affiliation</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Email_Affiliation__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Email_Affiliation__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Email_Affiliation_Reason__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <th scope="row">
                            <div class="slds-truncate slds-align_absolute-center">Insights</div>
                        </th>
                        <td>
                            <div class="slds-truncate slds-cell-wrap ">
                                <template if:true={formattedData.Email_Insights__c}>
                                    <lightning-icon icon-name="utility:success" size="xx-small"
                                        class="green-icon"></lightning-icon>
                                </template>
                                <template if:false={formattedData.Email_Insights__c}>
                                    <lightning-icon icon-name="utility:clear" class="red-icon"
                                        size="xx-small"></lightning-icon>
                                </template>
                                &ensp;{formattedData.Email_Insights_Reason__c}
                            </div>
                        </td>
                    </tr> -->
                    <!-- END EMAIL TRUST -->
                </tbody>
            </table>

        </div>
    </lightning-card>
</template>