<template>
    <article class="slds-card slds-card_boundary">
        <template if:true={loading}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <h2>
                    <p>Quality Index ({score})</p>
                </h2>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            
            <!-- Phone and Chat -->
            <template if:true={isPhoneOrChat}>
                <c-free-text-dropdown-l-w-c
                    title="Speed to Answer"
                    placeholder="Select Speed to Answer ... "
                    values={speedToAnswerValues}
                    selectedvalue={speedToAnswerValue}
                    onchangevalue={changeValue}>
                </c-free-text-dropdown-l-w-c>
            </template>

            <!-- Email -->
            <template if:true={isEmail}>
                <c-free-text-dropdown-l-w-c 
                    title="First Response Time" 
                    placeholder="Select First Response Time ... "
                    values={firstResponseValues}
                    selectedvalue={firstResponseValue}
                    onchangevalue={changeValue}>
                </c-free-text-dropdown-l-w-c>
            </template>

            <!-- Email and Chat -->
            <template if:true={isEmailOrChat}>
                <c-free-text-dropdown-l-w-c 
                    title="Self Service Method" 
                    placeholder="Select Self Service Method ... "
                    values={selfServiceValues}
                    selectedvalue={selfServiceValue}
                    onchangevalue={changeValue}>
                </c-free-text-dropdown-l-w-c>
            </template>

            <c-free-text-dropdown-l-w-c 
                title="Accuracy" 
                placeholder="Select Accuracy ... "
                values={accuracyValues}
                selectedvalue={accuracyValue}
                onchangevalue={changeValue}>
            </c-free-text-dropdown-l-w-c>

            <c-free-text-dropdown-l-w-c 
                title="Tone/Mannerism" 
                placeholder="Select Tone/Mannerism ... " 
                values={toneValues}
                selectedvalue={toneValue}
                onchangevalue={changeValue}>
            </c-free-text-dropdown-l-w-c>

            <c-free-text-dropdown-l-w-c 
                title="Literacy/Grammar" 
                placeholder="Select Literacy/Grammar ... " 
                values={literacyValues}
                selectedvalue={literacyValue}
                onchangevalue={changeValue}>
            </c-free-text-dropdown-l-w-c>

            <c-free-text-dropdown-l-w-c 
                title="Case Tagging" 
                placeholder="Select Case Tagging ... " 
                values={taggingValues}
                selectedvalue={taggingValue}
                onchangevalue={changeValue}>
            </c-free-text-dropdown-l-w-c>

            <div class="slds-form-element">
                <div class="slds-form-element__control">
                    <div class="slds-checkbox slds-var-m-vertical_small">
                        <input type="checkbox" 
                            name="options" 
                            id="tradingAdviceCheckboxId" 
                            value="tradingAdviceCheckboxId" 
                            checked={tradingAdvice}
                            onchange={checkBoxChange}/>
                        <label class="slds-checkbox__label" for="tradingAdviceCheckboxId">
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">Is Trading Advice</span>
                        </label>
                    </div>
                </div>
            </div>

			<c-lookup label="QI Case Owner"
				object-api-name="User"
				value={qiCaseOwnerId}
				onchange={handleQiCaseOwnerChanged}></c-lookup>
        </div>

        <footer class="slds-card__footer">
            <lightning-button 
                variant="brand" 
                label="Submit" 
                title="Submit" 
                onclick={submitForm}
                disabled={notChanges}>
            </lightning-button>
        </footer>
    </article>
</template>