<span>
	<button	ng-mouseenter="doRate(1)"
		ng-mouseleave="unRate()"
		ng-click="submit(1)"
		ng-disabled="disabled"
		ng-class="{'text-warning': rate >= 1}"
		class="btn btn-link btn-sm text-secondary"> 
		<i class="fas fa-star fa-2x"></i></button>
	<button ng-mouseenter="doRate(2)"
		ng-mouseleave="unRate()"
		ng-click="submit(2)"
		ng-disabled="disabled"
		ng-class="{'text-warning': rate >= 2}"
		class="btn btn-link btn-sm text-secondary"> 
		<i class="fas fa-star fa-2x"></i></button>
	<button ng-mouseenter="doRate(3)"
		ng-mouseleave="unRate()"
		ng-click="submit(3)"
		ng-disabled="disabled"
		ng-class="{'text-warning': rate >= 3}"
		class="btn btn-link btn-sm text-secondary">
		<i class="fas fa-star fa-2x"></i></button>
	<button ng-mouseenter="doRate(4)"
		ng-mouseleave="unRate()"
		ng-click="submit(4)"
		ng-disabled="disabled"
		ng-class="{'text-warning': rate >= 4}"
		class="btn btn-link btn-sm text-secondary"> 
		<i class="fas fa-star fa-2x"></i></button>
	<button ng-mouseenter="doRate(5)"
		ng-mouseleave="unRate()"
		ng-click="submit(5)"
		ng-disabled="disabled"
		ng-class="{'text-warning': rate >= 5}"
		class="btn btn-link btn-sm text-secondary"> 
		<i class="fas fa-star fa-2x"></i></button>
</span>