<form ng-submit="search.submit()"
	name="searchForm"
	class="position-relative">
	<input ng-model="search.criteria"
		ng-change="search.search()"
		ng-blur="search.abort()"
		id="searchBox"
		name="search"
		type="text"
		autocomplete="off" 
		ng-attr-placeholder="{{search.placeholder}}"
		maxlength="40"
		class="form-control pr-5" />
	<h5 class="search-icon position-absolute mt-1 pt-1 mr-3">
		<i class="fas fa-search"></i>
	</h5>
	<div ng-if="search.isMenuActive"
		class="d-block dropdown-menu w-100">
		<h6 class="dropdown-header text-truncate">
			<span>Searching </span>
			<b ng-bind-html="search.criteria"></b>
		</h6>
		<div ng-repeat-start="faq in search.faqs"
			class="dropdown-divider"></div>
		<a ng-repeat-end
			class="dropdown-item text-truncate"
			ng-href="#!/article/{{faq.knowledgeId}}/{{faq.faqId}}">
			<h6 ng-bind-html="faq.title | trust"
				class="mb-0 text-truncate text-info"></h6>
			<h6 ng-bind-html="faq.answer | trust"
				class="mb-0 text-truncate font-weight-normal"></h6>
		</a>
	</div>
</form>