<div id="globalSpinner"
	style="background: rgba(255,255,255,0.7)"
	class="position-absolute row 
		align-items-center justify-content-center
		fixed-top fixed-right fixed-bottom fixed-left">
	<div class="col-md-auto">
		<div class="spinner-grow text-success" 
			style="width: 5rem; height: 5rem;"
			role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>