<!--
  @description       : 
  @author            : Ariel Niubo
  @group             : 
  @last modified on  : 07-20-2022
  @last modified by  : Ariel Niubo
-->
<template>
	<lightning-card title="Send Later">
		<div slot="actions">
			<c-scheduled-email-Toolbar
				mode={toolbarMode}
				onsave={handleSave}
				oncancel={handleCancel}
				onedit={handleEdit}
				ondelete={handleDelete}
				disabled={disabledSave}
			>
			</c-scheduled-email-Toolbar>
		</div>
		<div class="slds-grid slds-gutters_xx-small">
			<div
				class="slds-p-horizontal_small slds-col slds-size_8-of-12"
			>
				<c-date-time-picker
					read-only={readOnly}
					date={date}
					time={time}
					am-or-pm={amOrPm}
					required
					onchange={handleDatetimePickerChange}
					min={minDateTime}
					onvaliditychange={handleValidityChange}
				>
				</c-date-time-picker>
			</div>
		</div>
		<div if:true={loading}>
			<lightning-spinner alternative-text="Loading" size="small">
			</lightning-spinner>
		</div>
	</lightning-card>
</template>