.card 
{
   padding: 10px;
   margin-bottom: 0;
   box-shadow: 0 0 1px 0 rgba(0,0,0,.2), 0 0 2px 0 rgba(0,0,0,.14), 0 2px 4px 0 rgba(0,0,0,.12);
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-clip: border-box;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: .125rem;
   margin-bottom: 10px;
}
.card h2, .card h3 {
   font-weight: 400;
   font-size: 1.12525rem;
   font-size: 1rem;
   margin-bottom: .3125rem;
}
.card .commentDate {
   display: inline-block;
   color: #333;
   line-height: normal;
   font-weight: 200;
}
.card .commentBody{
   white-space: normal;
   word-break: break-word;
   word-wrap: break-word;
   padding-top: .625rem;
   padding-bottom: 0;
   color: #000;
   font-size: .875rem;
   line-height: 1.5;
   font-weight: 400;
   padding: .3125rem 0;
   margin-bottom: 0;
}
.card-body {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   min-height: 1px;
   padding: 1.25rem;
}
.newCommentSection{
   background: white;
}

.textareaContainer{
   width: 79%;
   padding: 12px;
}
.slds-textarea{
   height: 90px !important;
}
textarea {
   height: 90px !important;
 }
.addCommentButtonContainer{
   margin-top: 52px;
   width: 10%;
}
.commentBy{
   float: left;
   margin-right: 8px;
   font-weight: 400;
   font-size: 13px !important;
}
.posted{
   margin-bottom: 2px;
}
.commentsList{
   max-height: 411px;
   min-height: 250px;
}

.matchName {
   color: #00587c;
   display: inline-block;
   font-size: inherit;
   line-height: 1.25rem;
   font-weight: 600;
}
.backgroundInverse{
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}

.entityDetails{
   margin-top: 9px;
}