<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container commentsDialog">
            <header class="slds-modal__header">
                <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeWindow} alternative-text="close"></lightning-button-icon>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Comments</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium commentsList" id="modal-content-id-1">
                <template if:true={inProgress}>
                    <div class="backgroundInverse">
                        <lightning-spinner alternative-text="Loading" size="large" class="commentsSpinner"></lightning-spinner>
                    </div>
                </template>
                <template for:each={comments} for:item="comment">
                    <div class="card" key={comment.id}>
                        <div class="posted">
                            <span class="commentBy">{comment.userName}</span>
                            <span class="commentDate">{comment.createdAt}</span>
                        </div>
                        <template if:true={isCaseCommentDialog}>
                            <template if:true={comment.isEntityComment}>
                                <div class="entityDetails">
                                    <h3 class="matchName">{comment.matchName}</h3>
                                </div>
                            </template>
                        </template>
						<hr class="slds-m-top_xx-small slds-m-bottom_x-small" />
                        <div class="commentBody">
							<pre class="slds-m-around_none"
								style="white-space: pre-wrap;
									font-family: inherit;">{comment.message}</pre>
                        </div>
                    </div>
                </template>
            </div>
            <div class="slds-modal__footer">
                <div class="slds-grid">
                    <div class="slds-grow">
                        <lightning-textarea value={newComment} 
							placeholder="post a new comment.." 
							class="commentTextArea"
							message-when-value-missing="This field is required."
							onchange={captureComment}
							variant="label-hidden"></lightning-textarea>
                    </div>
                    <div>
                        <lightning-button variant="brand" label="Add" title="Save" icon-name="utility:add" onclick={saveComments}
                        class="slds-m-left_x-small"></lightning-button>
                    </div>
                  </div>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>