<template>
    <template  if:true={hasItemsToShow}>
        The end user has participated in  {itemsToShow.length} PIU knowledge assessments.
        <br/>
        <br/>
    <lightning-combobox  name="PIUCKA" label=""  value={selectedValue}
            options={picklistvalues}  onchange={handleChange} ></lightning-combobox>
            <br/>
            <table >
                <tbody>
                        <tr>
                            <td><h2><b>PIU Participation Date : <lightning-formatted-date-time value={currentPIU.CreatedDate} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                minute="2-digit" time-zone-name="short" hour12="true"></lightning-formatted-date-time></b></h2> </td> 
                        </tr>
                        <tr>
                            <td><h2><b>Knowlege Assessment Result : {currentPIU.Knowledge_Assessment_Result__c}</b></h2></td> 
                        </tr>
                        <tr>
                            <td><h2><b>Trading Experience Result :  {currentPIU.Trading_Experience_Result__c}</b></h2></td> 
                        </tr>
                        <tr>
                            <td><h2><b>Overall Result :  {currentPIU.Overall_Result__c}</b></h2></td> 
                        </tr>
                </tbody>
            </table>
            <br/>
            <div class="slds-form slds-form_stacked">
                <template for:each={currentQandAset} for:item="row">
                    <div class="slds-form-element" key={row.Id}>
                        <div class="slds-form-element__control">
                            <lightning-textarea name="input4" readonly value={row.Answer__c} label={row.Question__c} ></lightning-textarea>
                        </div>
                    </div>
                </template>
            </div>
        <template if:true={isOAU}>
            <br/>
            <b>Are OANDA Australia (Pty) Ltd's Foreign Exchange and CFD products relevant to your overall investment strategy? : {riskQuestion1}</b>
            <br/>
            <br/>
            <b>Do OANDA Australia (Pty) Ltd's Foreign Exchange and CFD products meet your current risk profile? : {riskQuestion2}</b>
        </template>
    </template>
    <template if:false={hasItemsToShow}>
        There are no PIU CKA results yet!
    </template>
</template>