/**
 * Created by mcasella on 2019-04-24.
 */
 
.THIS.restartChat {
    background-color: #e1e2e2;
    border-color: #e1e2e2;
    border: 0px;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
}
.THIS.restartChat:hover {
    background-color: transparent !important;
    color: #00d37e !important;
}