/**
 * @author Fernando Gomez, SkyPlanner LLC
 * @since 5/3/2019
 */
.THIS #svgIcon {
	width: 100px;
}

.THIS #text {
	font-size: 18px;
	font-weight: bolder;
	animation: blinkingText 0.5s infinite;
}

@keyframes blinkingText {
	0% { color: #9AC965; }
	25% { color: #5CE1F0; }
	75% { color: #5CE1F0; }
	100% { color: #9AC965; }
}