/** 
 * @author Fernando Gomez, SkyPlanner LLC
 * @since 4/30/2019
 */
.THIS .area-container {
	min-width: 164px;
}

.THIS.disallowMultipleLines .slds-rich-text-area__content *,
.THIS .disallowMultipleLines.slds-rich-text-editor__output *  {
	display: inline !important;
}

.THIS.disallowMultipleLines .slds-rich-text-area__content br,
.THIS .disallowMultipleLines.slds-rich-text-editor__output br {
	display: none !important;
}

.THIS .addLink {
	position: absolute;
	top: .55rem;
	right: .55rem;
}

.THIS .slds-rich-text-editor__toolbar {
	padding-right: 3.1rem;
}