<!--
  @description       : 
  @author            : Ariel Niubo
  @group             : 
  @last modified on  : 07-20-2022
  @last modified by  : Ariel Niubo
-->
<template>
	<div class="slds-grid slds-gutters_xx-small">
		<div class="slds-col slds-size_4-of-12">
			<lightning-input
				type="date"
				name="scheduleDateTime"
				label="Date"
				required={required}
				disabled={disabled}
				placeholder={datePlaceholder}
				onchange={handleDateChange}
				value={date}
				onfocus={handleFocus}
			>
			</lightning-input>
		</div>
		<div class="slds-col">
			<c-time-picker
				onchange={handleTimeChange}
				required={required}
				read-only={readOnly}
				disabled={disabled}
				time-value={time}
				am-pm-value={amOrPm}
				onfocus={handleFocus}
			></c-time-picker>
		</div>
	</div>
	<template if:true={showErrorMessage}>
		<div class="slds-has-error">
			<div
				id="help-text"
				data-help-text
				class="slds-form-element__help"
				aria-live="assertive"
			>
				{errorMessage}
			</div>
		</div>
	</template>
</template>