<template>
    <lightning-card title={title}>
    <div class="slds-p-horizontal_medium slds-p-vertical_medium">
        <template if:true={loading}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>
        
        <template if:false={isRerun}><div>Rerun the job with the following batch size:</div>

  <lightning-layout-item size="4">
        <lightning-input type="number" name="batchSizeInput" label="Batch Size" onchange={handleBatchSizeChange} min="1" max="2000" value="200" style="width:300px;"></lightning-input>
    </lightning-layout-item>
    </template>
        <div style="color:red;">{errorMessage}</div>
        {result}
    </div>

    <div slot="footer">
        <lightning-button variant="neutral" label="Cancel" onclick={closeQuickAction} class="slds-m-right_x-small"></lightning-button>
        <template if:false={isRerun}><lightning-button variant="brand" label="Rerun" onclick={handleRerun} class="slds-m-right_x-small"></lightning-button></template>
    </div>
    <!-- workaround for undefined recordId in LWC ScreenAction -->
    <div style="display:none;">{recordId}</div>
</lightning-card>
</template>