<!--
  @description       : 
  @author            : Ariel Niubo
  @group             : 
  @last modified on  : 07-20-2022
  @last modified by  : Ariel Niubo
-->
<template>
	<div class="slds-grid slds-gutters_xx-small">
		<div class="slds-col slds-size_6-of-12">
			<c-combo-picklist name="time" object-name={objName} field={timeName}
				label="Time" placeholder={labels.time} value={timeValue}
				required={required} disabled={disabled} read-only={readOnly}
				onchange={handleChange} onfocus={handleFocus}>
			</c-combo-picklist>
		</div>
		<div class="slds-col slds-size_4-of-12">
			<c-combo-picklist name="amOrPm" object-name={objName} field={ampmName}
				label="AM/PM" placeholder={labels.ampm} value={amPmValue}
				required={required} disabled={disabled} read-only={readOnly}
				onchange={handleChange} onfocus={handleFocus}>
			</c-combo-picklist>
		</div>
	</div>
</template>