<!--
  @description       : 
  @author            : OANDA
  @group             : 
  @last modified on  : 02-15-2023
  @last modified by  : Dianelys Velazquez
-->
<template>
    <lightning-card  title="fxTrade Admin Page"
        icon-name="standard:bundle_config">
        <div class="slds-m-bottom_xx-large">
            <!-- Spinner -->
            <div if:true={loading} class="slds-p-vertical_large">
                <lightning-spinner
                    alternative-text="Loading"
                    size="medium">
                </lightning-spinner>
            </div>
            <!-- Error -->
            <lightning-layout if:true={error}>
                <lightning-layout-item padding="around-large" size="12">
                    <div class="slds-notify slds-notify_alert
                        slds-alert_error" role="alert">
                        <h2>{error}</h2>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
            <!-- Search Criteria-->
            <c-user-api-search-lwc
                onupdatecriteria={updateCriteria}
                onenterkey={search}>
            </c-user-api-search-lwc>
            <!-- Buttons-->
            <lightning-layout>
                <lightning-layout-item 
                    padding="horizontal-large"
                    size="12">
                        <div class="slds-grid">
                            <div>
                                <lightning-button-icon 
                                    if:true={detailsSecVisible}
                                    label="List"
                                    icon-name="utility:list"
                                    alternative-text="Back to the list"
                                    title="Back to the list"
                                    onclick={backToList}>
                                </lightning-button-icon>
                            </div>
                            <div class="slds-col_bump-left">
                                <lightning-button
                                    variant="neutral"
                                    label="Reset"
                                    class = "slds-var-m-right_small"
                                    onclick={reset}>
                                </lightning-button>
                                <lightning-button
                                    variant="brand"
                                    label="Search"
                                    onclick={search}
                                    disabled={searchDisabled}>
                                </lightning-button>
                            </div>
                        </div>
                </lightning-layout-item>
            </lightning-layout>
            
            <!-- Data Table-->
            <lightning-layout if:true={recordsSecVisible}
                class="slds-var-m-top_large">
                <lightning-layout-item padding="horizontal-large" size="12">
                    <div if:true={hasRecords}>
                        <lightning-layout if:true={loadMoreStatus}> 
                            <lightning-layout-item alignment-bump="left">
                                <div class="slds-text-body_small">
                                    {loadMoreStatus}
                                </div>
                            </lightning-layout-item>
                        </lightning-layout>
                        <div class="slds-box slds-p-around_none list-sec">
                            <lightning-datatable
                                    class="accounts-table"
                                    key-field="Id"
                                    data={records}
                                    columns={columns}
                                    hide-checkbox-column
                                    enable-infinite-loading={enableInfiniteLoading}
                                    show-row-number-column="true"
                                    onloadmore={loadMoreData}
                                    onrowaction={handleRowAction}>
                            </lightning-datatable>
                        </div>
                    </div>
                    <div if:false={hasRecords}>
                        <c-illustrationnodatalwc
                            mainmessage="Sorry, there are no records according to the search criteria specified.">
                        </c-illustrationnodatalwc>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
            
            <!-- Selected Record Section-->
            <lightning-layout if:true={detailsSecVisible} class="slds-var-m-top_large" multiple-rows="true">
                <lightning-layout-item padding="horizontal-large" size="12">
                    <lightning-layout vertical-align="stretch" multiple-rows="true">
                        <lightning-layout-item size="6" flexibility="auto">
                            <lightning-layout class="slds-m-right_large custom-box">
                                <lightning-layout-item size="12">
                                    <div class="slds-var-m-bottom_medium">
                                        <div class="slds-grid">
                                            <div>
                                                <div class="slds-text-heading_small"> 
                                                    Details
                                                </div>
                                            </div>
                                            <div class="slds-col_bump-left">
                                                <div class="slds-col slds-text-heading_small
                                                    slds-text-color_weak">
                                                    <lightning-badge label={status}
                                                        class="slds-badge_inverse slds-theme_success">
                                                    </lightning-badge>
                                                    <lightning-badge if:true={showPIUOutdatedBadge} label={piuBadgeLabel}
                                                        class="slds-badge_inverse slds-theme_warning">
                                                    </lightning-badge>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div if:false={detail.fields.length}
                                        class="slds-text-body_regular">
                                            There are no fields configured.
                                    </div>
                                    <template
                                        for:each={detail.fields} for:item="field">
                                        <div key={field.rowIndex}>
                                            <lightning-layout>
                                                <lightning-layout-item size="6"
                                                    class="slds-var-p-right_medium
                                                    slds-var-m-bottom_small">
                                                        <c-user-api-field-lwc
                                                            field={field.f1}
                                                            options={field.f1.options}
                                                            onfieldupdated={handleFieldUpdated}>
                                                        </c-user-api-field-lwc>
                                                </lightning-layout-item>
                                                <lightning-layout-item size="6"
                                                    class="slds-var-m-bottom_small">
                                                        <c-user-api-field-lwc
                                                            field={field.f2}
                                                            options={field.f2.options}
                                                            onfieldupdated={handleFieldUpdated}>
                                                        </c-user-api-field-lwc>
                                                    </lightning-layout-item>
                                            </lightning-layout>
                                        </div>
                                    </template>
                                    <div if:true={permSave} 
                                        class="slds-grid slds-m-top_small">
                                        <div class="slds-col_bump-left">
                                            <lightning-button
                                                variant="brand"
                                                label="Save"
                                                onclick={save}
                                                class = ""
                                                disabled={disableSave}>
                                            </lightning-button>
                                        </div>
                                    </div>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                        <lightning-layout-item size="3" flexibility="auto">
                            <lightning-layout class="slds-m-right_large slds-is-relative custom-box">
                                <lightning-layout-item size="12">
                                    <div class="slds-text-heading_medium slds-var-m-bottom_small">
                                            Statuses
                                    </div>
                                    <!-- Statuses Spinner -->
                                    <div if:true={gettingStatuses}
                                        class="slds-p-vertical_small">
                                        <lightning-spinner
                                            alternative-text="Loading"
                                            size="small">
                                        </lightning-spinner>
                                    </div>
                                    <!-- Statuses -->
                                    <template if:true={detail}>
                                        <div class="slds-text-heading_small slds-var-m-bottom_small">
                                            Authorization Statuses
                                        </div>
                                        <template for:each={statuses.authorizationStatuses} for:item="status">
                                            <div key={status.name}>
                                                <lightning-layout>
                                                    <lightning-layout-item size="12"
                                                        class="slds-var-m-bottom_xxx-small">
                                                        <template if:true={status.status}>
                                                            <lightning-badge
                                                                label={status.name}
                                                                icon-name="utility:check">
                                                            </lightning-badge>
                                                        </template>
                                                        <template if:false={status.status}>
                                                            <lightning-badge
                                                                label={status.name}
                                                                icon-name="utility:close">
                                                            </lightning-badge>
                                                        </template>    
                                                    </lightning-layout-item>
                                                </lightning-layout>
                                            </div>
                                        </template>

                                        <div class="slds-text-heading_small slds-var-m-vertical_small">
                                            User Statuses
                                        </div>
                                        <template for:each={statuses.userStatuses} for:item="status">
                                            <div key={status.name}>
                                                <lightning-layout>
                                                    <lightning-layout-item size="12"
                                                        class="slds-var-m-bottom_xxx-small">
                                                        <template if:true={status.status}>
                                                            <lightning-badge
                                                                label={status.name}
                                                                icon-name="utility:check">
                                                            </lightning-badge>
                                                        </template>
                                                        <template if:false={status.status}>
                                                            <lightning-badge
                                                                label={status.name}
                                                                icon-name="utility:close">
                                                            </lightning-badge>
                                                        </template>    
                                                    </lightning-layout-item>
                                                </lightning-layout>
                                            </div>
                                        </template>
                                    </template>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                        <lightning-layout-item size="3" flexibility="auto">
                            <lightning-layout class="custom-box">
                                <lightning-layout-item size="12">
                                    <div class="slds-text-heading_medium
                                        slds-var-m-bottom_smalls">
                                            User Actions
                                    </div>
                                    <div if:false={actions.length}
                                        class="slds-text-body_regular">
                                            There are no actions configured.
                                    </div>
                                    <template if:true={detail}
                                        for:each={actions} for:item="action">
                                        <div key={action.actionIndex}>
                                            <lightning-layout>
                                                <lightning-layout-item size="12">
                                                    <lightning-icon
                                                        icon-name={action.icon}
                                                        size="x-small"
                                                        class="slds-m-right_xx-small">
                                                    </lightning-icon>
                                                    <lightning-button
                                                        if:true={action.buttonAction}
                                                        variant="base"
                                                        label={action.label}
                                                        onclick={callAction}
                                                        data-action-name={action.name}
                                                        data-action-label={action.label}
                                                        data-action-class={action.managerClass}>
                                                    </lightning-button>
                                                    <lightning-formatted-url
                                                        if:true={action.linkAction}
                                                        variant="base"
                                                        label={action.label}
                                                        value={action.link}
                                                        target="_blank">
                                                    </lightning-formatted-url>
                                                </lightning-layout-item>
                                            </lightning-layout>
                                        </div>
                                    </template>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>                        
                </lightning-layout-item>
                <lightning-layout-item padding="around-large" size="12">
                    <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
                        <lightning-accordion-section name="v20Accounts" label="v20 Accounts">
                            <div if:true={gettingv20Accounts}
                                class="slds-p-vertical_small">
                                <lightning-spinner
                                    alternative-text="Loading"
                                    size="small">
                                </lightning-spinner>
                            </div>
                            <template if:false={gettingv20Accounts}>
                                <template if:true={isNoSuchUser}>
                                    Error loading data - no such user.
                                </template>
                                <template if:false={isNoSuchUser}>
                                    <div if:false={v20AccDetails.length} class="slds-text-body_regular">
                                        No ng accounts for this user.
                                    </div>
                                    <template if:true={v20AccDetails.length}>
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols">
                                            <thead>
                                              <tr class="slds-line-height_reset">
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Account ID">Account ID</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Name">Name</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="MT4 ID">MT4 ID</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Balance">Balance</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Currency">Currency</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Margin Rate">Margin Rate</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Locked">Locked</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Hedging">Hedging</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Commission Group">Commission Group</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Division Trading Group">Division Trading Group</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Type">Type</div>
                                                </th>
                                                <th class="" scope="col">
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Server">Server</div>
                                                </th>
                                                <th class="" scope="col" style="width:4.75rem" if:true={permSaveV20Accounts}>
                                                  <div class="slds-truncate slds-m-vertical_x-small" title="Update">Update</div>
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <template for:each={v20AccDetails} for:item="v20Acc" for:index="index">
                                                    <tr key={v20Acc.accountID} class="slds-hint-parent">
                                                        <th data-label="Account ID" scope="row" class="slds-cell-wrap">
                                                            <div class="" title={v20Acc.accountID}>
                                                                {v20Acc.accountID}
                                                            </div>
                                                        </th>
                                                        <td data-label="Name">
                                                            <div class="slds-truncate" title={v20Acc.alias}>{v20Acc.alias}</div>
                                                        </td>
                                                        <td data-label="MT4 ID" class="slds-cell-wrap">
                                                            <div class="" title={v20Acc.mt4AccountID}>{v20Acc.mt4AccountID}</div>
                                                        </td>
                                                        <td data-label="Balance">
                                                            <div class="slds-truncate" title={v20Acc.balance}>{v20Acc.balance}</div>
                                                        </td>                                                    
                                                        <td data-label="Currency">
                                                            <div class="slds-truncate" title={v20Acc.currencyISO}>{v20Acc.currencyISO}</div>
                                                        </td>
                                                        <td data-label="Margin Rate">
                                                            <div class="slds-truncate" title={v20Acc.marginRate}>{v20Acc.marginRate}</div>
                                                        </td>
                                                        <td data-label="Locked">
                                                            <div class="slds-truncate" title={v20Acc.locked}>{v20Acc.locked}</div>
                                                        </td>
                                                        <td data-label="Hedging">
                                                            <div class="slds-truncate" title={v20Acc.hedgingEnabled}>
                                                                {v20Acc.hedgingEnabled}
                                                            </div>
                                                        </td>
                                                        <td data-label="Commission Group">
                                                            <div class="slds-truncate" title={v20Acc.commissionGroupID}>
                                                                {v20Acc.commissionGroupID}
                                                            </div>
                                                        </td>
                                                        <td data-label="Division Trading Group">
                                                            <div class="slds-truncate" title={v20Acc.divisionTradingGroupID}>
                                                                <select class="slds-select" onchange={handleDTGChange} data-v20-account-index={index}>
                                                                    <template for:each={v20Acc.dtgOptions} for:item="opt">
                                                                        <option key={opt.value} value={opt.value} selected={opt.selected}>{opt.label}</option>
                                                                    </template>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td data-label="Type">
                                                            <template if:true={v20Acc.isMT4Account}>
                                                                <template if:true={permResendMT4Notif}>
                                                                    <button class="slds-button slds-button_neutral" title="Resend NG MT4"
                                                                        data-v20-account-index={index}
                                                                        onclick={resendMT4Notification}>
                                                                        <img src={mt4Logo} class="slds-m-vertical_xx-small">
                                                                    </button>
                                                                </template>
                                                                <template if:false={permResendMT4Notif}>
                                                                    <img src={mt4Logo} class="slds-m-vertical_xx-small">
                                                                </template>
                                                            </template>
                                                        </td>
                                                        <td data-label="Server">
                                                            <div if:true={v20Acc.isMT4Account} class="slds-truncate" title={v20Acc.mt4ServerID}>
                                                                <select class="slds-select" onchange={handleServerChange} data-v20-account-index={index}>
                                                                    <template for:each={v20Acc.mt4ServerOptions} for:item="opt">
                                                                        <template if:false={opt.disabled}>
                                                                            <option key={opt.value} value={opt.value} selected={opt.selected}>{opt.label}</option>
                                                                        </template>
                                                                        <template if:true={opt.disabled}>
                                                                            <option key={opt.value} value={opt.value} selected={opt.selected} disabled>{opt.label}</option>
                                                                        </template>
                                                                    </template>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td data-label="Update" if:true={permSaveV20Accounts}>
                                                            <div class="slds-truncate" title="Update">
                                                                <lightning-button-icon 
                                                                    icon-name="utility:save"
                                                                    alternative-text="Save" 
                                                                    class="slds-m-left_xx-small" 
                                                                    title="Save"
                                                                    disabled={v20Acc.unchanged}
                                                                    onclick={updatev20Account}
                                                                    variant="brand"
                                                                    data-v20-account-index={index}>
                                                                </lightning-button-icon>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </template>
                                </template>
                            </template>
                        </lightning-accordion-section>
                        <lightning-accordion-section name="mt5Accs" label="MT5 Accounts">
                            <div if:true={gettingMt5Accs}
                                class="slds-p-vertical_small">
                                <lightning-spinner
                                    alternative-text="Loading"
                                    size="small">
                                </lightning-spinner>
                            </div>
                            <template if:false={gettingMt5Accs}>
                                <div if:false={mT5AccDetails.length} class="slds-text-body_regular">
                                    No MT5 Account for this user.
                                </div>
                                <lightning-datatable if:true={mT5AccDetails.length}
                                    key-field="mt5UserID"
                                    data={mT5AccDetails}
                                    columns={mt5Columns}
                                    hide-checkbox-column
                                    onrowaction={handleLockUnlockButton}>
                                </lightning-datatable>
                            </template>
                        </lightning-accordion-section>
                        <lightning-accordion-section name="auditTrails" label="User Audit Log">
                            <div if:true={gettingAuditTrails}
                                class="slds-p-vertical_small">
                                <lightning-spinner
                                    alternative-text="Loading"
                                    size="small">
                                </lightning-spinner>
                            </div>
                            <template if:false={gettingAuditTrails}>
                                <div if:false={auditTrailDetails.length} class="slds-text-body_regular">
                                    No audit log for this user.
                                </div>
                                <lightning-datatable if:true={auditTrailDetails.length}
                                    key-field="Id"
                                    data={auditTrailDetails}
                                    columns={auditTrailsColumns}
                                    hide-checkbox-column
                                    wrap-text-max-lines="3">
                                </lightning-datatable>
                            </template>
                        </lightning-accordion-section>
                        <lightning-accordion-section name="auditLogs" label="Historical User Audit Log">
                            <div if:true={gettingAuditLogs}
                                class="slds-p-vertical_small">
                                <lightning-spinner
                                    alternative-text="Loading"
                                    size="small">
                                </lightning-spinner>
                            </div>
                            <template if:false={gettingAuditLogs}>
                                <div if:false={auditLogs.length} class="slds-text-body_regular">
                                    No historical audit log for this user.
                                </div>
                                <lightning-datatable if:true={auditLogs.length}
                                    key-field="key"
                                    data={auditLogs}
                                    columns={auditLogsColumns}
                                    hide-checkbox-column>
                                </lightning-datatable>
                            </template>
                        </lightning-accordion-section>
                </lightning-accordion>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <p slot="footer">fxTrade Admin Page</p>
    </lightning-card>
</template>