<!--
@see https://oandacorp.atlassian.net/browse/SP-9521
@author Fernando Gomez
@since 5/6/2021
-->
<template>
<article class="slds-card">
	<div class="slds-card__body slds-card__body_inner">
		<h3 class="slds-text-heading_small 
				slds-var-m-bottom_small slds-text-align_center">
			<b>Client Authentication Code</b>
		</h3>
		<section if:true={isError}
			class="slds-box slds-p-around_none
				slds-scrollable_none slds-var-m-bottom_small">
			<div class="slds-text-title_caps slds-theme_error
					slds-text-color_inverse slds-var-p-around_small
					slds-border_bottom">
				We ran into an issue
			</div>
			<div class="slds-var-p-around_small">
				<lightning-layout for:each={errorMessages}
					for:item="error"
					for:index="index"
					key={error.id}
					class="slds-media">
					<lightning-layout-item class="slds-media__figure">
						<lightning-icon icon-name="utility:error"
							alternative-text="Error"
							title="Error"
							variant="error"
							size="xx-small"></lightning-icon>
					</lightning-layout-item>
					<lightning-layout-item class="slds-media__body">
						<pre style="white-space: pre-wrap;"
							class="slds-text-body_regular
								slds-m-around_none
								slds-scrollable_none">{error.msg}</pre>
					</lightning-layout-item>
				</lightning-layout>
			</div>
		</section>
		<div if:true={isInitialized}
			class="slds-is-relative">
			<template if:true={authCode}>
				<lightning-layout horizontal-align="center">
					<template for:each={digits}
						for:item="item"
						for:index="index">
						<lightning-layout-item key={item.id}
							class="slds-var-p-horizontal_xx-small">
							<div class="slds-box slds-box_x-small
									slds-text-font_monospace 
									slds-p-vertical_none">
								<b if:true={item.digit}
									class="slds-text-heading_large">{item.digit}</b>
							</div>
						</lightning-layout-item>
					</template>
				</lightning-layout>
				<lightning-layout if:true={expiresOn}
					horizontal-align="center"
					class="slds-var-m-top_medium slds-var-m-bottom_small">
					<lightning-layout-item class="slds-text-align_center">
						<p><lightning-icon icon-name="utility:date_time"
							size="small"></lightning-icon></p>
						<p>{expiresOn.message}</p>
					</lightning-layout-item>
				</lightning-layout>
				<!-- <lightning-layout horizontal-align="center">
					<lightning-layout-item>
						<a href="javascript:void(0)"
							onclick={handleValidateCodeClick}>
							<lightning-icon if:false={showValidation}
								icon-name="utility:chevronright"
								size="x-small"
								class="slds-var-m-right_xx-small"></lightning-icon>
							<lightning-icon if:true={showValidation}
								icon-name="utility:chevrondown"
								size="x-small"
								class="slds-var-m-right_xx-small"></lightning-icon>
							Validate Code
						</a>
					</lightning-layout-item>
				</lightning-layout>
				<lightning-layout if:true={showValidation}
					horizontal-align="center"
					class="slds-var-m-top_xx-small">
					<lightning-layout-item class="validator">
						<div class={codeValidatorClass}>
							<div class="slds-form-element__control
									slds-input-has-icon
									slds-input-has-icon_left
									slds-is-relative">
								<lightning-icon class="slds-input__icon"
									icon-name={codeValidatorIcon}
									size="x-small"
									variant={codeValidatorVariant}
									aria-hidden="true"
									style="top:15px;left:8px;
								"></lightning-icon>
								<input type="text"
									placeholder="Enter code"
									class="slds-input"
									maxlength="6" />
							</div>
							<div if:true={showValidationMessage}
								class="slds-form-element__help">
								<span if:true={showValidationSucess}>
									Code's good!</span>
								<span if:true={showValidationError}>
									Code's no good</span>
							</div>
						</div>
					</lightning-layout-item>
					<lightning-layout-item class="slds-var-p-horizontal_x-small">
						<lightning-button onclick={handleValidatingCodeClick}
							label="Validate"
							disabled={isValidatoButtonDisabled}
							variant="brand"
							class="slds-truncate"></lightning-button>
					</lightning-layout-item>
				</lightning-layout> -->
			</template>
			<template if:false={authCode}>
				<lightning-layout horizontal-align="center"
					class="slds-var-m-bottom_small">
					<lightning-layout-item class="slds-var-p-horizontal_xx-small">
						<div class="slds-box slds-box_x-small slds-p-vertical_none
								slds-text-font_monospace slds-theme_shade">
							<b class="slds-text-heading_large">&nbsp;</b>
						</div>
					</lightning-layout-item>
					<lightning-layout-item class="slds-var-p-horizontal_xx-small">
						<div class="slds-box slds-box_x-small slds-p-vertical_none
								slds-text-font_monospace slds-theme_shade">
							<b class="slds-text-heading_large">&nbsp;</b>
						</div>
					</lightning-layout-item>
					<lightning-layout-item class="slds-var-p-horizontal_xx-small">
						<div class="slds-box slds-box_x-small slds-p-vertical_none
								slds-text-font_monospace slds-theme_shade">
							<b class="slds-text-heading_large">&nbsp;</b>
						</div>
					</lightning-layout-item>
					<lightning-layout-item class="slds-var-p-horizontal_xx-small">
						<div class="slds-box slds-box_x-small slds-p-vertical_none
								slds-text-font_monospace slds-theme_shade">
							<b class="slds-text-heading_large">&nbsp;</b>
						</div>
					</lightning-layout-item>
					<lightning-layout-item class="slds-var-p-horizontal_xx-small">
						<div class="slds-box slds-box_x-small slds-p-vertical_none
								slds-text-font_monospace slds-theme_shade">
							<b class="slds-text-heading_large">&nbsp;</b>
						</div>
					</lightning-layout-item>
					<lightning-layout-item class="slds-var-p-horizontal_xx-small">
						<div class="slds-box slds-box_x-small slds-p-vertical_none
								slds-text-font_monospace slds-theme_shade">
							<b class="slds-text-heading_large">&nbsp;</b>
						</div>
					</lightning-layout-item>
				</lightning-layout>
				<lightning-layout class="slds-box slds-box_small
						slds-media slds-theme_shade">
					<lightning-layout-item class="slds-media__figure">
						<lightning-icon icon-name="utility:info"
							alternative-text="No Authnetication Code"
							title="No Authnetication Code"
							size="small"></lightning-icon>
					</lightning-layout-item>
					<lightning-layout-item class="slds-media__body">
						<h2 class="slds-text-heading_small
								slds-var-m-bottom_xx-small">
							No Authentication Code available.</h2>
						<p if:true={generalSettings}>
							Authentication Codes usually expire in
							{generalSettings.SP_Authenticatio_Code_Expires_In_Minutes}
							minute(s) after they are generated.
						</p>
					</lightning-layout-item>
				</lightning-layout>
				<lightning-layout horizontal-align="center"
					class="slds-var-m-top_small">
					<lightning-layout-item>
						<lightning-button onclick={handleNewCodeClick}
							disabled={isLoading}
							label="Generate New Code"
							title="Generate New Code"
							variant="brand"
							icon-name="utility:new"></lightning-button>
					</lightning-layout-item>
				</lightning-layout>
			</template>
			<template if:true={isLoading}>
				<lightning-spinner
					variant="brand"
					size="large">
				</lightning-spinner>
			</template>
		</div>
	</div>
</article>
</template>