<!--
@see https://oandacorp.atlassian.net/browse/SP-9521
@author Fernando Gomez
@since 5/13/2021
-->
<template>
	<article if:true={codeRecordId}
		class="slds-card slds-is-relative">
		<div class="slds-card__body">
			<c-client-authentication-code
				record-id={codeRecordId}
				object-api-name={objectApiName}
				oncodegenerated={handleCodeGenerated}
				oncodeexpired={handleCodeExpired}
				code-field-api-name="Authentication_Code__c"
				code-expires-on-field-api-name="Authentication_Code_Expires_On__c">
			</c-client-authentication-code>
		</div>
		<footer if:true={isValidCode}
			class="slds-card__footer">
			<template if:true={isEmailDisabled}>
				<lightning-layout horizontal-align="top"
					class="slds-media slds-text-align_left
						slds-box slds-box_small slds-theme_shade">
					<lightning-layout-item class="slds-media__figure">
						<lightning-icon icon-name="utility:info"
							alternative-text="Info"
							title="Info"
							size="small"></lightning-icon>
					</lightning-layout-item>
					<lightning-layout-item class="slds-media__body">
						<p>
							Can't send this code via email. Make sure
							there is a related contact with a valid email.
						</p>
					</lightning-layout-item>
				</lightning-layout>
			</template>
			<template if:false={isEmailDisabled}>
				<lightning-layout if:true={isEmailSucess}
					horizontal-align="top"
					class="slds-media slds-text-align_left slds-var-m-bottom_small
						slds-box slds-box_small slds-theme_success">
					<lightning-layout-item class="slds-media__figure">
						<lightning-icon icon-name="utility:check"
							alternative-text="Success"
							title="Success"
							variant="inverse"
							size="small"></lightning-icon>
					</lightning-layout-item>
					<lightning-layout-item class="slds-media__body">
						<p>The authentication code
							was successfully sent to the client.</p>
					</lightning-layout-item>
				</lightning-layout>
				<lightning-layout if:true={isEmailError}
					horizontal-align="top"
					class="slds-media slds-text-align_left slds-var-m-bottom_small
						slds-box slds-box_small slds-theme_error">
					<lightning-layout-item class="slds-media__figure">
						<lightning-icon icon-name="utility:error"
							alternative-text="Error"
							title="Error"
							variant="inverse"
							size="small"></lightning-icon>
					</lightning-layout-item>
					<lightning-layout-item class="slds-media__body">
						<h2 class="slds-var-m-bottom_xx-small">
							<b>Email could not be send.</b></h2>
						<p>{emailErrorMsg}</p>
					</lightning-layout-item>
				</lightning-layout>
				<div if:false={isEmailConfirmationActive}>
					<lightning-button
						onclick={handleSendEmailClick}
						disabled={isLoading}
						label="Send Code Via Email"
						title="Send Code Via Email"
						icon-name="utility:email"
						class="slds-var-m-horizontal_xx-small"></lightning-button>
				</div>
				<lightning-layout if:true={isEmailConfirmationActive}
					horizontal-align="top"
					class="slds-media slds-text-align_left">
					<lightning-layout-item class="slds-media__figure">
						<lightning-icon icon-name="utility:email"
							alternative-text="Email"
							title="Email"
							size="small"></lightning-icon>
					</lightning-layout-item>
					<lightning-layout-item class="slds-media__body">
						<p>
							An email will be sent to the client
							with this Aunthentication Code.
							Do you wish to proceed?
						</p>
						<div class="slds-var-m-top_small">
							<lightning-layout-item>
								<lightning-button
									onclick={handleSendEmailConfirmClick}
									disabled={isLoading}
									label="Yes, Send Code"
									title="Confirm"
									variant="brand"
									class="slds-var-m-right_x-small">
								</lightning-button>
								<lightning-button
									onclick={handleSendEmailCancelClick}
									disabled={isLoading}
									label="Cancel"
									title="Cancel"
									class="slds-var-m-right_x-small">
								</lightning-button>
							</lightning-layout-item>
						</div>
					</lightning-layout-item>
				</lightning-layout>
			</template>
		</footer>
		<template if:true={isLoading}>
			<lightning-spinner
				variant="brand"
				size="large">
			</lightning-spinner>
		</template>
	</article>
</template>