<template>
    <lightning-card  title="Children FxAccounts" icon-name="custom:custom90">
        <template if:true={error}>            
            <p class="slds-p-horizontal_small">{error}</p>            
        </template>
        <template if:false={hasFxAccounts}>
            <c-sleepingcamp 
                mainmessage="There is no fxAccounts related">
            </c-sleepingcamp>
        </template>
        <template if:true={hasFxAccounts}>

            <lightning-tree-grid
                class="lgc-example-treegrid"
                columns={columns}
                data={fxAccounts}
                key-field="key">
            </lightning-tree-grid>

            <!-- <lightning-datatable
                key-field="id"
                hide-checkbox-column
                data={fxAccounts}
                columns={columns}>
            </lightning-datatable> -->

        </template>
        <template if:false={hideFooter}>
            <p slot="footer">
                <a onclick={openFxAccountList}>View All</a>
            </p>
        </template>
    </lightning-card>
</template>