/**
 * @author Fernando Gomez, SkyPlanner LLC
 * @since 5/2/2019
 */
.THIS.isPractice .slds-icon-custom-custom90,
.THIS .isPractice .slds-icon-custom-custom90 {
	background-color: #ccc !important;
}

.THIS .listDisplays {
	min-height: 120px;
}

.THIS .fixed-table-body {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.THIS .button-smaller button {
	height: 1.7rem !important;
}