<!--
  @description       : 
  @author            : Ariel Niubo
  @group             : 
  @last modified on  : 07-20-2022
  @last modified by  : Ariel Niubo
-->
<template>
	<div class="slds-grid slds-gutters_xx-small">
		<div class="slds-col" if:true={isCreateMode}>
			<lightning-button name="save" label={saveLabel} variant="brand"
				onclick={handleClick} disabled={disabled}></lightning-button>
		</div>
		<div class="slds-col" if:true={isUpdateMode}>
			<lightning-button name="cancel" label={cancelLabel} onclick={handleClick}>
			</lightning-button>
		</div>
		<div class="slds-col" if:true={isEditMode}>
			<lightning-button name="edit" label={editLabel} onclick={handleClick}>
			</lightning-button>
		</div>
		<div class="slds-col" if:true={isEditMode}>
			<lightning-button name="delete" variant="destructive" label={deleteLabel}
				onclick={handleClick}>
			</lightning-button>
		</div>
	</div>
</template>