<!--
  @Page Name          : ChatTest.page
  @Description        : 
  @Author             : acantero
  @Group              : 
  @Last Modified By   : acantero
  @Last Modified On   : 5/11/2022, 3:09:31 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/27/2021, 12:42:31 PM   acantero     Initial Version
-->
<apex:page controller="ChatTestCtrl">
    <script>
        var page = {

            openNewWindow : function() {
                window.open(window.location);
            }
            
        };
    </script>
    <apex:form >
        <apex:pageBlock title="Chat Params">
            <apex:pageBlockSection columns="1">
                <apex:inputText value="{! isRedirect}" label="IsRedirect (true/false)"/>        
                <apex:inputText value="{! languagePreference }" label="LanguagePreference"/>
                <apex:inputText value="{! region }" label="Region (OC,OEM,OCAN,OEL)"/>        
                <apex:inputText value="{! customerLastName}" label="CustomerLastName"/>        
                <apex:inputText value="{! customerEmail}" label="CustomerEmail"/>     
                <apex:selectList value="{! accountType }" size="1" label="AccountType">
                    <apex:selectOption itemValue="Empty" itemLabel="No Value"/>
                    <apex:selectOption itemValue="Live" itemLabel="Live Account"/>
                    <apex:selectOption itemValue="Practice" itemLabel="Practice Account"/>
                    <apex:selectOption itemValue="Invalid" itemLabel="Invalid Value"/>
                </apex:selectList>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton action="{! invokeChatPage }" value="Invoke Chat" />        
                <apex:commandButton action="{! invokeOfflineHoursPage }" value="Invoke Offline Hours" />        
                <apex:commandButton action="{! reset }" value="Reset" />        
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>

    <div>
        <button onclick="page.openNewWindow();" type="button">Open New Window</button>
    </div>

    

</apex:page>