<apex:page standardController="fxAccount__c" extensions="FxAccountApprovalController" tabStyle="fxAccount__c" action="{!save}">
    <apex:pageBlock title="fxAccount Approval">
        fxAccount has been approved. 
    </apex:pageBlock>
    <apex:detail /> 
</apex:page>