<apex:page showHeader="false" controller="ChatDeployCon" language="{!language}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="description" content="Live Chat" />
<meta name="keywords" content="Live Chat" />

<script type='text/javascript' src='https://{!JSRoot}/deployment.js'></script>
<script type='text/javascript'>

liveagent.init('https://{!APIRoot}/chat', '{!DeployParam1}', '{!DeployParam2}');
</script>

<script type='text/javascript'>
	
	//add chat context info
	liveagent.addCustomDetail("CustomerFirstName", "{!$CurrentPage.parameters.CustomerFirstName}").saveToTranscript('Chat_First_Name__c');
	liveagent.addCustomDetail("CustomerLastName", "{!$CurrentPage.parameters.CustomerLastName}").saveToTranscript('Chat_Last_Name__c');
	liveagent.addCustomDetail("CustomerEmail", "{!$CurrentPage.parameters.CustomerEmail}").saveToTranscript('Chat_Email__c');
	liveagent.addCustomDetail("CustomerPhone", "{!$CurrentPage.parameters.CustomerPhone}").saveToTranscript('Chat_Phone_Number__c');
	liveagent.addCustomDetail("LanguagePreference", "{!$CurrentPage.parameters.LanguagePreference}").saveToTranscript('Chat_Language_Preference__c');
	liveagent.addCustomDetail("InitLanguage", "{!language}");
	liveagent.addCustomDetail("System Subject", "Chat");
	liveagent.addCustomDetail("System Status", "Open");
    
    //case record type for onboarding should be Support-OB
    liveagent.addCustomDetail("Case Record Type", "012U0000000AG7gIAG");
	
	//check if there is an existing contact
	
	//search for the contact
	if({!IsContact}){
		liveagent.findOrCreate("Contact").map("Email","CustomerEmail",true,true,false);
		liveagent.findOrCreate("Contact").saveToTranscript("ContactId").linkToEntity("Case","ContactId");
	}else{
	
		//search for lead or create lead
		liveagent.findOrCreate("Lead").map("Email","CustomerEmail",true,true,true).map("FirstName","CustomerFirstName",false,false,true).map("LastName","CustomerLastName",false,false,true);
		liveagent.findOrCreate("Lead").map("Phone","CustomerPhone",false,false,true).map("LeadSource","System Subject",false,false,true);
		liveagent.findOrCreate("Lead").saveToTranscript("LeadId").showOnCreate();
		liveagent.findOrCreate("Lead").linkToEntity("Case","Lead__c");
	}
	
	
	//create case
	liveagent.findOrCreate("Case").map("Subject","System Subject",false,false,true).map("Status","System Status",false,false,true).map("Origin","System Subject",false,false,true);
    liveagent.findOrCreate("Case").map("RecordTypeId","Case Record Type",false,false,true);
	liveagent.findOrCreate("Case").map("Chat_Language_Preference__c","LanguagePreference",false,false,true).map("Chat_Email__c","CustomerEmail",false,false,true);
	liveagent.findOrCreate("Case").map("Chat_First_Name__c","CustomerFirstName",false,false,true).map("Chat_Last_Name__c","CustomerLastName",false,false,true).map("Chat_Phone_Number__c","CustomerPhone",false,false,true);
	liveagent.findOrCreate("Case").saveToTranscript("CaseId").showOnCreate();
	

</script>

</head>


<p><center><button id="liveagent_button_online" style="display: none;font-size:14px" onclick="liveagent.startChat('{!ChatButtonId}')">{!$Label.Start_Chat}</button></center></p> 
<div id="liveagent_button_offline">
	<p></p>
</div>

<script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('{!ChatButtonId}', document.getElementById('liveagent_button_online'));
liveagent.showWhenOffline('{!ChatButtonId}', document.getElementById('liveagent_button_offline'));
});</script>



</apex:page>