<!--
  @Page Name          : MessagingChatTest.page
  @Description        : 
  @Author             : acantero
  @Last Modified By   : acantero
  @Last Modified On   : 10/16/2023, 12:13:35 PM
-->
<apex:page docType="HTML-5.0"
	applyhtmltag="false"
	applybodytag="false"
	showheader="false"
	sidebar="false"
	standardstylesheets="false"
	cache="false"
>
	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta http-equiv="Content-Style-Type" content="text/css" />
			<meta name="description" content="Messaging Chat" />
			<meta name="keywords" content="Messaging Chat" />
			<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		</head>
		<body>

			<script type='text/javascript'>

				function getRegionFromUrl() {
					console.log("getRegionFromUrl...");
					let myLocation = window.location.href;
					let pos1 = myLocation.indexOf('//');
					let temp = myLocation.substring(pos1 + 2);
					let parts = temp.split('/');
					let region = (parts.length > 1)
						? parts[1]
						: 'default region';
					console.log('myLocation: ' + myLocation);
					console.log('temp: ' + temp);
					console.log('parts: ' + parts);
					console.log('region: ' + region);
					return region;
				}

				function initEmbeddedMessaging() {
					try {
						const myRegion = getRegionFromUrl();

						embeddedservice_bootstrap.settings.language = 'en_US'; // For example, enter 'en' or 'en-US'

						window.addEventListener("onEmbeddedMessagingReady", () => {
							console.log("Received the onEmbeddedMessagingReady event…");
							let extraInfo = myRegion;
							console.log('extraInfo: ' + extraInfo);
							if (extraInfo && (extraInfo != '')) {
								embeddedservice_bootstrap.prechatAPI.setHiddenPrechatFields({
									"Extra_Info" : extraInfo
								});
							}
						});
			
						embeddedservice_bootstrap.init(
							'00DDU0000006aEL',
							'Messaging_Web_Oanda_Help_ESD',
							'https://oanda--skyplandev.sandbox.my.site.com/ESWMessagingWebOandaHe1697468701610',
							{
								scrt2URL: 'https://oanda--skyplandev.sandbox.my.salesforce-scrt.com'
							}
						);
					} catch (err) {
						console.error('Error loading Embedded Messaging: ', err);
					}
				};
			</script>
			<script type='text/javascript' src='https://oanda--skyplandev.sandbox.my.site.com/ESWMessagingWebOandaHe1697468701610/assets/js/bootstrap.min.js' onload='initEmbeddedMessaging()'></script>
			
		</body>
	</html>
</apex:page>