<apex:page showHeader="false" controller="PreChatFormCon"> 
<!-- This script takes the endpoint URL parameter passed from the deployment 
  page and makes it the action for the form -->
<head>
<title>Chat Window Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="description" content="Live Chat" />
<meta name="keywords" content="Live Chat" />
<style type="text/css">
body { height: 100%; min-height: 100%;background-color:#FFFFFF; margin: 0 0 0 5px; width: 92%}
html {height: 100%;}
form {margin: 0; padding:0; width: 100%}

/* TEXT STYLES FOR SURVEYS + FORMS */
form {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    }

.lpFormText {
    color: #000;
    }

.req {
    color: #ff0000;
    font-size:10px;
    font-weight:bold
    }

.lpFormHeading {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#484fa3;
    line-height: 140%;
    font-weight:bold;
    word-wrap: break-word;
    }

input, textarea, select {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    padding:2px;
    color: #333;
    }
</style>

<script type='text/javascript' src='https://{!JSRoot}/prechat.js'></script>

<script type="text/javascript">

   var detailCallback = function (details){
       
        for (var i = 0; i < details.customDetails.length; i++) {
            
            //alert(details.customDetails[i].label+ " : " + details.customDetails[i].value);
            document.getElementById(details.customDetails[i].label).value = details.customDetails[i].value;
        }
        
        //auto submit after loading parameters
        HandleSubmit();
   };
 
   liveagent.details.preChatInit('https://{!APIRoot}/chat','detailCallback');
   
/*
window.onload = function() {

    if(document.getElementById('AutoSubmitFlag').value === 'true'){
        HandleSubmit();
    }else{
       document.getElementById("CustomerFirstName").focus();
    }
};
*/

     (function() { 
     function handlePageLoad() {
     var endpointMatcher = new RegExp("[\\?\\&]endpoint=([^&#]*)");
     document.getElementById('prechatForm').setAttribute('action',
     decodeURIComponent(endpointMatcher.exec(document.location.search)[1]));
     } if (window.addEventListener) {
          window.addEventListener('load', handlePageLoad, false);
   } else { window.attachEvent('onload', handlePageLoad, false);
          }})(); 

function validateForm() {
    var customerEmail = document.getElementById('CustomerEmail').value;
    var customerFirstName = document.getElementById('CustomerFirstName').value;
    var customerLastName = document.getElementById('CustomerLastName').value;
    var errorMessage = '';
    //if (customerFirstName == null || customerFirstName == "") {
    //  errorMessage += "First name must be filled out.\n";
    //}
    if (customerLastName == null || customerLastName == "") {
        errorMessage += "Last name must be filled out.\n";
    }
    if (customerEmail == null || customerEmail == "") {
        errorMessage += "Email must be filled out.\n";
    }
    
    if(errorMessage=='') {
        return true;
    } else {
        alert(errorMessage);
        return false;
    }
}
          
function HandleSubmit() {
    var contactemail = document.getElementById('CustomerEmail').value;
    if(validateForm()) {
        if(validateEmail(contactemail)) {
            Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.PreChatFormCon.getcontact}',
                    contactemail, 
                    function(result, event){
                        if (event.status) {
                            if(result==true) {
                                SubmitForm(false);
                            } else {
                                SubmitForm(true);
                            }
                        } else {
                            alert('There appears to be a technical problem.  Please try again');
                        }
                    }, 
                    {escape: true}
                );
            } else {
                alert("Please enter a valid email address");
            }
        }
    }

  function SubmitForm(createLead) {
      if (!createLead) {  //We found a matching contact based on email provided, so DO NOT send parameters to create a new lead.
          document.getElementById("optionA").value="";
          document.getElementById("optionB").value="false";
      }
      else {   //No matching contact was found, so send parameters required to create a new lead.
          
          document.getElementById("optionA").value="FirstName,true;LastName,true;Email,true;Phone,true;LeadSource,true;";
          document.getElementById("optionB").value="true";
      }
      document.getElementById("prechatForm").submit();
  }

function validateEmail(email) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
} 
    

</script>
</head>
<form method='post' id='prechatForm'> 
  <table cellspacing="3" cellpadding="3" border="0" style="overflow:hidden;">
    <tr dir="ltr">
      <td>
        <p class="lpFormHeading" style='margin:0px'>
          <br /><font size="4">Welcome to Live Chat. </font><br /><br />To help us serve you better,  please kindly provide us with following information before we begin your chat.<br /><br />
        </p>
              </td>
    </tr>

        <tr id="trowQ1" valign="middle" dir="ltr">
      <td>
              <label for="q1">
              <span class="lpFormText">Your First Name: (您的名）</span>
              <span class="req">*</span>
                  </label>
              <br />
      
      <input type='text' name='liveagent.prechat:CustomerFirstName' id='CustomerFirstName' required="required" />
    
  
    </td>
    </tr>
     
        <tr id="trowQ11" valign="middle" dir="ltr">
      <td>
              <label for="q11">
              <span class="lpFormText">Your Last Name: (您的姓）</span>
              <span class="req">*</span>
                  </label>
              <br />
      
      <input type='text' name='CustomerLastName' id='CustomerLastName' required="required" />
  
    </td>
    </tr>
     
        <tr id="trowQ2" valign="middle" dir="ltr">
      <td>
              <label for="q2">
              <span class="lpFormText">Email Address (请问您的电邮地址是什么?)</span>
              <span class="req">*</span>
                  </label>
              <br />
      
      <input type='text' name='CustomerEmail' id="CustomerEmail" required="required" />
    
  
    </td>
    </tr>
     
        <tr id="trowQ6" valign="middle" dir="ltr">
      <td>
              <label for="q6">
              <span class="lpFormText">Phone Number （请问您的联系电话是什么?)</span>
                  </label>
              <br />
      
      <input type='text' name='liveagent.prechat:CustomerPhone' id='customField3' />
    
  
    </td>
    </tr>
     
        <tr id="trowQ9" valign="middle" dir="ltr">
      <td>
              <span class="lpFormText">What type of account are you contacting us about? (请问您持有的什么帐户?)</span>
              <span class="req">*</span>
                    <br />
      <select name="AccountType" id="AccountType"> 
        <option value="" disabled="true" selected="true"> -- select an option -- </option>
        <option value="Live">Live account - 真实帐户</option> 
        <option value="Practice">Practice account - 模拟帐户</option> 
        <option value="New Account">No account yet - 还没有帐户</option> 
    </select>
          
  
    </td>
    </tr>
     
        <tr id="trowQ4" valign="middle" dir="ltr">
      <td>
              <label for="q4">
              <span class="lpFormText">FXTrade Account # or Username (请问您帐户的用户名或者帐户号码是什么?)</span>
                  </label>
              <br />
      
      <input type='text' name='liveagent.prechat:AccountNumberOrUsername' id='customField3' />
    
  
    </td>
    </tr>
     
        <tr id="trowQ5" valign="middle" dir="ltr">
      <td>
              <label for="q5">
              <span class="lpFormText">In what language would you like to proceed? (您想要使用什么语言交流?)</span>
              <span class="req">*</span>
                  </label>
              <br />
      
    <select name="LanguagePreference" id="LanguagePreference"> 
        <option value="English">English</option>
        <option value="Chinese">Chinese-中文</option>
        <option value="German">German</option>
        <option value="Spanish">Spanish</option>
        <!--option value="Japanese">Japanese</option>
        <option value="Russian">Russian</option>
        <option value="Italian">Italian</option-->
    </select>

  
    </td>
    </tr>
     
        <tr id="trowQ8" valign="middle" dir="ltr">
      <td>
              <span class="lpFormText">What are you contacting us about? (您需要哪一方面的服务?)</span>
              <span class="req">*</span>
                    <br />
      
    <select name="Department" id="Department"> 
        <option value="Sales">Opening an account</option> 
        <option value="Onboarding - Application Status">Application Status</option> 
        <option value="Onboarding - Documents">Documents and Forms</option> 
        <option value="Funding">Deposit or Withdrawal</option> 
        <option value="CX - MT4">MT4</option> 
        <option value="CX - fxTrade">fxTrade</option> 
        <option value="CX - Education">Education and tools</option> 
        <option value="CX - Other">Other</option> 
    </select>
          
  
    </td>
    </tr>
     
     
  </table>
      
    <input type="hidden" name="liveagent.prechat.findorcreate.map:Contact"
      value="Email,CustomerEmail" />
    <input type="hidden" name="liveagent.prechat.findorcreate.map.doFind:Contact"
      value="Email,true" />
    <input type="hidden" name="liveagent.prechat.findorcreate.map.isExactMatch:Contact"
      value="Email,true" />
    <input type="hidden" name="liveagent.prechat.findorcreate.linkToEntity:Contact"
      value="Case,ContactId" />
    <input type="hidden" name="liveagent.prechat.findorcreate.saveToTranscript:Contact"
      value="ContactId" />

    <input type="hidden" name="liveagent.prechat.findorcreate.map:Lead"
      value="Email,CustomerEmail;FirstName,CustomerFirstName;LastName,CustomerLastName;IsConverted,IsConverted;Phone,CustomerPhone;LeadSource,ZZSYSTEMVAR1" />
    <input type="hidden" name="liveagent.prechat.findorcreate.map.doFind:Lead"
      value="Email,true" />
    <input type="hidden" name="liveagent.prechat.findorcreate.map.isExactMatch:Lead"
      value="Email,true" />
    <input type="hidden" id="optionA" name="liveagent.prechat.findorcreate.map.doCreate:Lead" 
      value="" />
    <input type="hidden" id="optionB" name="liveagent.prechat.findorcreate.showOnCreate:Lead"
      value="false" />
    <input type="hidden" name="liveagent.prechat.findorcreate.linkToEntity:Lead"
      value="Case,Lead__c" />
    <input type="hidden" name="liveagent.prechat.findorcreate.saveToTranscript:Lead"
      value="LeadId" />
    
    <input type="hidden" name="liveagent.prechat.findorcreate.map:Case"
      value="Subject,ZZSYSTEMVAR1;Status,ZZSYSTEMVAR2;Origin,ZZSYSTEMVAR1;Department__c,Department;Chat_Type_of_Account__c,AccountType;Chat_Language_Preference__c,LanguagePreference;Chat_Email__c,CustomerEmail;Chat_First_Name__c,CustomerFirstName;Chat_Last_Name__c,CustomerLastName;Chat_fxTrade_Account_No_Username__c,AccountNumberOrUsername;Chat_Phone_Number__c,CustomerPhone;Chat_Division__c,Division;" />
    <input type="hidden" name="liveagent.prechat.findorcreate.map.doCreate:Case"
      value="Subject,true;Status,true;Origin,true;Department__c,true;Chat_Type_of_Account__c,true;Chat_Language_Preference__c,true;Chat_Email__c,true;Chat_First_Name__c,true;Chat_Last_Name__c,true;Chat_fxTrade_Account_No_Username__c,true;Chat_Phone_Number__c,true;Chat_Division__c,true;" />
    <input type="hidden" name="liveagent.prechat.findorcreate.showOnCreate:Case"
    value="true" />
    <input type="hidden" name="liveagent.prechat.findorcreate.saveToTranscript:Case"
      value="CaseId" />
    
    <input type="button" value="Request Chat" id="prechat_submit" onclick="javascript: HandleSubmit();"/>
    <input type='hidden' id="liveagent.prechat.buttons" name='liveagent.prechat.buttons' value=''/>
    <input type='hidden' name='liveagent.prechat:ZZSYSTEMVAR1' value='Chat' />
    <input type='hidden' name='liveagent.prechat:ZZSYSTEMVAR2' value='Open' />
    <input type='hidden' id="AutoSubmitFlag" name='AutoSubmitFlag' value='false'/>
    <input type='hidden' id="Division" name='Division' value=''/>
    <input type='hidden' id="InitLanguage" name='InitLanguage' value=''/>

<style type="text/css"> 
p {font-weight: bolder } 
</style> 
</form>

<site:googleAnalyticsTracking /> 
</apex:page>