#offline-container .table-container {
	width: fit-content;
	max-width: 100%;
}

#offline-container th,
#offline-container td {
	min-width: 150px;
	vertical-align: top;
	text-align: left;
	padding: 8px 20px;
	font-weight: normal;
	border-left: 1px solid #E2E2E2;
}

#offline-container th {
	background-color: #1898EF;
	color: #fff;
}

#offline-container th:first-child,
#offline-container td:first-child {
	border-left: none;
}

#offline-container tbody tr:nth-of-type(odd) {
	background-color: #F3F3F3;
}

#offline-container h2,
#offline-container h4,
#offline-container p
{
	margin: 0 0 24px;
}

#offline-container ul,
#offline-container ol {
	margin: 14px 0 24px;
}

#offline-container li {
	margin: 0 0 14px;
	font-size: 16px;
}

#offline-container li p,
#offline-container th p,
#offline-container td p {
	display: inline;
}

#offline-container iframe {
	border: none;
	max-width: 100%;
}

