.nfchatChatBot .nf-chat-ChatButton {
    max-width: 90px;
    max-height: 90px;
    padding-bottom: 0;
    visibility: visible !important;
}

.nfchatChatBot .widthWrapper.open-button{
	bottom: 10px !important;
}
.nfchatChatBot .nf-Bottom-Right {
	bottom: 5em !important;
	right: 6em !important;
}
.nfchatChatBot .button-text>.buttontext {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.slds-scope img.nfchatChatButton {
	width: 100px;
}
.nfchatChatBot .button-text {
	z-index: 1500;
	color: #00d37e !important;
}

.slds-scope .nfchatChatBot .slds-p-bottom_x-small,
.slds-scope .nfchatChatBot .slds-p-bottom--x-small {
    padding-bottom: 0.7rem;
}

.rich-card .rich-card-header .nf-arrow-min-width {
	height: 30px;
	line-height: 0;
}
.nfchatChatBotContainer .rich-card-body-image>img {
    width: 90%;
}
.rich-card .rich-card-body .rich-card-body-image {
	margin: auto;
	text-align: center;
}
.nfchatChatBot h1 {
	font-size: 36px !important;
	line-height: 39.6px;
	margin-bottom: 10px !important;
	margin: 0.67em 0;
}
h3.cardTitle {
	color: #2e4fe6;
	width: auto !important;
}
h4.slds-text-color--inverse {
	font-size: 1.5em !important;
}
p.slds-float--left.textWrap.slds-badge {
	border-radius: 10px;
	background-color: #2e4fe6 !important;
	color: white;
}
li.rich-card {
	box-shadow: 1px 1px 6px #cccccc !important;
}
button.rich-card-footer-button {
	border-radius: 25px !important;
	border: 1px solid #2e4fe6 !important;
	color: #2e4fe6 !important;
}
button.slds-button.slds-button--brand.floating-cta.elementBackgroundOverride {
	border-radius: 25px;
}
button.slds-button.send-button.slds-button--icon-bare.slds-button--icon-inverse.nfchatChatBotContainerInput {
	border: 0 !important;
}
i.fi-arrow-right.icon-x-large {
	width: auto !important;
}
.nfchatChatBotContainer.slds-docked-composer__body {
	max-height: calc(100% - 133px) !important;
	background-color: white !important;
	height: 79% !important;
}
.nfchatChatBot .nfchatChatBotHeader .slds-docked-composer {
    border-radius: 1em 1em 0 1em;
	box-shadow: rgba(0, 0, 0, 1) 0px -2px 8px -4px !important
}
.floating-button-wrapper.proactive {
	visibility: hidden;
}
.slds-scope .slds-avatar_medium, .slds-scope .slds-avatar--medium {
	width: 32px !important;
	height: 32px !important;
}
.uiInput--textarea .textarea, .uiInput--textarea.textarea {
	height: auto !important;
	background-color: rgb(255, 255, 255) !important;
	color: #333 !important;
	border: 1px solid #d4d4d4 !important;
	border-radius: .25rem !important;
	width: 100% !important;
	-webkit-transition: border .1s linear, background-color .1s linear !important;
	transition: border .1s linear, background-color .1s linear !important;
	resize: vertical !important;
	padding: 3px 45px 5px 4px !important;
}
.nfchatChatBot .elementBackgroundOverride {
	background-color: #00214A !important;
	z-index: 99999 !important;
}
.nfchatFloatingMessageInput.floating-message-body {
	color: black !important;
	font-size: 1.4em !important;
}
.floating-message-wrapper.slds-transition-show {
	width: 320px !important;
	height: 160px !important;
	position: fixed !important;
	right: 15px !important;
	bottom: 15px !important;
	top: auto !important;
	z-index: -1 !important;
	visibility: visible !important;
}
.nfchatFloatingMessageInput.floating-message-body {
	padding-top: 15px !important;
}
.slds-float--right.slds-button--brand.slds-badge.textWrap.slds-m-left--x-large {
	border-radius: 10px;
	background-color: #b5b5b5 !important;
}
.nfchatChatBotContainer .rich-card-footer-button:hover {
	background: #2e4fe6 !important;
	color: white!important;
}
.floating-message-footer.nfchatFloatingMessageInput {
	padding-bottom: 15px !important;
}
.floating-message-body.nfchatFloatingMessageInput {
	padding-top: 20px !important;
	color: #5f5f5f !important;
}
.floating-message-wrapper.on-screen {
	position: fixed !important;
	bottom: 10px !important;
	right: 10px !important;
}
.iconHeight {
	height: 20px !important;
}
.nfchatChatBotContainer .dotOne, .nfchatChatBotContainer .dotTwo, .nfchatChatBotContainer .dotThree {
	background-color: #888 !important;
}
.nfchatChatBotContainer .outputRichRecieve a {
	color: white !important;
	font-style: italic !important;
	text-decoration: none !important;
}
.nfchatChatBotContainer.slds-modal__footer {
	height: 90px !important;
}
.nfchatChatBotContainer .outputRichRecieve a {
	color: #0084ff !important;
	font-style: normal !important;
}
.nfchatChatBotContainer .buttonStyle {
	font-size: 16px;
}
.quick-reply-button-light {
	color: #00a060 !important;
	border-color: #00a060!important;
}
.quick-reply-button-light:hover {
	background-color: #7fd3b2 !important;
	color: #00804d !important;
	border-color: #00804d !important;
}
.nfchatChatBotContainer .disabled-quick-reply-button {
	background-color: #bff4df !important;
	background-color: #ececec !important;
	color: #b9b9b9 !important;
	border-color: #e2e2e2 !important;
}
.nfchatChatBotContainer .selected-quick-reply-button {
	background-color: #40de9e !important;
	color: #000 !important;
	border-color: #40de9e !important;
}
.nfchatChatBotContainer .quick-reply-button-light {
	padding: 3px 13px 3px 13px !important;
}
.nfchatChatBot footer.elementBackgroundOverride {
	background-color: #e1e2e2 !important;
	margin: 0;
	padding-bottom: 5px;
}
.nfchatChatBotContainer .user-message {
	background-color: #bff4df !important;
	color: black !important;
	border: none;
}
.nfchatChatBotContainer .bot-message {
	background-color: #f6f6f6 !important;
	color: black;
	font-family: helvetica !important;
}
.nfchatChatBotContainerInput.chatbotContainerWrapper .max-text-limit {
	margin-top: 3px;
	color: #444444 !important;
	float: left;
	width: 50%;
	position: relative;
	top: -30px !important;
}
.nfchatChatBotContainer .rich-card-wrapper {
	width: 115% !important;
}
.nfchatChatBotContainer .rich-card {
	border-radius: 3px !important;
	border: 1px solid #c5c5c5 !important;
	width: 355px !important;
	height: auto !important;
}
.nfchatChatBotContainer .rich-card-body {
	padding: 0 !important;
	height: auto !important;
	width: 100% !important;
}
.nfchatChatBotContainer .rich-card-body-text {
	text-align: left !important;
	width: 100%;
	font-size: 15px;
	border-top: 1px solid #ccc;
	padding: 7px 0 0 0 !important;
	margin-top: 7px;
}
/* CSS for Restart Button Component Start */

.nfchatChatBotContainerInput.chatbotContainerWrapper .chatbotContainerDiv div {
	height: 60% !important;
}

.nfchatChatBotContainer.slds-modal__footer {
	height: 125px !important;
}

.nfchatChatBot #chatBody {
	height: 79% !important;
}

.nfchatChatBot .nfchatChatBotContainerInput .disableOuterBox {
	border: none;
    padding-bottom: 30px;
}

.nfchatChatBot .nfchatChatBotContainerInput .disableBox {
    background-color: #888;
	border-radius: .25rem;
}

.nfchatChatBotContainerInput > .belowCharCount {
	width: 50%;
    float: right;
    position: relative;
    top: -30px;
}

.nfchatChatBotHeader .slds-button:hover {
	color: #ffffff;
    background-color: transparent !important;
}

.nfchatChatBotHeader .slds-button:focus {
	background-color: transparent !important;
	box-shadow: 0 0 0 0 !important;
}

.nfchatChatBot .nfchatChatBotContainerInput.chatbotContainerWrapper .chatbotContainerDiv div>textarea {
    background-color: white;
}

.nfchatChatBotContainerInput #nf-chatbot-footer-textarea {
	max-height: 65% !important;
}

.slds-scope .slds-textarea {
	border-radius: .25rem !important;
}

.slds-scope .slds-textarea::placeholder {
    font-size: 13px !important;
}

/* CSS for Restart Button Component End */

/* ---------------------- NF Cards ---------------------- */
	.nfchatChatBotContainer .nf-card {
	    vertical-align: top !important;
	}
	.nfchatChatBotContainer .nf-cards-container {
	    border-radius: 5px !important;
	    box-shadow: 0 0 5px rgba(0,0,0,0.19) !important;
	    border: 1px solid #ddd !important;
	}
	.nfchatChatBotContainer .nf-card-text {
        word-break: break-word !important;
		word-break: inherit !important;
	}
	.nfchatChatBotContainer .nf-dot {
		border: none !important;
	    background-color: #d5d5d5 !important;
	    box-shadow: none !important;
	}
	.nfchatChatBotContainer .nf-dot-selected {
	    background-color: #00D37e !important;
	}
	.nfchatChatBotContainer .nf-arrow {
		border-color: #00D37e !important;
	}

.nfchatChatBotContainer .nf-notification-image {
    width: 35px !important;
}
.nfchatChatBotContainer .nf-card-title {
	word-break: normal !important;
}
.nfchatChatBotContainer .cardTitle {
	font-size: 16px;
}
.nfchatChatBotHeader .slds-live-agent-name {
	font-size: 18px !important;
}
@media only screen and (max-width: 400px) {
	.rich-card-wrapper {
		width: 150% !important;
		margin-left: -90px !important;
		left: 3px !important;
	}
	.nfchatChatBotContainer .nf-cards-container,
    .nfchatChatBotContainer .nf-card {
	    width: 232px !important;
	}
}
@media only screen and (max-width: 720px) {
	.nfchatChatBotContainerInput .nf-send-button {
		bottom: 40px !important;
    	font-size: 85% !important;
	}
}

@media only screen and (max-width: 500px) {
	.nfchatChatBot .floating-button-wrapper {
	    bottom: -15px !important;
    	right: -5px !important;
	}
}

.nfchatChatBotContainerInput .nf-send-button {
	height: 32px !important;
    width: 32px !important;
    position: relative !important;
    top: -40px !important;
    right: 10px !important;
}

.nfchatChatBotContainer #uploadFileButton {
    bottom: 32px !important;
    right: 65px !important;
}

::-webkit-input-placeholder {
	font-size: 16px !important;
}

/* Proactive greeting text bubble */
.nfchatChatBot .talk-bubble{
	right: -93px !important;
	bottom: 84px !important;
	background-color: #CED1D5 !important;
}

.nfchatChatBot .talk-bubble:after{
	color: #CED1D5 !important;
}

.nfchatChatBot .talktext{
	padding: 14px !important;
}
.nfchatChatBot .talktext h4{
	padding: 4px !important;
}
.nfchatChatBotContainer .uiOutputRichText, .nfchatChatBotContainer .bot-message{
	font-family: helvetica !important;
}
.nfchatChatBot .nfchatChatBotContainer .textWrap{
    box-shadow: 0 2px 8px -4px rgba(0,0,0,0.75);
	border-radius: 0.75em !important;
}


@media only screen and (max-width: 500px) {
    .nfchatChatBot .floating-button-wrapper {
        bottom: 15px !important;
        right: 30px !important;
    }
    .nfchatChatBot .talk-bubble:after {
        right: 2.7em !important;
    }
    .floating-message-wrapper.slds-transition-show {
        right: 13px !important;
        bottom: -40px !important;
    }
}

[lightning-textarea_textarea] { height: 100% !important; }
[lightning-textarea_textarea-host] {
	height: 80% !important;
}

/* fix for Spring '19 bold text */
#chatBotContainer .uiOutputRichText, #chatBotContainer .bot-message{
  font-weight: normal;
}

/* fix for rounded edges of avatar */
.nfchatChatBotHeader img.icon{
	border-radius: 0px !important;
}

.nfchatChatBotContainer .nfchatFormCard {
    margin-left: -25px;
}

.nfchatChatBotContainer .nfchatFormCard .rich-card.form-card {
	border-radius: 16px !important;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3) !important;
	background-color: #ffffff !important;
	padding: 10px 0;
	width: 285px !important;
}

.nfchatChatBotContainer .nfchatFormCard .rich-card-header {
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.13 !important;
	letter-spacing: normal;
	text-align: center !important;
	color: #4b4e52 !important;
}

.nfchatChatBotContainer .nfchatFormCard .rich-card-form>.slds-form-element>.slds-form-element__control {
	font-family: Helvetica !important;
	font-size: 14px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: normal !important;
	letter-spacing: normal !important;
	color: #000000 !important;
	/* OAN-295: Second button for re-send code link */
	display: block;
	align-items: center;
}

.nfchatChatBotContainer .slds-form-element__label {
	font-family: Helvetica !important;
	font-size: 14px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: normal !important;
	letter-spacing: normal !important;
	color: #000000 !important;
}

.nfchatChatBotContainer .slds-form-element .slds-form-element__label:empty {
	display: none;
}

.nfchatChatBotContainer .nfchatFormCard .customPicker {
	padding-right: 0;
	width: initial;
}

.nfchatChatBotContainer .nfchatFormCard .rich-card-form .slds-input::placeholder {
    padding-left: 12px;
    text-align: left;
}

.nfchatChatBotContainer .nfchatFormCard .rich-card-footer-button {
	width: 100%; /* 278px; */
	height: 30px;
	border-radius: 23.5px !important;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14) !important;
	background-color: #00D37e !important;
	font-family: Helvetica !important;
	font-size: 16px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: 1.13;
	letter-spacing: normal !important;
	text-align: center;
	color: #000 !important;
}

/* OAN-295: Link under button */
.nfchatChatBotContainer .nfchatFormCard .nf-formcard-skip-button {
	margin-top: 10px !important;
	border: none !important;
    box-shadow: none !important;
    background: none !important;
    margin-left: 0px !important;
}

.nfchatChatBotContainer .nfchatFormCard .rich-card-footer-button:hover {
	background-color: #00D37e !important;
	color: #000 !important;
}

.nfchatChatBotContainer .nfchatFormCard .nf-formcard-skip-button:hover {	
    border: none !important;
    box-shadow: none !important;
	color: #00D37e !important;
    background: none !important;
    margin-left: 0px !important;
}

label{
	font-weight: normal !important;
}

.nfchatChatBotContainer .nfchatFormCard .customPickerOuterBox .slds-dropdown {
	font-size: 16px;
	max-height: 300%;
	min-width: initial;
	top: -5%;
}

.nfchatChatBot .nfchatChatBotHeader .customButtonMenu .slds-dropdown {
    margin-left: -20px;
    min-width: 11rem;
}

.nfchatChatBot .nfchatChatBotHeader .customButtonMenu .slds-dropdown ul li{
	background-color: #00214A !important;
	width: initial;
}

.slds-scope .slds-input-has-icon_right .slds-input{
	padding-right: 0px !important;
	border-radius: 4px;
    border: solid 1px #b7c2a2;
}

.slds-scope [role=combobox] input[readonly]{
	padding-left: 0px !important;
	text-align: center;
	border-radius: 4px;
    border: solid 1px #b7c2a2;
}
