/*
@author Fernando Gomez
@version 1.0
@since March 18th, 2019
*/
.head-shadow {
	-webkit-box-shadow: 0 10px 10px -8px #ddd;
	-moz-box-shadow: 0 10px 10px -8px #ddd;
	box-shadow: 0 10px 10px -8px #ddd;
}
	
.spinner-question {
	top: 0;
	right: 0;
}

.survey-btn,
.page-item .page-link {
	color: #fff;
	border-radius: 100px;
	border-style: none;
	padding: 10px 20px;
	background-color: #2979FF;
	line-height: 21px;
	vertical-align: middle;
	transition: background-color .2s ease-out,border-color .2s ease-out;
}

.pagination,
.page-item,
.page-item .page-link {
	height: 100%;
}

.survey-btn:hover {
	background-color: #0C95F3;
	box-shadow: 0 10px 30px rgba(48,194,255,.3);
}

.survey-btn:focus {
	outline: none;
}

input[disabled],
.disable-button {
	filter: grayscale(1);
	opacity: .5;
	pointer-events: none;
}

.surveyChoices td {
	padding-right: 15px;
}

.surveyChoices input[type="checkbox"],
.surveyChoices input[type="radio"] {
	position: absolute;
	margin-top: 5px;
	margin-right: 5px;
	vertical-align: middle;
}

.surveyChoices label {
	margin-left: 20px;
}

.oanda-mobile td {
	display: block;
	padding-top: 8px;
}

.oanda-desktop td {
	display: inline-block;
}

#spinner {
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
}
