  .oanda-body {
            font-family: Heebo,Arial,sans-serif;
            background: #fafbfc;
            color: #0b0b0b;
        }

        .oanda-body .oanda-body-bg {
            background: #e9f2f6;
        }

        .oanda-body .bg-dark {
            background-color: #333333 !important;
        }

        .oanda-body .overline {
            display: inline-block;
            letter-spacing: 2px;
            font-size: 11px;
            line-height: 1;
        }

        .oanda-body .overline:before {
            display: inline-block;
            width: 100%;
            height: 4px;
            content: " ";
            margin-bottom: 12px;
        }

        .oanda-body .oanda-heading-bg, .oanda-body .overline:before {
            background: #00d37e;
        }

        .navbar {
            min-height: 55px;
        }
    
        h1,
        #regions h6 {
            font-weight: 600;
        }

        #regions h2 {
            text-align: center;
            margin-bottom: 60px;
            margin-top: 60px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        #regions h5 {
            font-size: 1.25rem;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 1200px;
        }

        #regions .region {
            background: #fff;
            padding: 30px;
            margin-bottom: 30px;
        }

        #regions .region>ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        #regions .region>ul li {
            min-height: 3em;
            align-self: baseline;
            padding-right: 15px;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }

        #regions .region__link {
            color: #333;
            text-decoration: none;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        #regions .region__country-name:hover {
            color: #0c95f3;
            text-decoration: underline;
        }

        #regions .region__country-name {
            padding-left: .5rem;
            width: 211px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;        
        }

        #regions .region__country-flag {
            width: 30px;
            line-height: 30px;
            margin-right: 15px;
        }

        /* Top bar disclaimer */
        .risk-disclaimer--top--padding {
            padding-left: 45px;
            top: 0;
        }

        .risk-disclaimer {
            text-align: left;
            position: relative;
            border-top: 1px solid #eef1f5;
            width: 100%;
            z-index: 300;
            max-height: none;
        }

        .bar.bar--smaller .bar__container p {
            padding-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;
        }

        @media (min-width: 768px) {
            .pt-md-5, .py-md-5 {
                padding-top: 4rem!important;
            }

            .pb-5, .py-5 {
                padding-bottom: 4rem!important;
            }
        }

        /* Responsive */
        @media(max-width:768px) {
            #regions .region>ul li {
                -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
                max-width: 33.33333%
            }
        }

        @media(max-width:568px) {
            #regions .region>ul li {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0
            }
        }

        @media (max-width: 1200px) {
            .container {
                width: 100%;
            }
        }
    