/*
@author Fernando Gomez
@version 1.0
@since March 18th, 2019
*/
#heroBanner {
	background-size: cover;
	background-position: center;
}

#searchBox {
	border-radius: 0;
	border: none;
	background-color: #f6f6f6;
	padding: 0 20px;
	min-height: 45px;
}

#importantMessage {
	min-height: 55px;
}

.search-icon {
	color: #BDBDBD;
	top: 0px;
	right: 0px;
}

#searchBox::-webkit-input-placeholder {
	color: #BDBDBD;
}

#searchBox:-moz-placeholder {
	color: #BDBDBD;
}

#searchBox::-moz-placeholder {
	color: #BDBDBD;
}

#searchBox:-ms-input-placeholder {
	color: #BDBDBD;
}

#searchBox::-ms-input-placeholder {
	color: #BDBDBD;
}

#searchBox::placeholder {
	color: #BDBDBD;
}

#topFaqArticles a[data-toggle="collapse"] [data-toggle-handle] {
	display: block;
	line-height: 1;
	font-size: 26px;
	width: 26px;
	height: 26px;
	color: #00d37e;
	transition: .2s ease-out;
	transform: rotate(-45deg);
	text-align: center;
}

#topFaqArticles a.collapsed[data-toggle="collapse"] [data-toggle-handle] {
	transform: rotate(0);
}

#fakeBorder {
	top: 0;
	left: 0;
	bottom: 0;
	width: 0.5px;
}

#article .table-container {
	width: fit-content;
	max-width: 100%;
}

#article th,
#article td {
	min-width: 150px;
	vertical-align: top;
	text-align: left;
	padding: 8px 20px;
	font-weight: normal;
	border-left: 1px solid #E2E2E2;
}

#article th {
	background-color: #1898EF;
	color: #fff;
}

#article th:first-child,
#article td:first-child {
	border-left: none;
}

#article tbody tr:nth-of-type(odd) {
	background-color: #F3F3F3;
}

#article h2,
#article h4,
#article p,
#article ul,
#article ol {
	margin: 0 0 24px;
}

#article li {
	margin: 0 0 14px;
	font-size: 16px;
}

#article li p,
#article th p,
#article td p {
	display: inline;
}

#article iframe {
	border: none;
	max-width: 100%;
}

#chatBotContainer .nf-chat-ChatButton,
.nfchatBadge {
	display: none;
}
/**New Styles for Accordion*/
.accordionArticle a[data-toggle="collapse"] [data-toggle-handle] {
	display: block;
	line-height: 1;
	font-size: 26px;
	width: 26px;
	height: 26px;
	color: #3358ff;
	transition: .2s ease-out;
	transform: translate(3px, 0) rotate(-45deg);
	text-align: center;
}

.accordionArticle a.collapsed[data-toggle="collapse"] [data-toggle-handle] {
	transform: rotate(0);
}

.section-accordion-header {
   font-size: 16px;
   line-height: 22px;
   padding-left: 10px;
}


.section-span-symbol {
	position: absolute;
    left: 22px;
 }

 @media (max-width: 568px) {
	.section-span-symbol {
		left: 0px;
	}
}

.section-container {
	padding-left: 1.5rem!important;
}

