body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

#waitingMessage {
    height: 100px;
    margin-top:110px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}

#waitingMessageQueue {
     width: 100%;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}

#waitingMessageDequeue {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}

#buttons {
    min-width: 71px;
    min-height: 60px;
}

#visitorInput {
    min-width: 71px;
    justify-content: space-between;
    display: flex;
}

#chatInput {
    width: 90%;
}
/********* Buttons *********/
#liveAgentSaveButton,
.liveAgentEndButton,
.liveAgentSendButton,
.liveAgentCancelButton,
#fileCancelButton,
#fileSendButton,
#liveAgentMessageContainer > div > button {
    z-index: 2;
    border-radius: 100px;
    line-height: 16px;
    font-size: 16px;
    padding: 10px 12px 10px;
    border: 2px solid transparent;
    font-family: Helvetiva Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    background: none;
}

#liveAgentSaveButton,
.liveAgentSendButton,
#fileSendButton {
    border-color: #3358ff;
    background-color: #3358ff;
    color: #fff;
}

#liveAgentSaveButton:hover,
.liveAgentSendButton:hover,
#fileSendButton:hover {
    background-color: #304480;
    border-color: #304480;
    box-shadow: 0 10px 30px #304480;
}

.liveAgentEndButton,
.liveAgentCancelButton,
#fileCancelButton,
#liveAgentMessageContainer > div > button { 
    background-color: #E8E8E8;
}

#liveAgentSaveButton {
    float: left;
}

.liveAgentEndButton {
    float: right;
}

#cancelButton {
    margin: 0 auto;
}

#liveAgentMessageContainer > div > button {
    float: right;
}

#fileCancelButton{
    float: right;
}
/******** End Buttons *******/

/***When chat is on state Waiting ***/
#liveAgentClientChat.liveAgentStateWaiting #waitingMessage {
    display: flex;
    flex-direction: column;
}

#liveAgentClientChat.liveAgentStateWaiting.liveAgentDequeued #waitingMessageDequeue {
    display: flex;
    flex-direction: column;
}

#liveAgentClientChat.liveAgentStateWaiting.liveAgentQueued #waitingMessageQueue {
    display: flex;
    flex-direction: column;
}

#liveAgentClientChat.liveAgentStateWaiting #buttons {
    display: none;
}

#liveAgentClientChat.liveAgentStateWaiting #visitorInput {
    display: none;
}

#liveAgentClientChat.liveAgentStateEnded #visitorInput {
    display: none;
}

#liveAgentClientChat.liveAgentStateWaiting #visitorWaiting {
    display: flex;
}

#liveAgentClientChat.liveAgentStateWaiting #liveAgentQueuePosition {
    display: inline;
}

/****End State Waiting***/

/***When chat is taken  Queue Position must be hidden***/
#liveAgentQueuePosition {
    display: none;
}

/***When no queue position have been specified we show 1***/
span.liveAgentQueuePosition:empty::before {
    content: '1';
}

/**When Chat is taken hide visitoWaiting section**/
#liveAgentClientChat #visitorWaiting {
    display: none;
}

/*** Chat Log messages ***/
.liveAgentChatInput {
    height: 45px !important;
    padding: 2px 0 2px 4px !important; 
    display: block;
    width: 99% !important;
}

#liveAgentChatLog {
    width: auto !important;
    height: auto !important;
    top: 100px;
    position: absolute;
    overflow-y: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px !important;
    padding: 10px;
    margin-bottom: 75px;
}

.file_transfer_requested #liveAgentChatLog {
    margin-bottom: 175px;
}

#liveAgentChatLogText .name {
    font-size: 1em;
    line-height: 1.2;
    display: block !important;
}

#liveAgentChatLogText .messageText {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block !important;
    margin: 0.2em 0em 0.4em 0em;
    padding: 8px 10px 8px 10px;
    border: 1px solid #E2E8ED;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 90%;
}

#liveAgentChatLogText .client {
    text-align: right;
    padding: 8px 10px 0px 10px;
}

#liveAgentChatLogText .operator .messageText {
    background-color: #DEEFF9;
}

#liveAgentChatLogText .client .messageText {
    background-color: #FFFFFF;
}
/*** End Chat Log messages ***/

#liveAgentChatFileTransfer {
	margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
}
