/**
* @File Name          : OandaFooterCss.css
* @Description        : 
* @Author             : Fernando Gomez
* @Group              : 
* @Last Modified By   : Dianelys Velazquez
* @Last Modified On   : 10-21-2022
* @Modification Log   : 
* Ver       Date            Author      		    Modification
* 1.0    03/18/2019   Fernando Gomez     Initial Version
* 2.0    11/22/2019   Ibrahim Napoles     Add new styles
* 3.0    10/21/2022   Dianelys Velazquez	Rebranding
**/
.material-icons {
  visibility: hidden;
}
.wf-materialicons-n4-active .material-icons {
  visibility: visible;
}
@media (max-width: 568px) {
  .material-icons {
    visibility: visible;
  }
}

footer {
  overflow: hidden;
}
footer .icons-nav {
  padding: 0 15px;
}
footer .icons-nav a {
  margin-right: 15px;
  -ms-flex-item-align: center;
  align-self: center;
  align-content: center;
  display: -ms-flexbox;
  display: flex;
}
footer .icons-nav a img {
  height: 40px;
  width: auto;
}
footer .icons-nav .icon-nav__app-store {
  display: -ms-flexbox;
  display: flex;
}
footer .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
@media (max-width: 1200px) {
  footer .container {
    width: 100%;
    /*To overwrite bootstrap footer container class*/
    max-width: 100%;
  }
}
@media (max-width: 568px) {
  footer .icons-nav .icon-nav__app-store {
    width: 100%;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .icons-nav .icon-nav__app-store a {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
footer .icons-nav .region-link {
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 568px) {
  footer .icons-nav .region-link {
    display: none;
  }
}
footer .icons-nav .logo {
  display: none;
  padding-top: 30px;
  margin-top: 30px;
  justify-content: center;
}
footer .logo span {
  margin-right: 7.5px;
  text-align: left;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  footer .icons-nav .logo {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    align-self: initial;
    margin-right: initial;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer .icons-nav .logo svg,
  footer .icons-nav .logo img {
    margin: 0;
  }
}
@media (max-width: 568px) {
  footer .icons-nav .logo {
    border-top: none;
    margin-top: 0;
    padding-top: 15px;
  }
}
footer .contact-strip {
  justify-content: flex-end;
}
@media (max-width: 568px) {
  footer .contact-strip {
    padding-top: 30px;
  }
}
footer .contact-strip .material-icons {
  border-radius: 100%;
  background: #071d39;
  border: 10px solid #071d39;
  box-sizing: content-box;
  color: #fff;
}
/******Add new Styles from OANDA******/
footer .contact-strip .row {
  padding: 0 15px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 768px) {
  footer .contact-strip .row {
    display: block;
    text-align: center;
  }
}
@media (max-width: 568px) {
  footer .contact-strip .row {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}



footer .contact-strip .logo,
footer .contact-strip .regulator-logo { /* footer .contact-strip .regulator-logo */
  -ms-flex: 1;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  -ms-flex-item-align: center;
  align-self: center;
  padding-top: 13.5px;
  padding-bottom: 21px;
}
@media (max-width: 768px) {
  footer .contact-strip .logo,
  footer .contact-strip .regulator-logo {
    display: none;
  }
}
footer .contact-strip .logo {
  margin-right: auto;
}
footer .contact-strip .region-image {
  margin-left: auto;  
}
footer .contact-strip .regulator-logo {
  /* margin-left: auto; */
  text-align: right;
}
footer .contact-strip .regulator-logo img {
  height: 30px;
  width: auto;
}
footer .logos {
  display: none;
  padding: 0 15px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  footer .logos {
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 568px) {
  footer .logos {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}
footer .logos .logo {
  text-align: left;
}
footer .logos .regulator-logo {
  text-align: right;
}
footer .logos .regulator-logo img {
  height: 30px;
  width: auto;
}
@media (max-width: 768px) {
  footer .logos .regulator-logo img {
    height: auto;
    max-width: 100%;
  }
}
footer .logos .logo,
footer .logos .regulator-logo {
  -ms-flex-item-align: center;
  align-self: center;
}
@media (max-width: 768px) {
  footer .logos .logo,
  footer .logos .regulator-logo {
    border-top: none;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    /* width: 100%; */
    min-height: 1px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    /* max-width: 50%; */
    margin-top: 22.5px;
  }
  footer .logos .logo,
  footer .logos .region-image {
    max-width: 50%;
    width: 100%;
  }
}
@media (max-width: 568px) {
  footer .logos .logo,
  footer .logos .regulator-logo {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    /* max-width: 100%; */
    /* text-align: center; */
    margin-top: 7.5px;
    margin-bottom: 15px;
  }
  footer .logos .logo,
  footer .logos .region-image {
    text-align: center;
    /* height: auto; */
    max-width: 100%;
  }
}
footer .logos .logo:last-child,
footer .logos .regulator-logo:last-child {
  margin-bottom: 0;
}
footer .logo span,
footer .logo img {
  margin-top: 7.5px;
  display: inline-block;
  vertical-align: middle;
}
footer .logo-strapline--left span,
footer .logo-strapline--left img {
  margin-right: 7.5px;
}
footer .logo-strapline--right span,
footer .logo-strapline--right img {
  margin-left: 7.5px;
}
footer .logo span {
  font-family: Effra, Arial, sans-serif;
  color: #bdbdbd;
  font-style: italic;
  text-align: left;
  letter-spacing: 2px;
  font-size: 14px;
}
/*News*/
footer .a-footer-region {
	font-size: 14px;
	border: 1px solid #384A60;
	border-radius: 4px;
	line-height: 23px;
}

footer .dropdown-toggle::after {
	margin-top: 10px;
}


footer .region-group__mobile {/*.region-group.*/
  display: none;
}

@media (max-width: 640px) {
  /*   footer .region-group {
      padding-top: 10px;
      padding-bottom: 10px;
      width: auto;
      margin: 0 auto;
    } */
    footer .region-group {
      display: none;
    }
    footer .region-group__mobile { /*.region-group*/
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding-top: 15px;
      padding-bottom: 15px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 15px;
    }
}

/**Finish new styles*/

/*footer .contact-strip .logo {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: auto;
  padding-top: 21px;
  padding-bottom: 21px;
}
@media (max-width: 768px) {
  footer .contact-strip .logo {
    display: none;
  }
}
footer .contact-strip .row {
  padding: 0 15px;
  margin: 0;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 768px) {
  footer .contact-strip .row {
    display: block;
    text-align: center;
  }
}
@media (max-width: 568px) {
  footer .contact-strip .row {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}*/
footer .contact-strip__link {
  margin-right: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  footer .contact-strip__link {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media (max-width: 568px) {
  footer .contact-strip__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  footer .contact-strip__link:last-child {
    padding-bottom: 30px;
  }
}
footer .contact-strip__link:last-child {
  margin-right: 0;
}
footer .contact-strip__link i {
  margin-right: 7.5px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
footer .contact-strip__link a {
  white-space: nowrap;
  text-transform: uppercase;
}
footer .footer__main {
  background: #00214A;
}
@media (max-width: 568px) {
  footer .local-nav .container {
    padding-right: 0;
  }
}
footer .local-nav__container {
  padding-top: 15px;
  padding-bottom: 30px;
}
@media (max-width: 568px) {
  footer .local-nav__container {
    padding-top: 0;
  }
}
footer .local-nav .row {
  margin: 0;
}
footer .local-nav__menu {
  -ms-flex: 1;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  margin-top: 15px;
}
@media (max-width: 768px) {
  footer .local-nav__menu {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
@media (max-width: 568px) {
  footer .local-nav__menu {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0;
    padding-right: 0;
  }
}
footer .local-nav__menu:last-child {
  margin-left: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 568px) {
  footer .local-nav__menu:last-child {
    border-left: none;
  }
}
footer .local-nav__menu--open .local-nav__menu_name i {
  transform: rotate(-45deg) scale(1.08);
}
@media (max-width: 568px) {
  footer .local-nav__menu-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-right: 15px;
  }
}
footer .local-nav__menu_name {
  color: #bdbdbd;
  text-transform: uppercase;
}
@media (max-width: 568px) {
  footer .local-nav__menu_name {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
footer .local-nav__menu_name i {
  display: none;
  color: #fff;
}
@media (max-width: 568px) {
  footer .local-nav__menu_name i {
    display: block;
    float: right;
    transition: transform 0.3s ease-out;
    transform: rotate(0deg) scale(1.08);
    user-select: none;
    margin-top: -2px;
  }
}
footer .local-nav .region-link__mobile {
  display: none;
}
@media (max-width: 568px) {
  footer .local-nav .region-link__mobile {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 15px;
  }
}
footer .local-nav__menu_links {
  list-style-type: none;
  padding-left: 0;
}
footer .local-nav__menu_link:hover {
  color: #fff;
}
/* footer ul.local-nav__menu_links{margin-top: 15px;margin-bottom: 15px} */
footer ul.local-nav__menu_links {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* @media(max-width:568px){footer ul.local-nav__menu_links{margin-top: 0px;margin-bottom: 0px}} */
@media (max-width: 568px) {
  footer ul.local-nav__menu_links {
    padding-top: 0;
    padding-bottom: 0;
  }
}
footer .local-nav__menu_links li {
  margin-bottom: 7.5px;
}
@media (max-width: 568px) {
  footer .local-nav__menu_links {
    margin: 0;
    margin-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  footer .local-nav__menu_links li:last-child {
    margin-bottom: 30px;
  }
}
footer .local-nav__menu_links a i {
  margin-left: 7.5px;
}
footer .local-nav__menu_link {
  color: #fff;
  text-decoration: none;
}
footer .local-nav__menu_link:hover {
  text-decoration: underline;
}
footer .local-nav--secondary__container {
  padding-top: 0;
  padding-bottom: 30px;
}
.global-nav {
  background: #1c1e1f;
  display: -ms-flexbox;
  display: flex;
}
.global-nav__container {
  padding: 15px;
}
.global-nav .row {
  margin-left: 0;
  margin-right: 0;
}
.global-nav__copyright {
  color: rgba(255, 255, 255, 0.5);
  -ms-flex: 1;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: auto;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  .global-nav__copyright {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 568px) {
  .global-nav__copyright {
    text-align: center;
  }
}
.global-nav__links {
  margin-top: auto;
  margin-bottom: auto;
  order: -1;
  padding-bottom: 15px;
}
@media (max-width: 568px) {
  .global-nav__links {
    order: 1;
    margin-top: 30px;
  }
}
.global-nav__links a {
  text-decoration: none;
  color: #bdbdbd;
  display: inline-block;
  padding-right: 15px;
  margin-right: 15px;
  line-height: 14px;
  border-right: 1px solid #bdbdbd;
}
.global-nav__links a i {
  margin-left: 7.5px;
}
.global-nav__links a:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
.global-nav__social {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.global-nav__social a {
  margin-right: 15px;
  text-decoration: none;
}
.global-nav__social a:last-child {
  margin-right: 0;
}
.global-nav__social a:hover {
  text-decoration: none;
}
.global-nav__social img {
  height: 16px;
  width: 16px;
}
@media (max-width: 568px) {
  .global-nav__social {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}
.global-nav__social img {
  border-radius: 100%;
  background: #00214a;
  border: 10px solid #00214a;
  box-sizing: content-box;
}
.disclaimer {
  background: #1c1e1f;
}
.disclaimer .row {
  margin-left: 0;
  margin-right: 0;
}
.disclaimer p {
  color: #bdbdbd;
}
.disclaimer__container {
  padding: 0 15px 90px;
}
.disclaimer__container a,
.disclaimer__container a:hover {
  color: #bdbdbd;
  font-weight: 400;
  text-decoration: underline;
}
.disclaimer__container a:after {
  display: none !important;
}
.disclaimer__text {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 568px) {
  .disclaimer__text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.region-link {
  text-decoration: none;
}
.region-link__flag {
  margin-right: 10px;
}
.region-link__name {
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
}
.region-link:hover {
  text-decoration: none;
}
.region-link:hover .region-link__name {
  text-decoration: underline;
}
.two_col__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.two_col__sidebar {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
@media (max-width: 568px) {
  .image .block__container-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.image img {
  max-width: 100%;
  height: auto;
}
.image figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  color: #fff;
  background: #333;
  background: rgba(51, 51, 51, 0.75);
  border-radius: 7.5px 0 0 0;
  margin-left: 15px;
}
.image figcaption,
.image figcaption *,
.image figcaption .rich-text * {
  color: #fff;
}
.image figcaption p {
  margin: 0;
}
figure {
  position: relative;
}
figure.image {
  margin: 0;
}
.library .block__container-inner {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.library .heading {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.library .heading > :last-child {
  margin-bottom: 0;
}
.library__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  height: 60px;
}
.library__nav i {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -8px;
  display: inline-block;
  user-select: none;
}
@media (max-width: 1200px) {
  .block__container {
    width: 100%;
  }
}
.block__container-inner {
  display: -ms-flexbox;
  display: flex;
}
.block--overflow_x .block__container-inner {
  margin-left: -60px;
  margin-right: -60px;
}

@media (max-width: 800px) {
  .bar--cookie .bar__contents .btn {
    margin-top: 15px;
    margin-left: 0;
  }
}
.bar--cookie .btn {
  margin-left: auto;
  border-radius: 5px;
}
.bar .material-icons {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
}
.bar .announcement-icon {
  margin-right: 15px;
}
.bar .bar__close {
  cursor: pointer;
}
.bar .bar__close--mobile {
  display: none;
}
@media (max-width: 800px) {
  .bar .bar__close--mobile {
    display: inline-block;
  }
}
.bar .bar__close--desktop {
  display: inline-block;
}
@media (max-width: 800px) {
  .bar .bar__close--desktop {
    display: none !important;
  }
}
.bar .bar__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: auto;
  width: auto;
}
/* .bar .bar__container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;width:1200px;padding-top:15px;padding-bottom:15px} */
.bar .bar__container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-top: 15px;
}
.bar.bar--smaller .bar__container p {
  padding-bottom: 0;
  margin-bottom: 5px;
}
@media (max-width: 1200px) {
  .bar .bar__container {
    width: 100%;
  }
}
.bar .bar-close {
  cursor: pointer;
  margin-left: auto;
}
.bar .bar__contents {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 15px;
  align-items: center;
  -ms-flex-align: center;
}
@media (max-width: 800px) {
  .bar .bar__contents {
    align-items: start;
  }
}
.bar .bar__contents p:last-child {
  margin-bottom: 0;
}
.bar .bar__contents .rich-text {
  -ms-flex: 1;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  align-self: center;
}
.risk-disclaimer {
  background: #F1F1F1;
  text-align: left;
  position: relative;
  border-top: 1px solid #eef1f5;
 /* width: 100%;*/
 /* z-index: 300;*/
  max-height: none;
}
.risk-disclaimer.fixed {
  position: fixed;
}
.risk-disclaimer--top {
  top: 0;
}
.risk-disclaimer--top--padding {
    padding-left:45px; 
    top: 0;
}
.risk-disclaimer-container{
   position:fixed;
   top:0;
   z-index:500; 
   width: 100%;     
}
.risk-disclaimer--bottom {
  bottom: 0;
}
@media (max-width: 768px) {
  .risk-disclaimer--bottom {
    padding-bottom: 10px;
  }
}
#cookie-bar{
    z-index: 300;
}
#cookie-bar.cookie-bar--bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#cookie-bar.cookie-bar--top {
    position: fixed;
    top: 0;
    width: 100%;    
}
.bar--background-black {
    background: #000;
    color: #fff;
}
.bar .bar__close--desktop {
    display: inline-block;
}
.btn--primary.btn--green {
    background-color: #388043;
    border-color: #388043;
    color: #fff;
}
.btn--rectangle {
    border-radius: 5px;
}
.btn--primary.btn--green:hover {
    background-color: #07a258;
    border-color: #07a258;
    box-shadow: 0 10px 30px rgba(7,162,88,.3);
}
.btn:not(.btn--link):hover {
    text-decoration: none;
}
.bar .bar__close--desktop {
    display: inline-block;
}
.bar.bar--smaller .bar__container {
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 768px) {
  .bar.bar--smaller .bar__container {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* @media(max-width:768px){.table{margin:15px 0;width:100%;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #e0e0e0}}.table .table--align{overflow-x:auto}.table table{max-width:100%;border-spacing:0;border-collapse:collapse}.table table tr td,.table table tr th{text-align:left;padding:8px 1em 8px 8px;white-space:nowrap;min-width:160px;white-space:initial}.table table tr th{vertical-align:top}.table table tr td{vertical-align:top}.table table thead tr{background-color:#f2f6fa}.table table tbody tr:nth-of-type(even){background-color:#f2f6fa}.table--width--fill table{width:100%}.table--width--fill table tr td,.table--width--fill table tr th{max-width:none}.table--width--responsive table{max-width:100%}.table--width--responsive table tr td,.table--width--responsive table tr th{min-width:160px;max-width:280px}.table--width--responsive .table--align__container{display:inline-block;width:auto}.table--width--responsive.table--align--right{text-align:right}.table--width--responsive.table--align--center{text-align:center}.cc{text-align:left;font-family:Helvetica,Arial,sans-serif}.cc__header{margin-bottom:15px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.cc__header-text{margin-left:15px;border-left:1px solid #b3bbc6;padding-left:15px}.cc__title{color:#031956;font-size:22.7235px;line-height:24px;font-weight:700;display:block!important}.cc__subtitle{color:#828282;font-weight:400;font-style:italic;font-size:13px}.cc__amount{margin-bottom:15px}.cc__amount input{width:100%;padding:15px;font-size:16px;background:#f5f5f5;border-radius:5px;border:2px solid transparent}.cc__amount input:hover{border-color:#b3bbc6}.cc__amount input:focus{outline:none;border-color:#b3bbc6}.cc__select-group{-ms-flex-align:end;align-items:flex-end} */
