/**
* @File Name          : OandaBaseCss.css
* @Description        : 
* @Author             : Fernando Gomez
* @Group              : 
* @Last Modified By   : Dianelys Velazquez
* @Last Modified On   : 10-25-2022
* @Modification Log   : 
* Ver       Date            Author				Modification
* 1.0    03/18/2019   Fernando Gomez		Initial Version
* 2.0    11/21/2019   Ibrahim Napoles		Add new styles
* 3.0    10/21/2022   Dianelys Velazquez	Rebranding
**/
.oanda-body {
	color: #0b0b0b;
    font-family: Effra, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-style: normal;
	font-weight: normal;
}

.oanda-body .helvetica-family{
	font-family: Helvetica, Arial, sans-serif;
}

.oanda-body .helvetica-Neue-family{
	font-family: Helvetiva Neue, Helvetica, Arial, sans-serif;
}

.oanda-body .arial-family{
	font-family: Arial, sans-serif;
}

.oanda-body .h1,
.oanda-body h1{
	font-weight: bold;
	font-size: 50px;
	line-height: 61px;
	letter-spacing: -1px;
}

.oanda-body .h2,
.oanda-body h2{
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
	letter-spacing: -0.1px;
}
.oanda-body .h3,
.oanda-body h3{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.2px;
}
.oanda-body .h4,
.oanda-body h4{
	font-weight: normal !important;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.3px;
}
.oanda-body .h5,
.oanda-body h5{
	letter-spacing: 2px;
}

.oanda-body .h6,
.oanda-body h6 {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
}

.oanda-body .h7 {
	font-size: 14px;
	line-height: 17px;
}

.oanda-body .p,
.oanda-body p{
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.25px;
}

.oanda-body .p-small{
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.4px;
}

/* .oanda-body a {
	color: #1898EF;
} */

.oanda-body a {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: #3358ff;
}

.oanda-body .a-header-support {
	font-size: 14px;
	line-height: 17px;
}

.oanda-body .container-sm {
	max-width: 720px;
}

.oanda-body .bg-gray {
	background-color: #E8E8E8 !important;
}

.oanda-body .bg-light-gray {
	background-color: #f6f6f6 !important;
}

.oanda-body .bg-blue {
	background-color: #3358ff !important;
}

.oanda-body .bg-dark {
	background-color: #00214a !important;
}

/* Begin Text Colors*/
.oanda-body .grey {
	color: #bdbdbd;
}

.oanda-body .grey-dark {
	color: #333333;
}

.oanda-body .black {
	color: #0b0b0b;
}

.oanda-body .blue {
	color: #3358ff;
}

/* End Text Colors*/

.oanda-body .oanda-underline{
	text-decoration-line: underline;
}

.oanda-body .bg-cover {
	background-size: cover;
}

.oanda-body .badge {
	font-weight: normal;
}

.oanda-body .spinner-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.6);
}

.oanda-body .rich-text-container * {
	word-break: break-word !important; 
}

.oanda-body .rich-text-container img {
	max-width: 100% !important;
	height: auto !important;
}

.oanda-body .oanda-heading-bg,
.oanda-body .overline:before {
	background: #00d37e;
}

.oanda-body .oanda-heading-bg2 {
	background: #00214A;
}

.oanda-body .oanda-body-bg {
	background: #e9f2f6;
}

.oanda-body .oanda-heading-bg.with-hover:hover {
	background: #00214A;
}

.oanda-body .oanda-heading-bg2:hover,
.oanda-body .oanda-heading-bg2:focus {
	background: #00214A;
}

.oanda-body .btn {
	border-radius: 100px;
	line-height: 16px;
	font-size: 16px;
	padding: 13px 20px 12px;
	border: 1px solid transparent;
	transition: background-color .2s ease-out,border-color .2s ease-out;
}

.oanda-body .btn-light {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.oanda-body .btn.btn-primary,
.oanda-body .page-link {
	font-family: Helvetiva Neue,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	border-color: #3358ff;
	background-color: #3358ff;
	color: #fff;
}

.oanda-body .btn.btn-primary.btn-green {
	border-color: transparent;
	background-color: #fff;
	color: #000000 !important;
}

.oanda-body .btn.btn-secondary {
	border-color: #2879FF;
	background-color: transparent;
	color: #2879FF;
}

.oanda-body .btn.btn-primary:not([disabled]):hover,
.oanda-body .btn.btn-secondary:not([disabled]):hover,
.oanda-body .page-item .page-link:not([disabled]):hover {
	background-color: #304480;
	border-color: #304480;
	box-shadow: 0 10px 30px #ccd5ff
}

.oanda-body .btn.btn-primary.btn-green:not([disabled]):hover {
	background-color: #fff;
	border-color: #00804d;
	box-shadow: none;
}

.oanda-body .page-item .page-link {
	border-radius: 0;
}

.oanda-body .page-item:first-child .page-link {
	border-radius:  100px 0 0 100px;
}

.oanda-body .page-item:last-child .page-link {
	border-radius: 0 100px 100px 0;
}

.oanda-body .shadow-lg {
	box-shadow: 0 10px 20px 0 rgba(179,187,198,.45);
}

.oanda-body .overline {
	display: inline-block;
	letter-spacing: 2px;
	font-size: 11px;
	line-height: 1;
}

.oanda-body .overline:before {
	display: inline-block;
	width: 100%;
	height: 4px;
	content: " ";
	margin-bottom: 12px;
}

.oanda-body .transition-p {
	transition: padding linear 200ms;
}

.oanda-body .responsive-img {
	max-width: 100%;
	height: auto;
	max-height: 350px;
	object-fit: contain;
}

/**** New Styles ****/

.oanda-desktop-h3-title-add{
	margin-bottom: 1.5rem!important;
}

.oanda-body .oanda-bg-warning {
	background-color: #FAB313 !important;
}