<template>
    <!-- Header -->
    <div if:true={header}>
        <div class="slds-text-heading_medium">{header}</div>
    </div>
    <!-- Refresh -->
    <div class="slds-clearfix">
        <lightning-button label="Refresh" title="Non-primary action"
            onclick={refresh} class="slds-float_right"></lightning-button>
    </div>
    <div class="slds-is-relative slds-m-top_small">
        <!-- Spinner -->
        <div if:false={loaded} class="slds-p-vertical_large">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
        <div if:true={loaded}>
            <!-- Error -->
            <div if:true={error} class="slds-notify slds-notify_alert
                slds-alert_error" role="alert">
                <h2>{error}</h2>
            </div>
            <!-- Legal Agreements -->
            <div if:false={error}>
                <div if:false={hasLegalAs}>
                    <div class="slds-illustration slds-illustration_small">
                        <div class="slds-text-longform">
                          <h3 class="slds-text-heading_medium">There is no legal agreements</h3>
                        </div>
                      </div>
                </div>
                <div if:true={hasLegalAs}>
                    <div class="slds-box">
                        <lightning-tree-grid
                            hide-checkbox-column
                            columns={columns}
                            data={legalAs}
                            key-field="name"
                        ></lightning-tree-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>