<template>
    <lightning-card
        if:true={loaded}
        title={title}
        icon-name={iconName}>
        <div class="slds-p-horizontal_medium">
            <lightning-record-form
                record-id={relatedRecordId}
                object-api-name={relatedRecordName}
                mode="readonly"
                fields={fields}
                columns="2">
            </lightning-record-form>
        </div>
    </lightning-card>
</template>