<!--
  @description       : 
  @author            : OANDA
  @group             : 
  @last modified on  : 01-09-2023
  @last modified by  : Dianelys Velazquez
-->
<template>
    <lightning-layout>
        <lightning-layout-item padding="around-large" size="12" >
            <lightning-layout>
                <lightning-layout-item size="6" class="slds-p-right_large">
                    <lightning-layout>
                        <lightning-layout-item padding="around-medium"
                            size="12" class="slds-box lgc-bg">
                            <lightning-layout>
                                <lightning-layout-item size="12">
                                    <div class="slds-text-heading_medium slds-m-bottom_medium">
                                        External Query
                                    </div>        
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-input
                                                type="text"
                                                label="User Name"
                                                value={extCriteria.userName}
                                                onchange={updateCriteriaUserName}
                                                onkeypress={handleEnter}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>                                    
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-combobox
                                                name="userNameEnv"
                                                label="Env"
                                                placeholder="Choose Env"
                                                value={extCriteria.userNameEnv}
                                                onchange={updateCriteriaUserNameEnv}
                                                options={userEnvOptions}>
                                            </lightning-combobox>
                                        </lightning-layout-item> 
                                    </lightning-layout>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-input
                                                type="text"
                                                label="v20 Account Id"
                                                value={extCriteria.v20AccId}
                                                onchange={updateCriteriaV20AccId}
                                                onkeypress={handleEnter}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-combobox
                                                name="v20AccIdEnv"
                                                label="Env"
                                                placeholder="Choose Env"
                                                value={extCriteria.v20AccEnv}
                                                onchange={updateCriteriaV20AccEnv}
                                                options={envOptions}>
                                            </lightning-combobox>
                                        </lightning-layout-item> 
                                    </lightning-layout>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
                <lightning-layout-item size="6">
                    <lightning-layout >
                        <lightning-layout-item padding="around-medium"
                            size="12" class="slds-box lgc-bg">
                            <lightning-layout>
                                <lightning-layout-item  size="12">
                                    <div class="slds-text-heading_medium slds-m-bottom_medium">
                                        Salesforce Query
                                    </div>
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-input
                                                type="text"
                                                label="Email"
                                                value={sfCriteria.email}
                                                onchange={updateCriteriaEmail}
                                                onkeypress={handleEnter}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-input
                                                type="text"
                                                label="Account Name"
                                                value={sfCriteria.accName}
                                                onchange={updateCriteriaAccName}
                                                onkeypress={handleEnter}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-layout>
                                        <lightning-layout-item size="12">
                                            <lightning-input
                                                type="text"
                                                label="User Id"
                                                value={sfCriteria.userId}
                                                onchange={updateCriteriaUserId}
                                                onkeypress={handleEnter}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>
    </lightning-layout>
</template>