/**
 * @author Fernando Gomez
 * @since 5/13/2019
 */
.THIS.article-section,
.THIS .article-section  {
	height: 100%;
}

.THIS .article-body  {
	top: 0;
	right: 13.25rem;
	bottom: 0;
	left: 0;
	margin-top: 0 !important;
}

.THIS .article-menu  {
	top: 0;
	right: -.75rem;
	padding: 0 .75rem;
	max-height: 100%;
	width: 14rem;
	min-width: 12.5rem;
	transform: none;
	margin: 0;
}

.THIS .article-menu .slds-dropdown {
	position: relative;
	z-index: auto;
	left: auto;
	float: none;
	margin-top: 0;
	transform: none;
}

.THIS .mainIcon {
	background-color: #F2CF5B;
}

.THIS .mainIcon svg {
	width: 2.25rem;
	height: 2.25rem;
}

.THIS .inputSelect .slds-form-element__label,
.THIS .imgSelector .slds-form-element__label,
.THIS .slds-rich-text-editor.slds-has-error .slds-form-element__help {
	display: none;
}

.THIS  .cFlexibleInputRichText .addLink {
	top: .3rem;
	right: .3rem;
}

.THIS .slds-rich-text-editor__toolbar {
	padding: .25rem .25rem 0 .25rem;
}

.THIS .slds-rich-text-area__content {
	min-height: 2.3rem;
	max-height: none;
	padding: .5rem;
}

.THIS .tableEditor .deleteItem {
	position: absolute;
	top: 0;
	right: 0;
}

.THIS .tableEditor .deleteItem + * {
	margin-right: 36px;
}

.THIS [data-is-deleted="true"] {
	overflow-y: hidden;
	pointer-events: none;
	animation: deletion 0.5s 1;
	opacity: 0;
	transform: scale(0, 0);
	background-color: #ff9684;
}

.THIS th.addColumn,
.THIS td.deleteRow {
	vertical-align: top;
	width: 32px;
}

.THIS .inputCell {
	vertical-align: top;
	min-width: 210px;
}

.THIS .slds-form-element__icon {
	padding-top: 0;
}

.THIS .imgSelector .slds-file-selector__dropzone {
	height: 123px;
	padding: 2rem 1rem;
}

.THIS .imgSelector .slds-file-selector__body {
	flex-direction: column;
}

.THIS .slds-file-selector__button {
	margin-top: .5rem;
	margin-bottom: .25rem;
}

.THIS .imgPreview {
	border: 1px dashed rgb(221, 219, 218);
	border-radius: 4px;
	width: 182px;
	height: 123px;
	padding: 2px;
}

.THIS .imgPreview img {
	max-height: 100%; 
	max-width: 100%;
}

.THIS .slds-form-element_horizontal .slds-form-element__control {
	padding-left: 80px;
}

.THIS .previewFrame {
	height: 500px;
	border: none;
	max-height: 100%;
}

.THIS .videoFrame {
	width: 320px;
	height: 200px;
	border: none;
	background-color: #ddd;
}

.THIS .fillFrame {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.95);
}

.THIS .is-disabled,
.THIS a[disabled="true"],
.THIS a[disabled="disabled"] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.7;
}

.THIS .item-selected {
	border: 2px solid;
	border-color:green;
}

.THIS .item-section-error {
	border: 2px solid;
	border-color:#CC3333;
}
@-webkit-keyframes deletion {
	0% { 
		opacity: 1;
		transform: scale(1, 1);
	}
	100% { 
		opacity: 0;
		transform: scale(0, 0);
	}
}
@-moz-keyframes deletion {
	0% { 
		opacity: 1;
		transform: scale(1, 1);
	}
	100% { 
		opacity: 0;
		transform: scale(0, 0);
	}
}
@-o-keyframes deletion {
	0% { 
		opacity: 1;
		transform: scale(1, 1);
	}
	100% { 
		opacity: 0;
		transform: scale(0, 0);
	}
}
@keyframes deletion {
	0% { 
		opacity: 1;
		transform: scale(1, 1);
	}
	100% { 
		opacity: 0;
		transform: scale(0, 0);
	}
}