<template>
    <lightning-accordion>
        <lightning-accordion-section name="legalAgreements" label="Legal Agreements">
            <!-- Refresh -->
            <div class="slds-clearfix">
                <lightning-button label="Refresh" title="Non-primary action"
                    onclick={refreshLA} class="slds-float_right"></lightning-button>
            </div>
            <div class="slds-is-relative slds-m-top_small">
                <!-- Spinner -->
                <div if:false={loadedLA} class="slds-p-vertical_large">
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                </div>
                <div if:true={loadedLA}>
                    <!-- Error -->
                    <div if:true={errorLA} class="slds-notify slds-notify_alert
                        slds-alert_error" role="alert">
                        <h2>{errorLA}</h2>
                    </div>
                    <!-- Legal Agreements -->
                    <div if:false={errorLA}>
                        <div if:false={hasLA}>
                            <div class="slds-illustration slds-illustration_small">
                                <div class="slds-text-longform">
                                <h3 class="slds-text-heading_medium">There is no legal agreements</h3>
                                </div>
                            </div>
                        </div>
                        <div if:true={hasLA}>
                            <div class="slds-box">
                                <lightning-tree-grid
                                    hide-checkbox-column
                                    columns={columnsLA}
                                    data={legalAgreements}
                                    key-field="name"
                                ></lightning-tree-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-accordion-section>
        <lightning-accordion-section if:true={displayKIDsSection} name="kids" label="KIDs">
            <!-- Refresh -->
            <div class="slds-clearfix">
                <lightning-button label="Refresh" title="Non-primary action"
                    onclick={refreshKIDs} class="slds-float_right"></lightning-button>
            </div>
            <div class="slds-is-relative slds-m-top_small">
                <!-- Spinner -->
                <div if:false={loadedKIDs} class="slds-p-vertical_large">
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                </div>
                <div if:true={loadedKIDs}>
                    <!-- KIDs -->
                    <div if:false={hasKIDs}>
                        <div class="slds-illustration slds-illustration_small">
                            <div class="slds-text-longform">
                            <h3 class="slds-text-heading_medium">There is no KIDs</h3>
                            </div>
                        </div>
                    </div>
                    <div if:true={hasKIDs}>
                        <div class="slds-box">
                            <lightning-tree-grid
                                hide-checkbox-column
                                columns={columnsKIDs}
                                data={kids}
                                key-field="name"
                            ></lightning-tree-grid>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-accordion-section>
    </lightning-accordion>
</template>