.slds-backdrop_open {
  z-index: 1;
  background-color: transparent;
}
.dropdown {
  /*z-index: 3 !important;*/
}
.revert-border-with {
  border-width: revert !important;
}
.mail-pill { 
  width:fit-content; 
  display:flex;
  padding: 0.3rem;
}
.search-input-css {
    border: none !important;
    box-shadow: none !important;
    float: left !important;
    min-width: 18rem !important;
}
.carbonCopyButtons {
  line-height: 1.875rem;
  float: right;
}
.invalid-mail {
  border-color: rgb(234, 0, 30);
}