<template>
  <div if:true={showRecordsList} onclick={onLeave} class="slds-backdrop slds-backdrop_open"></div>
  <div class="">
    <div style="width: 100%;" class="slds-form-element__control dropdown" aria-expanded="true">
      <div data-key="div-box-input" style="display: flow-root; padding: 3px"
        class="slds-box slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-haspopup="listbox"
        onclick={setSearchFocus}>
        <template for:each={selectedEmails} for:item="emailItem">
          <div style="float: left;margin-bottom:1px;margin-right:1px; cursor:pointer;" key={emailItem.email} data-key="pilldiv"
            class={emailItem.cssClass} role="none">
            <div onclick={showLabelWithEmail} data-mail={emailItem.email} if:true={emailItem.showIcon} class="slds-icon slds-icon_small slds-m-right_x-small" aria-hidden="true">
              <lightning-icon icon-name={emailItem.icon} size="small"></lightning-icon>
            </div>
            <p onclick={showLabelWithEmail} data-mail={emailItem.email} class="slds-m-left_xx-small " style="line-height: 1.5rem;">{emailItem.label}</p>
            <p if:true={emailItem.showEmailAddress} class="slds-m-left_xx-small " style="line-height: 1.5rem;">&lt;{emailItem.email}&gt;</p>
            <div onclick={removeRecordOnLookup} data-email={emailItem.email} data-id="emailItem.email"
              key={emailItem.email} id={emailItem.email}>
              <lightning-button-icon data-id={emailItem.email} class="slds-m-left_x-small" style="line-height: 1.3rem;"
                icon-name="utility:close" variant="bare" alternative-text="Settings" title="Settings">
              </lightning-button-icon>
            </div>
          </div>
        </template>
        <div data-key="searchdiv" style="float: left;padding:1px;" class="slds-combobox__form-element" role="none">
          <input type="search" style="border-color: transparent;box-shadow: none;padding-left: 1px!important;"
            onfocusin={onFocus} value={inputSearchKey} onkeydown={handleKeyPress} oninput={handleSearch}
            onkeyup={handleSearchChange} class={searchCssClass} id="search-input" data-id="search-input"
            aria-autocomplete="list" aria-controls="listbox-id-2" role="textbox" autocomplete="off"
            incremental="incremental" />
        </div>
        <a class="carbonCopyButtons slds-m-right_x-small" if:true={showBccButton} onclick={showBcc}>Bcc</a>
        <a class="carbonCopyButtons slds-m-right_x-small" if:true={showCcButton} onclick={showCc}>Cc</a>
      </div>
      <template if:true={showRecordsList} class="dropdown">
        <div id="listbox-id-2-venu" data-key="dropdownresult"
          class="slds-show slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid dropdown" role="listbox">
          <ul class="slds-listbox slds-listbox_vertical" role="presentation">
            <template if:true={message} class="slds-p-around_medium">
              <p class="slds-p-left_small slds-p-top_xx-small slds-p-bottom_xx-small">{message}</p>
            </template>
            <template for:each={recordsList} for:item="record">
              <li id={record.Id} key={record.Id} data-id={record.Id} data-name={record.Name} data-email={record.Email}
                data-icon={record.icon} onclick={handleRecordSelection} role="presentation" class="slds-listbox__item">
                <div data-key={record.Id}
                  class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                  role="option">
                  <span class="slds-media__figure slds-listbox__option-icon">
                    <span class="slds-icon_container">
                      <lightning-icon icon-name={record.icon} size="small"></lightning-icon>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{record.Name}</span>
                    {record.Description}
                  </span>
                </div>
              </li>
            </template>
          </ul>
        </div>
      </template>
    </div>
  </div>
</template>