/**
 * @author Fernando Gomez, SkyPlanner LLC
 * @since 4/30/2019
 */
.THIS .slds-rich-text-area__content {
	height: 300px;
	max-height: 300px;
}

.THIS .spinner-holder {
	width: 40px;
	height: 40px;
}

.THIS .slds-vertical-tabs__nav {
	width: auto !important;
}

.THIS .insertImage .slds-file-selector__text,
.THIS .insertImage .slds-form-element__label {
	display: none;
}

.THIS .insertImage .slds-file-selector__button {
	font-size: 0;
}

.THIS .insertImage .slds-file-selector__button:after {
	content: "Insert image";
	font-size: .8125rem;
}