<!-- Chat Transcript Event Related List -->
<template>
        <lightning-card title="Chat Transcript Events" icon-name="standard:live_chat">
            <template if:false={noRecords}>
                        <div class="slds-m-around_x-small">
                                <lightning-datatable
                                        key-field="id"
                                        data={data}
                                        columns={columns}
                                        hide-checkbox-column=true
                                        max-row-selection="0"
                                        sorted-by={sortBy}
                                        sorted-direction={sortDirection}
                                        onsort={sortRecords}>
                                </lightning-datatable>
                        </div>
            </template>
            <template if:true={noRecords}>
                <div class="slds-m-around_small">
                    No items to display.
                </div>
            </template>
        </lightning-card>
</template>