.classTable {
  background: blue;
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion .expand {
  display: inline-block;
}

.accordion .collapse {
  display: none;
}

.accordion.active .expand {
  display: none;
}

.accordion.active .collapse {
  display: inline-block;
}

.panel {
  /* padding: 0 18px; */
  /* background-color: white; */
  display: none;
  /* overflow: hidden; */
}