<!--
  @description       : 
  @author            : Yaneivys Gutierrez
  @group             : 
  @last modified on  : 01-19-2023
  @last modified by  : Yaneivys Gutierrez
-->
<template>
  <table
    if:true={columns}
    class="slds-table slds-table_bordered slds-table_cell-buffer"
  >
    <thead>
      <tr class="">
        <th></th>
        <template for:each={columns} for:item="c">
          <th key={c.key}>
            <div class="slds-truncate">{c.value}</div>
          </th>
        </template>
      </tr>
    </thead>
    <tbody if:true={tableData}>
      <template for:each={tableData} for:item="d" for:index="i">
        <tr
          key={d.id}
          data-id={d.id}
          class={d.mainClass}
          onclick={handleAccordionClick}
        >
          <td>
            <lightning-icon
              class="expand"
              if:true={d.haveChildren}
              icon-name="utility:chevronright"
              size="xx-small"
              alternative-text="Expand"
              title="Expand"
            ></lightning-icon>
            <lightning-icon
              class="collapse"
              if:true={d.haveChildren}
              icon-name="utility:chevronup"
              size="xx-small"
              alternative-text="Collapse"
              title="Collapse"
            ></lightning-icon>
          </td>
          <template for:each={d.record} for:item="map" for:index="j">
            <td key={map.key}>
              <lightning-formatted-text
                if:true={map.value.type.text.show}
                value={map.value.value}
              ></lightning-formatted-text>
              <lightning-formatted-url
                if:true={map.value.type.url.show}
                value={map.value.type.url.value}
                label={map.value.type.url.label}
                onclick={handlerUrlOnClick}
              ></lightning-formatted-url>
              <lightning-formatted-email
                if:true={map.value.type.email.show}
                value={map.value.value}
              ></lightning-formatted-email>
              <lightning-formatted-number
                if:true={map.value.type.currency.show}
                value={map.value.value}
                format-style="currency"
                currency-code="USD"
              ></lightning-formatted-number>
              <lightning-formatted-number
                if:true={map.value.type.percent.show}
                value={map.value.value}
                format-style="percent"
              ></lightning-formatted-number>
              <lightning-formatted-phone
                if:true={map.value.type.phone.show}
                value={map.value.value}
              ></lightning-formatted-phone>
              <lightning-formatted-date-time
                if:true={map.value.type.date.show}
                value={map.value.value}
                day="2-digit"
                month="2-digit"
                year="numeric"
              ></lightning-formatted-date-time>
              <lightning-formatted-date-time
                if:true={map.value.type.datetime.show}
                value={map.value.value}
                day="2-digit"
                month="2-digit"
                year="numeric"
                hour="2-digit"
                minute="2-digit"
                hour12="true"
              ></lightning-formatted-date-time>
              <lightning-input
                if:true={map.value.type.boolean.show}
                value={map.value.value}
                type="checkbox"
                disabled="true"
              ></lightning-input>
            </td>
          </template>
        </tr>
        <tr key={d.id} class="panel" if:true={d.haveChildren}>
          <td colspan={d.colspan}>
            <template for:each={d.children} for:item="child" for:index="k">
              <h2 key={child} class="slds-text-title_bold slds-m-top_xx-small">{child.title}</h2>
              <c-custom-table
                key={child}
                table-data={child.data}
                columns={child.columns}
              ></c-custom-table>
            </template>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>