<template>

    <template if:true={loading}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template>

    <article class="slds-card">
        <div class="slds-card__header">
            <div class={filtersSectionClass}>
                <h3 class="slds-section__title">
                    <button aria-controls="expando-unique-id1" 
                        aria-expanded="true"
                        class="slds-button slds-section__title-action">
                        <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#switch"></use>
                        </svg>
                        <span class="slds-truncate"
                            title="Section Title">Filters</span>
                    </button>
                </h3>
                <div aria-hidden="false" class="slds-section__content" id="expando-unique-id1">                    
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-5">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-01">
                                    Case Owner Name
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" id="form-element-01" 
                                            placeholder="Case Owner Name" 
                                            class="slds-input"
                                            value={filters.caseOwnerFilter}
                                            onchange={handleInputChange} />
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" 
                                        for="form-element-02">
                                    Case Owner Role
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                            id="form-element-02" 
                                            placeholder="Case Owner Role" 
                                            class="slds-input"
                                            value={filters.caseOwnerRoleFilter}
                                            onchange={handleInputChange} />
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-03">
                                    Account Division
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                        id="form-element-03" 
                                        placeholder="Account Division" 
                                        class="slds-input"
                                        value={filters.accountDivisionFilter}
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-04">
                                    Chat Division
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                        id="form-element-04" 
                                        placeholder="Chat Division" 
                                        class="slds-input"
                                        value={filters.chatDivisionFilter}
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <c-combobox-multi-l-w-c
                                        multiselectable="true"
                                        title="Case Origin"
                                        placeholder="Select Origin"
                                        values={originOptions}
                                        onchangevalue={handleMultiSelectChange}>
                                        </c-combobox-multi-l-w-c>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-5">
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="InquireNature"
                                        id="form-element-06" 
                                        label="Inquire Nature"
                                        placeholder="Select Inquire Nature" 
                                        options={inquireNatures} 
                                        value={filters.inquireNatureFilter}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="type" 
                                        id="form-element-07" 
                                        label="Type"
                                        placeholder="Select Type" 
                                        options={types} 
                                        value={filters.typeFilter}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="subType" 
                                        id="form-element-08" 
                                        label="SubType" 
                                        placeholder="Select SubType"
                                        options={subTypes} 
                                        value={filters.subTypeFilter}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-input type="date" 
                                        id="form-element-09"
                                        date-style="long"
                                        name="fromDate" 
                                        label="From Date"
                                        value={fromDate}
                                        placeholder="From date"
                                        onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-input 
                                        id="form-element-11"
                                        type="date" 
                                        date-style="long" 
                                        name="toDate" 
                                        label="To Date" 
                                        value={toDate}
                                        placeholder="To date"
                                        onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-5">
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="type"
                                        id="form-element-10"
                                        label="Case RecordType"
                                        value={recordTypeSelected}
                                        placeholder="Select RecordType"
                                        options={recordTypes}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-12">
                                    Channel
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                        id="form-element-12" 
                                        placeholder="Channel" 
                                        class="slds-input"
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-13">
                                    Language Preference (Client)
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                        id="form-element-13" 
                                        placeholder="Language Preference" 
                                        class="slds-input"
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-14">
                                    Chat Language
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                        id="form-element-14" 
                                        placeholder="Chat Language" 
                                        class="slds-input"
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-15">
                                    Chat Duration (seconds)
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="number" 
                                        id="form-element-15" 
                                        placeholder="Chat Duration" 
                                        class="slds-input"
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-5">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-16">
                                    Country of Residence
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" 
                                        id="form-element-16" 
                                        placeholder="Country of Residence" 
                                        class="slds-input"
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="tenure" 
                                        id="form-element-17" 
                                        label="Agent Tenure" 
                                        value={filters.agentTenureFilter}
                                        placeholder="Agent Tenure" 
                                        options={tenureOptions} 
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="form-element-18">
                                    # of Cases
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="number" 
                                        id="form-element-18" 
                                        placeholder="# of Cases"
                                        value={filters.numberCasesFilter}
                                        class="slds-input" 
                                        onchange={handleInputChange}/>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="reviewed" 
                                        id="form-element-19" 
                                        label="QI Reviewed" 
                                        value={reviewedSelected}
                                        placeholder="Select QI Reviewed" 
                                        options={booleanOptions}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="complaint" 
                                        id="form-element-20" 
                                        label="Is a Complaint" 
                                        value={reviewedSelected}
                                        placeholder="Select Is a Complaint" 
                                        options={booleanOptions}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
                        </div>

                        <div class="slds-col slds-size_1-of-5">
							<div class="slds-form-element">
								<label class="slds-form-element__label"
									for="form-element-22">
									QI Case Owner
								</label>
								<div class="slds-form-element__control">
									<input type="text"
										id="form-element-22" 
										placeholder="QI Case Owner Name" 
										class="slds-input"
										value={filters.caseQIOwnerFilter}
										onchange={handleInputChange} />                                    
								</div>
							</div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-combobox name="isHVC" 
                                        id="form-element-23" 
                                        label="Is HVC"
                                        placeholder="Select If HVC" 
                                        options={booleanOptions}
                                        onchange={handleInputChange}></lightning-combobox>
                                </div>
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="slds-card__footer">
			<lightning-button variant="brand"
				label="Apply Filters"
				title="Apply Filters"
				icon-name="utility:filterList"
				class="slds-var-m-left_x-small"
				onclick={applyFilters}></lightning-button>
        </footer>
    </article>

    <article class="slds-card">
        <div class="slds-card__header">
            <div class={ticketsSectionClass}>
                <h3 class="slds-section__title">
                    <button aria-controls="expando-unique-id3" 
                            aria-expanded="true" 
                            class="slds-button slds-section__title-action"
                            onclick={ticketToggleShow}>
                        <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#switch"></use>
                        </svg>
                        <span class="slds-truncate" title="Section Title">
							Cases ({cases.length})
						</span>
                    </button>
                </h3>
                <div aria-hidden="false" class="slds-section__content" id="expando-unique-id3">
                    <template if:true={hasCases}>
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Case Number">Case Number</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Chat Division">Chat Division</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Case RecordType">Case RecordType</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Type">Type</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="CreatedDate">CreatedDate</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Case Origin">Case Origin</div>
                                    </th>                                    
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Channel">Channel</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Country">Country</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={cases} for:item="currentCase">
                                    <tr class="slds-hint-parent" key={currentCase.Id}>
                                        <th data-label="Opportunity Name" scope="row">
                                            <div class="slds-truncate" title={currentCase.CaseNumber}>
                                                <a href={currentCase.url} target="_blank" tabindex="-1">{currentCase.CaseNumber}</a>
                                            </div>
                                        </th>
                                        <td data-label="Account Name">
                                            <div class="slds-truncate" title={currentCase.Chat_Division__c}>{currentCase.Chat_Division__c}</div>
                                        </td>
                                        <td data-label="RecordType">
                                            <div class="slds-truncate" title={currentCase.RecordType.Name}>{currentCase.RecordType.Name}</div>
                                        </td>
                                        <td data-label="Type">
                                            <div class="slds-truncate" title={currentCase.Type}>{currentCase.Type}</div>
                                        </td>
                                        <td data-label="Created Date">
                                            <lightning-formatted-date-time value={currentCase.CreatedDate} year="numeric" month="numeric" day="numeric"
                                                hour="2-digit" minute="2-digit" time-zone-name="short">
                                            </lightning-formatted-date-time>
                                        </td>
                                        <td data-label="Case Origin">
                                            <div class="slds-truncate" title={currentCase.Origin}>{currentCase.Origin}</div>
                                        </td>
                                        <td data-label="Channel">
                                            <div class="slds-truncate" title={currentCase.Case_Channel__c}>{currentCase.Case_Channel__c}</div>
                                        </td>
                                        <td data-label="Country">
                                            <div class="slds-truncate" title={currentCase.Country__c}>{currentCase.Country__c}</div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </template>
                    <template if:false={hasCases}>
                        <c-sleepingcamp 
                            mainmessage="No Tickets to show"
                            submessage="Try applying different filters"
                        >
                        </c-sleepingcamp>
                    </template>
                </div>
            </div>
        </div>
    </article>
</template>