<!-- Submit Case For Approval -->
<template>
    <div class="modal-header slds-modal__header">
        <h2>Submit for Approval</h2>
    </div>
    <lightning-card>
        <div class="slds-p-horizontal_medium slds-p-bottom_medium">
            <template if:true={loading}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
            <template if:true={isMissingCAS}><div style="color: red">A comply advantage search has not been run for this application.</div>
            </template>
                <lightning-layout-item>
                    <lightning-input type="text" name="commentsInput" label="Comments" onchange={handleCommentsChange} ></lightning-input>
                </lightning-layout-item>
            <div style="color:red;">{errorMessage}</div>
        </div>
        <!-- workaround for undefined recordId in LWC ScreenAction -->
        <div style="display:none;">{recordId}</div>
    </lightning-card>
        <div class="slds-modal__footer">
            <lightning-button variant="neutral" label="Cancel" onclick={closeQuickAction} class="slds-m-right_x-small"></lightning-button>
            <template if:false={isMissingCAS}><lightning-button variant="brand" label="Submit" onclick={handleSubmit} class="slds-m-right_x-small"></lightning-button></template>
            <template if:true={isMissingCAS}><lightning-button variant="brand" label="Submit anyway" onclick={handleSubmit} class="slds-m-right_x-small"></lightning-button></template>
        </div>
</template>