<template>
    <div id="ExpandableCalendarSection" class={searchMatchesSectionClass}>
        <h3 class="slds-section__title" style='padding-bottom:0;'>
            <!-- sldsValidatorIgnoreNextLine -->
            <button aria-controls="searchMatches" aria-expanded="true"
				class="slds-button slds-section__title-action"
				onclick={toggleSearchMatchesSection}><lightning-icon
					icon-name="utility:switch"
					alternative-text="button icon"
					size="x-small"
					class="slds-section__title-action-icon slds-button__icon_left"
					></lightning-icon><span class="slds-truncate"
					title="Section Title">Search Matches</span></button>
        </h3>
        <div aria-hidden="false" class="slds-section__content" id="searchMatches" style='padding-top:0;'>
            <template if:true={inProgress}>
                <lightning-spinner class="spins" size="medium"></lightning-spinner>
            </template>

            <template if:false={inProgress}>
                <div class="actionRow slds-var-m-top_x-small slds-grid">
                    <div class="selectAllCheckboxWrapper">
                        <lightning-input type="checkbox"
							label="SelectAll"
							data-element="selectAllCheckbox"
							onchange={selectAllMatches}
							class="slds-m-left_x-large 
								slds-p-top_xx-small slds-form-element"
							checked={selectAll}></lightning-input>
                    </div>
                    <template if:true={minOneMatchSelected}>
                        <div class="actionsMenu slds-var-m-left_large">                        
                            <lightning-button-menu title="Match Status" onselect={updateMatchStatus} alternative-text="Show menu" variant="border-filled" icon-name="utility:priority" class="slds-m-left_medium">
                                <lightning-menu-subheader label="Match Status"></lightning-menu-subheader>
                                <lightning-menu-divider></lightning-menu-divider>
                                <lightning-menu-item value="unknown" label="Unknown"></lightning-menu-item>
                                <lightning-menu-item value="no_match" label="No Match"></lightning-menu-item>
                                <lightning-menu-item value="potential_match" label="Potential Match"></lightning-menu-item>
                                <lightning-menu-item value="true_positive" label="True Positive"></lightning-menu-item>
                                <lightning-menu-item value="false_positive" label="False Positive"></lightning-menu-item>
                            </lightning-button-menu>

                            <lightning-button-menu title="Whitelist" onselect={updateWhiteListStatus} alternative-text="Show menu" variant="border-filled" icon-name="utility:check" class="slds-m-left_medium">
                                <lightning-menu-subheader label="Whitelist"></lightning-menu-subheader>
                                <lightning-menu-divider></lightning-menu-divider>
                                <lightning-menu-item value="true" label="On"></lightning-menu-item>
                                <lightning-menu-item value="false" label="Off"></lightning-menu-item>
                            </lightning-button-menu>

                            <lightning-button-menu title="Risk Level" onselect={updateRiskLevel} alternative-text="Show menu" variant="border-filled" icon-name="utility:warning" class="slds-m-left_medium">
                                <lightning-menu-subheader label="Risk Level"></lightning-menu-subheader>
                                <lightning-menu-divider></lightning-menu-divider>
                                <lightning-menu-item value="low" label="Low"></lightning-menu-item>
                                <lightning-menu-item value="medium" label="Medium"></lightning-menu-item>
                                <lightning-menu-item value="high" label="High"></lightning-menu-item>
                                <lightning-menu-item value="unknown" label="Unknown"></lightning-menu-item>
                            </lightning-button-menu>

                            <!-- sldsValidatorIgnoreNextLine -->
                            <lightning-button-icon icon-name="utility:comments"
								onclick={openDetailsCommentsDialog}  
								alternative-text="Comments"
								size="medium" 
								class="slds-m-left_medium slds-m-right_medium"
								title="add comments to matches"
								aria-label="add comments to matches"
								label="add comments to matches"></lightning-button-icon>
                        </div>
                    </template>
                    <div class="caseActionsWrapper slds-col_bump-left
							slds-grid slds-var-p-right_x-large">
                        
                        <template if:true={hasMonitorStatusChanges}>
                            <lightning-button variant="brand" 
                                              label="Acknowledge Changes"
                                              title="Acknowledge Changes"  
                                              onclick={acknowledgeMonitorChanges} 
							                  class="acknowledgeButton slds-var-m-left_small">
                            </lightning-button>
                        </template>
                        
						<lightning-combobox name="progress"
							value={selectedCategoryFilter}
							placeholder="Filter By"
							options={filterAMLTypes}
							class="caseFilterButton"
							variant="label-hidden"
							onchange={filterMatches}></lightning-combobox>
						<lightning-button variant="brand-outline" 
							label={caseCommentButtonLabel} 
							icon-name="utility:comments" 
							title="Add comments to case"  
							onclick={openCommentsDialog} 
							class="caseCommentsButton
								slds-var-m-left_small"></lightning-button>
                    </div>
                </div>
                <div class="slds-border_bottom divider slds-var-m-around_medium"></div>  
                <div class="slds-grid slds-gutters slds-wrap slds-var-m-around_large">
                    <template for:each={matchList} for:item="match">
                        <div class="card" key={match.entityId}>
                            <c-comply-advantage-search-hit-component
								onmatchselectionchange ={matchSelectionChangeEvent} 
								match={match}
                                onnewmatchcomment={newMatchCommentHandler}
								></c-comply-advantage-search-hit-component>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </div>
    <template if:true={showCommentsDialog}>
        <c-comply-advantage-search-comments search-id={recordId}
			match-ids={selectedMatchIds}
			match-list={matchList}
			is-case-comment-dialog={isCaseCommentDialog} 
			onnewcomment={newCommentHandler} 
			onclosecommentsdialog={hideCommentsDialog}
			></c-comply-advantage-search-comments>
    </template>   
  </template>