.header
{
   background-color: #f5f5f6;
   margin-bottom: .625rem;
}
/* .actionRow{
   height: 31px;
} */
.card {
   height: 96%;
   min-height: 325px; 
   padding: .9375rem;
   margin: 0 .5rem .625rem;
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 250px;
   min-width: 0;
   word-wrap: break-word;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: .125rem;
   background-color: #fff;
   background-clip: border-box;
   box-shadow: 0 0 1px 0 rgba(0,0,0,.2), 0 0 2px 0 rgba(0,0,0,.14), 0 2px 4px 0 rgba(0,0,0,.12);
}

.spins::after {
   content :'Loading Comply Advantage Search Matches...';
   position: absolute;
   width: 100%;
   text-align: center;
   top: calc(50% + 3em);
   font-weight: bold;
}
.acknowledgeButton{
   margin-right: 11px;
}
/* .caseActionsWrapper{
   float: right;
   min-width: 342px;
   margin-right: 200px;
} */
/* .caseFilterButton{
   max-width: 150px;
   float: left;
   bottom: 17px;
} */
/* .caseCommentsButton{
   float: right;
} */